<div class="row">
    {% for entity in entities %}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body" style="height: 8em;">
                    <div class="row">
                        <div class="col-lg-offset-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img src="{{ asset('bundles/cm/images/') }}{{ entity.thumbnail }}"
                                 alt="..." class="img-thumbnail">
                        </div>
                    </div>

                </div>
                <div class="panel-footer">{{ entity.naziv }}
                    {#<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">#}

                    {#</div>#}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <ul class="list-inline pull-right">
                            <li class="col-md-4 col-sm-4">
                                <p>
                                    <a href="{{ path('portal_show2', { 'id': entity.id }) }}"
                                       class="btn btn-xs btn-default btn-block" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Prikaži detalj portala {{ entity.naziv }}"><i
                                                class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                </p>
                            </li>
                            <li class="col-md-4 col-sm-4">
                                <p>
                                    <a href="{{ path('portal_edit', { 'id': entity.id }) }}"
                                       class="btn btn-xs btn-primary btn-block" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Uredi podatke portala {{ entity.naziv }}"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                </p>
                            </li>
                            <li class="col-md-4 col-sm-4">
                                <p>
                                    <a href="{{ path('portalkorisnik_listbyportal', { 'portal': entity.id }) }}"
                                       class="btn btn-xs btn-info btn-block" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Pregled svih korisnika portala {{ entity.naziv }}"><i
                                                class="fa fa-users" aria-hidden="true"></i></a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</div>