<table class="records_list table table-responsive" style="table-layout: fixed;" id="lista-portala">
    <thead>
    <tr>
        <th width="4%">Id</th>
        <th width="7%">Logo</th>
        <th width="23%">Naziv</th>
        <th width="15%">Grupa</th>
        <th width="14%">Code</th>
        <th width="13%">View Connect</th>
        <th width="13%">View Setup</th>
        <th width="10%">Akcije</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a
                        href="{{ path('portal_show2', { 'id': entity.id }) }}">{{ entity.id }}</a>
            </td>
            <td>
                <img
                        src="{{ asset('bundles/cm/images/') }}{{ entity.thumbnail }}"
                        alt="..." class="img-thumbnail">
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>{{ entity.naziv }}</li>
                    <li>
                        <a href="{{ entity.link }}" target="_blank">{{ entity.link }}</a>
                    </li>
                </ul>
            </td>
            <td>
                <a href="{{ path('portalgroup_show', {'id':entity.portalGroup.id}) }}">{{ entity.portalGroup.name }}</a>
            </td>
            <td>
                <a href="{{ path('portalcode_show', {'id':entity.code.id}) }}">{{ entity.code.id }}</a>
            </td>
            <td>{{ entity.viewTypeConnect }}</td>
            <td>{{ entity.viewTypeSetup }}</td>

            {#<td>#}
            {#<dl class="dl-horizontal">#}
            {#<dt class="">Kontakt osoba:</dt>#}
            {#<dd class="">{{ entity.contactPerson }}</dd>#}

            {#<dt class="">email:</dt>#}
            {#<dd class="">{{ entity.contactEmail }}</dd>#}

            {#<dt class="">Telefon:</dt>#}
            {#<dd class="">{{ entity.contactTel }}</dd>#}
            {#</dl>#}
            {#</td>#}
            {#<td>#}
            {#<dl class="dl-horizontal">#}
            {#<dt>Code:</dt>#}
            {#<dd>{{ entity.code.id }}</dd>#}
            {#<dt>Grupa:</dt>#}
            {#<dd>({{ entity.portalGroup.id }}){{ entity.portalGroup.name }}</dd>#}
            {#<dt>View type connect:</dt>#}
            {#<dd>{{ entity.viewTypeConnect }}</dd>#}
            {#<dt>View type setup:</dt>#}
            {#<dd>{{ entity.viewTypeSetup }}</dd>#}

            {#&#123;&#35;{% if entity.portalGroup is not null %}&#35;&#125;#}
            {#&#123;&#35;<li class="list-group-item">Grupa: {{ entity.portalGroup.name }}</li>&#35;&#125;#}
            {#&#123;&#35;{% endif %}&#35;&#125;#}
            {#</dl>#}
            {#</td>#}
            <td>
                <ul class="list-inline">
                    <li class="col-md-4 col-sm-4">
                        <p>
                            <a href="{{ path('portal_show2', { 'id': entity.id }) }}"
                               class="btn btn-xs btn-default btn-block" type="button"
                               data-toggle="tooltip" data-placement="top" title="Prikaži detalj portala {{ entity.naziv }}"><i
                                        class="fa fa-file-text-o" aria-hidden="true"></i></a>
                        </p>
                    </li>
                    <li class="col-md-4 col-sm-4">
                        <p>
                            <a href="{{ path('portal_edit', { 'id': entity.id }) }}"
                               class="btn btn-xs btn-primary btn-block" type="button"
                               data-toggle="tooltip" data-placement="top" title="Uredi podatke portala {{ entity.naziv }}"><i
                                        class="fa fa-pencil" aria-hidden="true"></i></a>
                        </p>
                    </li>
                    <li class="col-md-4 col-sm-4">
                        <p>
                            <a href="{{ path('portalkorisnik_listbyportal', { 'portal': entity.id }) }}"
                               class="btn btn-xs btn-info btn-block" type="button"
                               data-toggle="tooltip" data-placement="top" title="Pregled svih korisnika portala {{ entity.naziv }}"><i
                                        class="fa fa-users" aria-hidden="true"></i></a>
                        </p>
                    </li>
                </ul>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>