<div>

    <div class="form-group">
        <div class="col-sm-10">
            <button class="btn btn-primary btn-xs" onclick="createUnitConnection({{ propertyUnit.id }}, {{ portalId }}, {{ propertyUnit.property.id }}, '{{ portalCode }}')">Dodaj jedinicu na portal</button>
        </div>
    </div>

</div>

