<div>

    {% set setupPropertyUnit = setupObrada.setupPropertyUnitBookingCom(propertyUnit, portal.codeName) %}
    {#{% set setupPropertyUnit = setupObrada.setupPropertyUnitBookingCom(propertyUnit, 'bookingcom', property.idAgent) %}#}

    <table>
        <tr style="padding: 2px;">
            <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                <button class="btn btn-success btn-xs btn-block"
                        data-toggle='tooltip'
                        title="Ponovno učitaj jedinicu {{ propertyUnit.propertyUnitFront }}"
                        data-container="body"
                        onclick="reloadUnitBookingCom({{ propertyUnit.id }}, '{{ portal.codeName }}')">
                    Osvježi <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </td>
            {% if setupPropertyUnit is not null %}
                <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                    <button class="btn btn-xs btn-primary btn-block">
                        Uredi <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </td>
            {% else %}
            <td></td>
            {% endif %}

        </tr>


        {% if setupPropertyUnit is not null %}
            <tr style="padding: 2px;">
                <td style="padding-left: 5px;">ID:</td>
                <td>
                    {% if setupPropertyUnit is not null %}
                        {% if setupPropertyUnit.idPropertyUnitNaPortalu is not null and setupPropertyUnit.idPropertyUnitNaPortalu != 0 %}
                            {{ setupPropertyUnit.idPropertyUnitNaPortalu }}
                        {% endif %}
                        <i class="fa fa-pencil-square-o"
                           data-toggle='modal'
                           data-target='#generalSetupPropertyUnitModal'
                           data-setuppropertyunitid='{{ setupPropertyUnit.id }}'
                           data-spuunituonnecturl='{{ path('spu_unit_connect_general_snippet') }}'></i>


                    {% endif %}


                </td>
            </tr>
            <tr style="padding: 2px;">
                <td style="padding-left: 5px;">Status:</td>
                <td>Aktivan</td>
            </tr>
            <tr style="padding: 2px;">
                <td style="padding-left: 5px;">Info:</td>
                <td><i class="fa fa-info-circle" aria-hidden="true"></i></td>
            </tr>
        {% else %}
            <tr>
                <td>
                    {% include '@tdCM/SetupPropertyUnit/Snippets/connectUnit.html.twig' with{'propertyUnit':propertyUnit, 'portalId': portal.id, 'portalCode':portal.codeName } %}
                </td>
            </tr>

        {% endif %}

    </table>


    {#<div class="row">#}
    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
    {#<div class="btn-group btn-group-xs col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" aria-label="..."#}
    {#style="padding-left: 0px; padding-right: 0px;">#}

    {#<button class="btn btn-default col-sm-2 col-md-2 col-xs-2"#}
    {#data-toggle='tooltip'#}
    {#title="Ponovno učitaj jedinicu {{ propertyUnit.propertyUnitFront }}"#}
    {#data-container="body"#}
    {#onclick="reloadUnitBookingCom({{ propertyUnit.id }}, '{{ portal.codeName }}')">#}
    {#<i class="fa fa-refresh" aria-hidden="true"></i>#}
    {#</button>#}

    {#{% if setupPropertyUnit is not null %}#}
    {#<button class="btn btn-default col-lg-6 col-md-6 col-sm-6 col-xs-6">#}
    {#ID: {{ setupPropertyUnit.id }}</button>#}
    {#<button class="btn btn-default col-sm-2 col-md-2 col-xs-2"#}
    {#id="deleteSpu{{ setupPropertyUnit.id }}"#}
    {#data-toggle='tooltip'#}
    {#title="Ukloni jedinicu {{ propertyUnit.propertyUnitFront }} iz channel managera"#}
    {#data-container="body"#}
    {#onclick="deleteSetupPropertyUnit('{{ path('setuppropertyunitjson_delete', {'id': setupPropertyUnit.id}) }}', {{ setupPropertyUnit.id }}, {{ propertyUnit.property.id }},{{ propertyUnit.id }}, '{{ portal.codeName }}')">#}
    {#<i class="fa fa-trash" aria-hidden="true"></i>#}
    {#</button>#}

    {#<button class="btn btn-{% if setupPropertyUnit.povezan %}success{% else %}danger{% endif %} btn-xs text-center vert-align col-sm-2 col-md-2 col-xs-2"#}
    {#id="PovezanSpu{{ setupPropertyUnit.id }}">#}
    {#{% if setupPropertyUnit.povezan %}#}
    {#<span class="label label-success" data-toggle="tooltip"#}
    {#data-placement="top"#}
    {#data-container="body"#}
    {#title="Jedinica {{ setupPropertyUnit.idPropertyUnitFront }} je spremna za razmjenu podataka s Kroati.de sustavom">#}
    {#<i class="fa fa-info fa-lg" aria-hidden="true"></i>#}
    {#</span>#}
    {#{% else %}#}
    {#<span class="label label-danger" data-toggle="tooltip"#}
    {#data-placement="top"#}
    {#data-container="body"#}
    {#title="Jedinica {{ setupPropertyUnit.idPropertyUnitFront }} nije spremna za razmjenu podataka s Kroati.de sustavom.#}
    {#{% if not setupPropertyUnit.aktivan %}#}
    {#Potrebno ju je aktivirati.#}
    {#{% endif %}"><i class="fa fa-info fa-lg" aria-hidden="true"></i></span>#}
    {#{% endif %}#}
    {#</button>#}
    {#{% endif %}#}
    {#</div>#}
    {#</div>#}

    {#</div>#}


    {#{% if setupPropertyUnit is not null %}#}
    {#<div class="row">#}
    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
    {#<br>#}
    {#</div>#}
    {#</div>#}
    {#&#123;&#35;{% if setupPropertyUnit.portalKorisnik.webshop is not null %}&#35;&#125;#}
    {#&#123;&#35;{% if setupObrada.checkIfSetupPropertyUnitHasWebshopPropertyUnit(setupPropertyUnit) %}&#35;&#125;#}
    {#&#123;&#35;<div class="form-group">&#35;&#125;#}
    {#<div class="row">#}
    {#<div class="col-sm-6">#}
    {#<div class="checkbox">#}
    {#<label>#}
    {#<input type="checkbox" value="true" {{ setupPropertyUnit.aktivan ? 'checked' : '' }}#}
    {#onclick="unitActivation({{ setupPropertyUnit.propertyUnit.id }}, {{ setupPropertyUnit.id }}, {{ setupPropertyUnit.propertyUnit.property.id }}, '{{ portal.codeName }}')"#}
    {#id="AktivanSpu{{ setupPropertyUnit.id }}"#}
    {#{% if setupPropertyUnit.idPropertyUnitNaPortalu is null and setupPropertyUnit.idPropertyUnitNaPortalu == 0 %} disabled {% endif %}>#}
    {#Aktivan#}
    {#</label>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-sm-6">#}
    {#&#123;&#35;<button class="btn btn-default btn-xs" onclick="azuriraj({{ setupPropertyUnit.id }})">{{ setupPropertyUnit.idPropertyUnitNaPortalu }}</button>&#35;&#125;#}
    {#ID jed. na portalu:#}
    {#{% if setupPropertyUnit.idPropertyUnitNaPortalu is not null and setupPropertyUnit.idPropertyUnitNaPortalu != 0 %}#}
    {#<button class="btn btn-default btn-xs btn-block"#}
    {#data-toggle='modal'#}
    {#data-target='#generalSetupPropertyUnitModal'#}
    {#data-setuppropertyunitid='{{ setupPropertyUnit.id }}'#}
    {#data-spuunituonnecturl='{{ path('spu_unit_connect_general_snippet') }}'>{{ setupPropertyUnit.idPropertyUnitNaPortalu }}</button>#}
    {#{% else %}#}
    {#<button class="btn btn-danger btn-xs btn-block"#}
    {#data-toggle='modal'#}
    {#data-target='#generalSetupPropertyUnitModal'#}
    {#data-setuppropertyunitid='{{ setupPropertyUnit.id }}'#}
    {#data-spuunituonnecturl='{{ path('spu_unit_connect_general_snippet') }}'#}
    {#&#123;&#35;{% if setupPropertyUnit.setupProperty.idPropertyNaPortalu is null or setupPropertyUnit.setupProperty.idPropertyNaPortalu == '' %}disabled{% endif %}&#35;&#125;#}
    {#>Spoji#}
    {#</button>#}
    {#{% endif %}#}

    {#</div>#}

    {#</div>#}

    {#<div class="row">#}
    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
    {#<br>#}
    {#</div>#}
    {#</div>#}
    {#<div class="row">#}


    {#&#123;&#35;<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&#35;&#125;#}
    {#&#123;&#35;<div class="btn-group btn-group-xs col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" aria-label="..."&#35;&#125;#}
    {#&#123;&#35;style="padding-left: 0px; padding-right: 0px;">&#35;&#125;#}

    {#&#123;&#35;<button class="btn btn-info btn-xs col-sm-6 col-md-6 col-xs-6"&#35;&#125;#}
    {#&#123;&#35;id="Rates{{ setupPropertyUnit.id }}"&#35;&#125;#}
    {#&#123;&#35;data-toggle='modal'&#35;&#125;#}
    {#&#123;&#35;data-target='#unitRateLargeModal'&#35;&#125;#}
    {#&#123;&#35;data-setuppropertyunitid='{{ setupPropertyUnit.id }}'&#35;&#125;#}
    {#&#123;&#35;data-editrateurl='{{ path('unitrate_edit_rates_snippet', {setupPropertyUnit: setupPropertyUnit.id }) }}'&#35;&#125;#}
    {#&#123;&#35;title="Postavljanje cjenika na rateove"&#35;&#125;#}
    {#&#123;&#35;data-container="body"&#35;&#125;#}
    {#&#123;&#35;{% if setupPropertyUnit.idPropertyUnitNaPortalu is null or setupPropertyUnit.idPropertyUnitNaPortalu == 0 %}disabled{% endif %}>&#35;&#125;#}
    {#&#123;&#35;<i class="fa fa-eur" aria-hidden="true"></i>&#35;&#125;#}
    {#&#123;&#35;Rates&#35;&#125;#}
    {#&#123;&#35;</button>&#35;&#125;#}

    {#&#123;&#35;<button type='button' class='btn btn-default btn-xs col-sm-2 col-md-2 col-xs-2' data-toggle='modal'&#35;&#125;#}
    {#&#123;&#35;data-target='#generalSetupPropertyUnitLargeModal'&#35;&#125;#}
    {#&#123;&#35;title='Pregled transfera za {{ setupPropertyUnit.idPropertyUnitFront }}'&#35;&#125;#}
    {#&#123;&#35;data-placement="top"&#35;&#125;#}
    {#&#123;&#35;data-container="body"&#35;&#125;#}
    {#&#123;&#35;data-losurl='{{ path('transfer_spuTransferi', {setupPropertyUnit: setupPropertyUnit.id}) }}'>&#35;&#125;#}
    {#&#123;&#35;<i class="fa fa-exchange" aria-hidden="true"&#35;&#125;#}
    {#&#123;&#35;title="Pregled transfera za {{ setupPropertyUnit.idPropertyUnitFront }}"></i>&#35;&#125;#}
    {#&#123;&#35;</button>&#35;&#125;#}

    {#&#123;&#35;<button type='button' class='btn btn-default btn-xs col-sm-2 col-md-2 col-xs-2' data-toggle='modal'&#35;&#125;#}
    {#&#123;&#35;data-target='#generalSetupPropertyUnitLargeModal'&#35;&#125;#}
    {#&#123;&#35;title='Slanje LOS tablice za jedinicu {{ setupPropertyUnit.idPropertyUnitFront }}'&#35;&#125;#}
    {#&#123;&#35;data-placement="top"&#35;&#125;#}
    {#&#123;&#35;data-container="body"&#35;&#125;#}
    {#&#123;&#35;data-losurl='{{ path('spu_send_los_modal', {setupPropertyUnit: setupPropertyUnit.id}) }}'&#35;&#125;#}
    {#&#123;&#35;{% if not setupPropertyUnit.povezan %}disabled{% endif %}>&#35;&#125;#}
    {#&#123;&#35;<i class="fa fa-paper-plane" aria-hidden="true" data-toggle="tooltip"></i>&#35;&#125;#}
    {#&#123;&#35;</button>&#35;&#125;#}

    {#&#123;&#35;<button type='button' class='btn btn-danger btn-xs col-sm-2 col-md-2 col-xs-2'&#35;&#125;#}
    {#&#123;&#35;data-toggle='tooltip'&#35;&#125;#}
    {#&#123;&#35;&#123;&#35;data-target='#generalSetupPropertyUnitLargeModal'&#35;&#125;&#35;&#125;#}
    {#&#123;&#35;title='Onemogući webshop property unit za {{ setupPropertyUnit.idPropertyUnitFront }}'&#35;&#125;#}
    {#&#123;&#35;data-placement="top"&#35;&#125;#}
    {#&#123;&#35;data-container="body"&#35;&#125;#}
    {#&#123;&#35;&#123;&#35;data-losurl='{{ path('spu_send_los_modal', {setupPropertyUnit: setupPropertyUnit.id}) }}'&#35;&#125;&#35;&#125;#}
    {#&#123;&#35;&#123;&#35;{% if not setupPropertyUnit.povezan %}disabled{% endif %}>&#35;&#125;&#35;&#125;#}
    {#&#123;&#35;onclick="deactivateWebshopPropertyUnit('{{ path('webshoppropertyunitjson_deactivate', {id: setupObrada.getWebshopPropertyUnitForGivenSetupPropertyUnit(setupPropertyUnit).id}) }}',&#35;&#125;#}
    {#&#123;&#35;{{ setupPropertyUnit.id }}, {{ propertyUnit.property.id }}, {{ propertyUnit.id }}, '{{ portal.codeName }}')">&#35;&#125;#}
    {#&#123;&#35;<i class="fa fa-power-off" aria-hidden="true"></i>&#35;&#125;#}
    {#&#123;&#35;</button>&#35;&#125;#}

    {#&#123;&#35;</div>&#35;&#125;#}
    {#&#123;&#35;</div>&#35;&#125;#}

    {#</div>#}

    {#&#123;&#35;</div>&#35;&#125;#}
    {#&#123;&#35;{% else %}&#35;&#125;#}
    {#&#123;&#35;{% include '@tdCM/SetupPropertyUnit/Snippets/webshopPropertyUnit.html.twig' with&#123;&#35;}#}
    {#&#123;&#35;'setupPropertyUnit':setupPropertyUnit,&#35;&#125;#}
    {#&#123;&#35;'webshopPropertyUnit':setupObrada.getWebshopPropertyUnitForGivenSetupPropertyUnit(setupPropertyUnit),&#35;&#125;#}
    {#&#123;&#35;'portalCode':portal.codeName} %}&#35;&#125;#}
    {#&#123;&#35;{% endif %}&#35;&#125;#}
    {#&#123;&#35;{% else %}&#35;&#125;#}
    {#&#123;&#35;{% include '@tdCM/PortalKorisnik/Snippets/webshop.html.twig' with {'property': propertyUnit.property, 'portalNaziv':'Booking.com'} %}&#35;&#125;#}
    {#&#123;&#35;{% endif %}&#35;&#125;#}
    {#{% else %}#}
    {#{% include '@tdCM/SetupPropertyUnit/Snippets/connectUnit.html.twig' with{'propertyUnit':propertyUnit, 'portalId': portal.id, 'portalCode':portal.codeName } %}#}
    {#{% endif %}#}
</div>

