<div>

    {% set setupPropertyUnit = setupObrada.setupPropertyUnitBookingCom(propertyUnit, portal.codeName) %}
    {#{% set setupPropertyUnit = setupObrada.setupPropertyUnitBookingCom(propertyUnit, 'bookingcom', property.idAgent) %}#}

    {% if setupPropertyUnit is not null %}
        {% if setupPropertyUnit.portalKorisnik.webshop is not null %}
            {% if setupObrada.checkIfSetupPropertyUnitHasWebshopPropertyUnit(setupPropertyUnit) %}
                <table>
                    <tr style="padding: 2px;">
                        <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                            <button class="btn btn-success btn-xs btn-block"
                                    data-toggle='tooltip'
                                    title="Ponovno učitaj jedinicu {{ propertyUnit.propertyUnitFront }}"
                                    data-container="body"
                                    onclick="reloadUnitBookingCom({{ propertyUnit.id }}, '{{ portal.codeName }}')">
                                Osvježi <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                            <button class="btn btn-xs btn-primary btn-block">
                                Uredi <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>

                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">ID:</td>
                        <td>
                            {% if setupPropertyUnit is not null %}
                                {% if setupPropertyUnit.idPropertyUnitNaPortalu is not null and setupPropertyUnit.idPropertyUnitNaPortalu != 0 %}
                                    {{ setupPropertyUnit.idPropertyUnitNaPortalu }} {% endif %}
                                <i class="fa fa-pencil-square-o"
                                   data-toggle='modal'
                                   data-target='#generalSetupPropertyUnitModal'
                                   data-setuppropertyunitid='{{ setupPropertyUnit.id }}'
                                   data-spuunituonnecturl='{{ path('spu_unit_connect_bookingcom_snippet') }}'></i>
                                {#<button class="btn btn-primary btn-xs btn-block"#}
                                {#data-toggle='modal'#}
                                {#data-target='#generalSetupModal'#}
                                {#data-setuppropertyid='{{ setupProperty.id }}'>{{ setupProperty.idPropertyNaPortalu }}</button>#}
                                {#{% else %}#}
                                {#<i class="fa fa-pencil-square-o" data-toggle='modal'#}
                                {#data-target='#generalSetupPropertyUnitModal'#}
                                {#data-setuppropertyunitid='{{ setupPropertyUnit.id }}'#}
                                {#data-spuunituonnecturl='{{ path('spu_unit_connect_bookingcom_snippet') }}'></i>#}
                                {#&#123;&#35;<button class="btn btn-danger btn-xs btn-block"&#35;&#125;#}
                                {#&#123;&#35;data-toggle='modal'&#35;&#125;#}
                                {#&#123;&#35;data-target='#generalSetupModal'&#35;&#125;#}
                                {#&#123;&#35;data-setuppropertyid='{{ setupProperty.id }}'>Spoji&#35;&#125;#}
                                {#&#123;&#35;</button>&#35;&#125;#}
                                {#{% endif %}#}
                            {% endif %}


                        </td>
                    </tr>
                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">Status:</td>
                        <td>{{ setupPropertyUnit.aktivan ? 'Aktivan' : 'Neaktivan' }} {{ setupPropertyUnit.povezan ? 'Povezan' : '' }}</td>
                        <td><input type="checkbox" value="true" {{ setupPropertyUnit.aktivan ? 'checked' : '' }}
                                   onclick="unitActivation({{ setupPropertyUnit.propertyUnit.id }}, {{ setupPropertyUnit.id }}, {{ setupPropertyUnit.propertyUnit.property.id }}, '{{ portal.codeName }}')"
                                   id="AktivanSpu{{ setupPropertyUnit.id }}"
                                    {% if setupPropertyUnit.idPropertyUnitNaPortalu is null and setupPropertyUnit.idPropertyUnitNaPortalu == 0 %} disabled {% endif %}></td>
                    </tr>
                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">Info:</td>
                        <td><i class="fa fa-info-circle" aria-hidden="true"
                               data-toggle="popover"
                               title="{{ propertyUnit.propertyUnitFront }}"
                               data-content="<b>test</b> test"
                               data-container="body"
                               data-placement="bottom"></i>
                        </td>
                    </tr>
                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">Cjenik:</td>
                        <td>{{ setupObrada.findFirstIdHeadForSetupPropertyUnit(setupPropertyUnit) }} <i
                                    class="fa fa-pencil-square-o" aria-hidden="true"
                                    id="Rates{{ setupPropertyUnit.id }}"
                                    data-toggle='modal'
                                    data-target='#unitRateLargeModal'
                                    data-setuppropertyunitid='{{ setupPropertyUnit.id }}'
                                    data-editrateurl='{{ path('unitrate_edit_rates_snippet', {setupPropertyUnit: setupPropertyUnit.id }) }}'
                                    title="Postavljanje cjenika na rateove"
                                    data-container="body"
                                    {% if setupPropertyUnit.idPropertyUnitNaPortalu is null or setupPropertyUnit.idPropertyUnitNaPortalu == 0 %}disabled{% endif %}></i>
                        </td>
                    </tr>
                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">LOS:</td>
                        <td>

                            {% if setupPropertyUnit.povezan %}
                                <i class="fa fa-paper-plane" aria-hidden="true"
                                   data-toggle='modal'
                                   data-target='#generalSetupPropertyUnitLargeModal'
                                   title='Slanje LOS tablice za jedinicu {{ setupPropertyUnit.idPropertyUnitFront }}'
                                   data-placement="top"
                                   data-container="body"
                                   data-losurl='{{ path('spu_send_los_modal', {setupPropertyUnit: setupPropertyUnit.id}) }}'
                                   {% if not setupPropertyUnit.povezan %}disabled{% endif %}></i>
                            {% else %}
                                Nije spremno!
                            {% endif %}
                        </td>
                    </tr>

                </table>

            {% else %}
                <table>
                    <tr style="padding: 2px;">
                        <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                            <button class="btn btn-success btn-xs btn-block"
                                    data-toggle='tooltip'
                                    title="Ponovno učitaj jedinicu {{ propertyUnit.propertyUnitFront }}"
                                    data-container="body"
                                    onclick="reloadUnitBookingCom({{ propertyUnit.id }}, '{{ portal.codeName }}')">
                                Osvježi <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </td>

                    </tr>
                </table>
                {% include '@tdCM/SetupPropertyUnit/Snippets/webshopPropertyUnit.html.twig' with{
                'setupPropertyUnit':setupPropertyUnit,
                'webshopPropertyUnit':setupObrada.getWebshopPropertyUnitForGivenSetupPropertyUnit(setupPropertyUnit),
                'portalCode':portal.codeName} %}
            {% endif %}


        {% else %}
            <table>
                <tr style="padding: 2px;">
                    <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                        <button class="btn btn-success btn-xs btn-block"
                                data-toggle='tooltip'
                                title="Ponovno učitaj jedinicu {{ propertyUnit.propertyUnitFront }}"
                                data-container="body"
                                onclick="reloadUnitBookingCom({{ propertyUnit.id }}, '{{ portal.codeName }}')">
                            Osvježi <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </td>

                </tr>
            </table>
            {% include '@tdCM/PortalKorisnik/Snippets/webshop.html.twig' with {'property': propertyUnit.property, 'portalNaziv':'Booking.com'} %}
        {% endif %}
    {% else %}
        <table>
            <tr style="padding: 2px;">
                <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                    <button class="btn btn-success btn-xs btn-block"
                            data-toggle='tooltip'
                            title="Ponovno učitaj jedinicu {{ propertyUnit.propertyUnitFront }}"
                            data-container="body"
                            onclick="reloadUnitBookingCom({{ propertyUnit.id }}, '{{ portal.codeName }}')">
                        Osvježi <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </td>

            </tr>
        </table>
        {% include '@tdCM/SetupPropertyUnit/Snippets/connectUnit.html.twig' with{'propertyUnit':propertyUnit, 'portalId': portal.id, 'portalCode':portal.codeName } %}
    {% endif %}
    {#TESTIRANJE {{  }}#}


    {#<div class="row">#}
        {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
            {#<div class="btn-group btn-group-xs col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" aria-label="..."#}
                 {#style="padding-left: 0px; padding-right: 0px;">#}

                {#<button class="btn btn-default col-sm-2 col-md-2 col-xs-2"#}
                        {#data-toggle='tooltip'#}
                        {#title="Ponovno učitaj jedinicu {{ propertyUnit.propertyUnitFront }}"#}
                        {#data-container="body"#}
                        {#onclick="reloadUnitBookingCom({{ propertyUnit.id }}, '{{ portal.codeName }}')">#}
                    {#<i class="fa fa-refresh" aria-hidden="true"></i>#}
                {#</button>#}

                {#{% if setupPropertyUnit is not null %}#}
                    {#<button class="btn btn-default col-lg-6 col-md-6 col-sm-6 col-xs-6">#}
                        {#ID: {{ setupPropertyUnit.id }}</button>#}
                    {#<button class="btn btn-default col-sm-2 col-md-2 col-xs-2"#}
                            {#id="deleteSpu{{ setupPropertyUnit.id }}"#}
                            {#data-toggle='tooltip'#}
                            {#title="Ukloni jedinicu {{ propertyUnit.propertyUnitFront }} iz channel managera"#}
                            {#data-container="body"#}
                            {#onclick="deleteSetupPropertyUnit('{{ path('setuppropertyunitjson_delete', {'id': setupPropertyUnit.id}) }}', {{ setupPropertyUnit.id }}, {{ propertyUnit.property.id }},{{ propertyUnit.id }}, '{{ portal.codeName }}')">#}
                        {#<i class="fa fa-trash" aria-hidden="true"></i>#}
                    {#</button>#}

                    {#<button class="btn btn-{% if setupPropertyUnit.povezan %}success{% else %}danger{% endif %} btn-xs text-center vert-align col-sm-2 col-md-2 col-xs-2"#}
                            {#id="PovezanSpu{{ setupPropertyUnit.id }}">#}
                        {#{% if setupPropertyUnit.povezan %}#}
                            {#<span class="label label-success" data-toggle="tooltip"#}
                                  {#data-placement="top"#}
                                  {#data-container="body"#}
                                  {#title="Jedinica {{ setupPropertyUnit.idPropertyUnitFront }} je spremna za razmjenu podataka s Booking.com sustavom">#}
    {#<i class="fa fa-info fa-lg" aria-hidden="true"></i>#}
    {#</span>#}
                        {#{% else %}#}
                            {#<span class="label label-danger" data-toggle="tooltip"#}
                                  {#data-placement="top"#}
                                  {#data-container="body"#}
                                  {#title="Jedinica {{ setupPropertyUnit.idPropertyUnitFront }} nije spremna za razmjenu podataka s Booking.com sustavom.#}
    {#{% if not setupPropertyUnit.aktivan %}#}
    {#Potrebno ju je aktivirati.#}
    {#{% elseif not setupPropertyUnit.setupProperty.aktivan %}#}
    {#Potrebno je aktivirati objekt.#}
    {#{% else %}#}
    {#Potrebno je postaviti cjenik na rateove.#}
    {#{% endif %}"><i class="fa fa-info fa-lg" aria-hidden="true"></i></span>#}
                        {#{% endif %}#}
                    {#</button>#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}

    {#</div>#}


    {#{% if setupPropertyUnit is not null %}#}
        {#<div class="row">#}
            {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                {#<br>#}
            {#</div>#}
        {#</div>#}
        {#{% if setupPropertyUnit.portalKorisnik.webshop is not null %}#}
            {#{% if setupObrada.checkIfSetupPropertyUnitHasWebshopPropertyUnit(setupPropertyUnit) %}#}
                {#&#123;&#35;<div class="form-group">&#35;&#125;#}
                {#<div class="row">#}
                    {#<div class="col-sm-6">#}
                        {#<div class="checkbox">#}
                            {#<label>#}
                                {#<input type="checkbox" value="true" {{ setupPropertyUnit.aktivan ? 'checked' : '' }}#}
                                       {#onclick="unitActivation({{ setupPropertyUnit.propertyUnit.id }}, {{ setupPropertyUnit.id }}, {{ setupPropertyUnit.propertyUnit.property.id }}, '{{ portal.codeName }}')"#}
                                       {#id="AktivanSpu{{ setupPropertyUnit.id }}"#}
                                        {#{% if setupPropertyUnit.idPropertyUnitNaPortalu is null and setupPropertyUnit.idPropertyUnitNaPortalu == 0 %} disabled {% endif %}>#}
                                {#Aktivan#}
                            {#</label>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="col-sm-6">#}
                        {#&#123;&#35;<button class="btn btn-default btn-xs" onclick="azuriraj({{ setupPropertyUnit.id }})">{{ setupPropertyUnit.idPropertyUnitNaPortalu }}</button>&#35;&#125;#}
                        {#ID jed. na portalu:#}
                        {#{% if setupPropertyUnit.idPropertyUnitNaPortalu is not null and setupPropertyUnit.idPropertyUnitNaPortalu != 0 %}#}
                            {#<button class="btn btn-default btn-xs btn-block"#}
                                    {#data-toggle='modal'#}
                                    {#data-target='#generalSetupPropertyUnitModal'#}
                                    {#data-setuppropertyunitid='{{ setupPropertyUnit.id }}'#}
                                    {#data-spuunituonnecturl='{{ path('spu_unit_connect_bookingcom_snippet') }}'>{{ setupPropertyUnit.idPropertyUnitNaPortalu }}</button>#}
                        {#{% else %}#}
                            {#<button class="btn btn-danger btn-xs btn-block"#}
                                    {#data-toggle='modal'#}
                                    {#data-target='#generalSetupPropertyUnitModal'#}
                                    {#data-setuppropertyunitid='{{ setupPropertyUnit.id }}'#}
                                    {#data-spuunituonnecturl='{{ path('spu_unit_connect_bookingcom_snippet') }}'#}
                                    {#{% if setupPropertyUnit.setupProperty.idPropertyNaPortalu is null or setupPropertyUnit.setupProperty.idPropertyNaPortalu == '' %}disabled{% endif %}#}
                                    {#>Spoji#}
                            {#</button>#}
                        {#{% endif %}#}

                    {#</div>#}

                {#</div>#}

                {#<div class="row">#}
                    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                        {#<br>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row">#}


                    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                        {#<div class="btn-group btn-group-xs col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group"#}
                             {#aria-label="..."#}
                             {#style="padding-left: 0px; padding-right: 0px;">#}

                            {#<button class="btn btn-info btn-xs col-sm-6 col-md-6 col-xs-6"#}
                                    {#id="Rates{{ setupPropertyUnit.id }}"#}
                                    {#data-toggle='modal'#}
                                    {#data-target='#unitRateLargeModal'#}
                                    {#data-setuppropertyunitid='{{ setupPropertyUnit.id }}'#}
                                    {#data-editrateurl='{{ path('unitrate_edit_rates_snippet', {setupPropertyUnit: setupPropertyUnit.id }) }}'#}
                                    {#title="Postavljanje cjenika na rateove"#}
                                    {#data-container="body"#}
                                    {#{% if setupPropertyUnit.idPropertyUnitNaPortalu is null or setupPropertyUnit.idPropertyUnitNaPortalu == 0 %}disabled{% endif %}>#}
                                {#<i class="fa fa-eur" aria-hidden="true"></i>#}
                                {#Rates#}
                            {#</button>#}

                            {#<button type='button' class='btn btn-default btn-xs col-sm-2 col-md-2 col-xs-2'#}
                                    {#data-toggle='modal'#}
                                    {#data-target='#generalSetupPropertyUnitLargeModal'#}
                                    {#title='Pregled transfera za {{ setupPropertyUnit.idPropertyUnitFront }}'#}
                                    {#data-placement="top"#}
                                    {#data-container="body"#}
                                    {#data-losurl='{{ path('transfer_spuTransferi', {setupPropertyUnit: setupPropertyUnit.id}) }}'>#}
                                {#<i class="fa fa-exchange" aria-hidden="true"#}
                                   {#title="Pregled transfera za {{ setupPropertyUnit.idPropertyUnitFront }}"></i>#}
                            {#</button>#}

                            {#<button type='button' class='btn btn-default btn-xs col-sm-2 col-md-2 col-xs-2'#}
                                    {#data-toggle='modal'#}
                                    {#data-target='#generalSetupPropertyUnitLargeModal'#}
                                    {#title='Slanje LOS tablice za jedinicu {{ setupPropertyUnit.idPropertyUnitFront }}'#}
                                    {#data-placement="top"#}
                                    {#data-container="body"#}
                                    {#data-losurl='{{ path('spu_send_los_modal', {setupPropertyUnit: setupPropertyUnit.id}) }}'#}
                                    {#{% if not setupPropertyUnit.povezan %}disabled{% endif %}>#}
                                {#<i class="fa fa-paper-plane" aria-hidden="true" data-toggle="tooltip"></i>#}
                            {#</button>#}

                            {#<button type='button' class='btn btn-danger btn-xs col-sm-2 col-md-2 col-xs-2'#}
                                    {#data-toggle='tooltip'#}
                                    {#&#123;&#35;data-target='#generalSetupPropertyUnitLargeModal'&#35;&#125;#}
                                    {#title='Onemogući webshop property unit za {{ setupPropertyUnit.idPropertyUnitFront }}'#}
                                    {#data-placement="top"#}
                                    {#data-container="body"#}
                                    {#&#123;&#35;data-losurl='{{ path('spu_send_los_modal', {setupPropertyUnit: setupPropertyUnit.id}) }}'&#35;&#125;#}
                                    {#&#123;&#35;{% if not setupPropertyUnit.povezan %}disabled{% endif %}>&#35;&#125;#}
                                    {#onclick="deactivateWebshopPropertyUnit('{{ path('webshoppropertyunitjson_deactivate', {id: setupObrada.getWebshopPropertyUnitForGivenSetupPropertyUnit(setupPropertyUnit).id}) }}',#}
                                    {#{{ setupPropertyUnit.id }}, {{ propertyUnit.property.id }}, {{ propertyUnit.id }}, '{{ portal.codeName }}')">#}
                                {#<i class="fa fa-power-off" aria-hidden="true"></i>#}
                            {#</button>#}

                        {#</div>#}
                    {#</div>#}

                {#</div>#}

                {#&#123;&#35;</div>&#35;&#125;#}
            {#{% else %}#}
                {#{% include '@tdCM/SetupPropertyUnit/Snippets/webshopPropertyUnit.html.twig' with{#}
                {#'setupPropertyUnit':setupPropertyUnit,#}
                {#'webshopPropertyUnit':setupObrada.getWebshopPropertyUnitForGivenSetupPropertyUnit(setupPropertyUnit),#}
                {#'portalCode':portal.codeName} %}#}
            {#{% endif %}#}
        {#{% else %}#}
            {#{% include '@tdCM/PortalKorisnik/Snippets/webshop.html.twig' with {'property': propertyUnit.property, 'portalNaziv':'Booking.com'} %}#}
        {#{% endif %}#}
    {#{% else %}#}
        {#{% include '@tdCM/SetupPropertyUnit/Snippets/connectUnit.html.twig' with{'propertyUnit':propertyUnit, 'portalId': portal.id, 'portalCode':portal.codeName } %}#}
    {#{% endif %}#}
</div>