<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-2" style="padding-top: 5px;">ID:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control input-sm" name="" id="idPropertyUnitNaPortalu{{ setupPropertyUnit.id }}" value="{{ setupPropertyUnit.idPropertyUnitNaPortalu }}">
            </div>
        </div>
    </div>

</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-offset-4 col-sm-8 col-md-8 col-lg-8">
            <button class="btn btn-primary btn-sm" onclick="spuSaveIdPropertyUnitOnPortal({{ setupPropertyUnit.id }}, {{ setupPropertyUnit.propertyUnit.id }}, {{ setupPropertyUnit.propertyUnit.property.id }}, '{{ portalCode }}')">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Spremi
            </button>
        </div>
    </div>


</div>