{% if webshopPropertyUnit is null %}
    Jedinica ne postoji u webshopu:<b>[{{ setupPropertyUnit.portalKorisnik.idWebshopRates }}
    ] {{ setupPropertyUnit.portalKorisnik.webshop.title }}</b>
{% else %}
    {% if webshopPropertyUnit.disabled == 1 %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Jedinica <b>{{ setupPropertyUnit.idPropertyUnitFront }}</b> je neaktivna za webshop <br>
                <b>[{{ setupPropertyUnit.portalKorisnik.webshop.id }}
                    ] {{ setupPropertyUnit.portalKorisnik.webshop.title }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <button class="btn btn-success btn-xs btn-block"
                        id="activateWpu{{ setupPropertyUnit.id }}"
                        data-toggle='tooltip'
                        title="Ponovno aktiviraj jedinicu {{ setupPropertyUnit.idPropertyUnitFront }} u webshopu."
                        data-container="body"
                        onclick="activateWebshopPropertyUnit('{{ path('webshoppropertyunitjson_activate', {id: webshopPropertyUnit.id}) }}',
                        {{ setupPropertyUnit.id }},
                        {{ setupPropertyUnit.propertyUnit.property.id }},
                        {{ setupPropertyUnit.propertyUnit.id }},
                                '{{ portalCode }}')">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    {% else %}
        Id: {{ webshopPropertyUnit.id }} Disabled: {{ webshopPropertyUnit.disabled }}
    {% endif %}
{% endif %}


