

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.slika {
	
	position: relative;
	display:block;
	overflow:hidden;
	background-color:#cdcdcd;
	height: 400px;
	text-align:center;
}

.slika img {
	position:relative;
	/*display:block;*/
	vertical-align:middle;
	height:100%;
	margin:0 -100%;
}

















