{# src/td/CMBundle/Resources/views/Default/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}SetUp - pregled {% endblock %}

{% block glavniIzbornik %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">

                <div class="panel-body">
                    <div class="btn-group" role="group">
                        <button id="tagdropdown" type="button" class="btn btn-default dropdown-toggle disabled btn-sm"
                                data-toggle="dropdown" aria-expanded="true">
                            Tag <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tagovi">

                            <li class="list-group-item">
                                <table id="jqGridTag"></table>
                                <div id="jqGridPagerTag"></div>
                            </li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-primary btn-xs disabled" id="botunPrimijeni"
                                        onclick="dodajTag();">Primijeni
                                </button>
                            </li>

                        </ul>
                    </div>

                    <!--<div class="btn-group" role="group">
                        <button id="tagdropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            Traži <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tagovi" >

                            <li class="list-group-item">
                                <table id="jqGridTagTrazi"></table>
                                <div id="jqGridPagerTagTrazi"></div>
                            </li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-primary btn-xs disabled" id="botunPrimijeniTrazi" onclick="traziTag();">Primijeni</button>
                            </li>

                        </ul>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="jqGridClient"></table>
                <div id="jqGridPagerClient"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

            //Polja: pu.name as nazivUnit, pu.id as idUnit, p.id as idProperty, p.name as nazivObjekt, p.city as mjesto, ac.naziv as skrbnik, ow.naziv as vlasnik
            $('#jqGridClient').jqGrid({
                page: 1,
                rownumbers: true,
                url: "{{ path('td_cm_setUp_griddataclient') }}",
                mtype: "GET",
                datatype: "json",
                //colNames: ['ID Client', 'Naziv', 'Company', 'Address', 'Place', 'Country', 'Tagovi'],
                colModel: [
                    {
                        name: 'idClient',
                        label: 'ID Client',
                        width: 70,
                        align: 'right',
                        formatter: 'integer',
                        formatoptions: {decimalSeparator: ",", thousandsSeparator: "", decimalPlaces: 0, prefix: ""},
                        searchrules: {integer: true},
                        key: true
                    },
                    {
                        name: 'naziv', label: 'Naziv', width: 200, align: 'left',
                        searchoptions: {
                            // dataInit is the client-side event that fires upon initializing the toolbar search field for a column
                            // use it to place a third party control to customize the toolbar
                            dataInit: function (element) {

                                $(element).autocomplete({
                                    minLength: 3,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?naziv=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['naziv'],
                                                        value: item['naziv']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });


                            },
                            sopt: ['bw']
                        }
                    },
                    {
                        name: 'company', label: 'Tvrtka', width: 140, align: 'left',
                        searchoptions: {
                            dataInit: function (element) {
                                $(element).autocomplete({
                                    minLength: 2,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?company=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['company'],
                                                        value: item['company']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });
                            }
                        }
                    },
                    {
                        name: 'email', label: 'E-mail', width: 170, align: 'left',
                        searchoptions: {
                            dataInit: function (element) {
                                $(element).autocomplete({
                                    minLength: 2,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?email=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['email'],
                                                        value: item['email']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });
                            }
                        }
                    },
                    {
                        name: 'tel', label: 'Telefon', width: 140, align: 'left',
                        searchoptions: {
                            dataInit: function (element) {
                                $(element).autocomplete({
                                    minLength: 2,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?tel=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['tel'],
                                                        value: item['tel']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });
                            }
                        }
                    },
                    {
                        name: 'address', label: 'Adresa', width: 160, align: 'left',
                        searchoptions: {
                            dataInit: function (element) {
                                $(element).autocomplete({
                                    minLength: 2,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?address=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['address'],
                                                        value: item['address']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });
                            }
                        }
                    },
                    {
                        name: 'place', label: 'Mjesto', width: 120, align: 'left',
                        searchoptions: {
                            dataInit: function (element) {
                                $(element).autocomplete({
                                    minLength: 2,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?place=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['place'],
                                                        value: item['place']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });
                            }
                        }
                    },
                    {
                        name: 'country', label: 'Drzava', width: 70, align: 'center',
                        searchoptions: {
                            dataInit: function (element) {
                                $(element).autocomplete({
                                    minLength: 1,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?country=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['country'],
                                                        value: item['country']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });
                            }
                        }
                    },
                    //{name: 'Tagovi', label: 'Tagovi', width: 240, sortable:false, align: 'center', search:false },
                    {
                        name: 'Tagovi', width: 270, sortable: false, align: 'left', search: true,
                        searchoptions: {
                            dataInit: function (element) {
                                $(element).autocomplete({
                                    minLength: 1,
                                    autoFocus: true,

                                    source: function (request, response) {
                                        $.ajax({
                                            url: "{{ path('td_cm_client_autocompleteClient') }}" + "?tag=" + request.term,
                                            dataType: "json",
                                            data: {'term': request.term},
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return {
                                                        label: item['tag'],
                                                        value: item['tag']
                                                    }
                                                }))
                                            }
                                        })
                                    },
                                });
                            }
                        }
                    },
                ],
                jsonReader: {repeatitems: false},
                //loadonce: true,
                viewrecords: true,
                height: '100%',
                autowidth: true,
                rowNum: 25,
                rowList: [25, 50, 100],
                pager: '#jqGridPagerClient',
                caption: "Klijenti",
                multiselect: true,
                multiboxonly: true,
                //altRows: true,
                //altclass: 'active',
                //grouping: true,
                onSelectRow: function (id, status, e) {
                    //alert("status: " + status);
                    if (status) {
                        $('#tagdropdown').removeClass('disabled');
                    }
                    else {
                        $('#tagdropdown').addClass('disabled');
                    }
                },
                subGrid: false, // set the subGrid property to true to show expand buttons for each row
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e",
                    //expand all rows on load
                    "expandOnLoad": false,
                    "reloadOnExpand": false,
                    "selectOnExpand": false
                },
                subGridRowExpanded: showChildGrid, // javascript function that will take care of showing the child grid

                gridComplete: function () {
                    var ids = jQuery("#jqGridClient").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        /*
                         be = "<input style='height:22px;width:20px;' type='button' value='E' onclick=\"jQuery('#rowed2').editRow('"+cl+"');\"  />";
                         se = "<input style='height:22px;width:20px;' type='button' value='S' onclick=\"jQuery('#rowed2').saveRow('"+cl+"');\"  />";
                         ce = "<input style='height:22px;width:20px;' type='button' value='C' onclick=\"jQuery('#rowed2').restoreRow('"+cl+"');\" />";
                         jQuery("#rowed2").jqGrid('setRowData',ids[i],{act:be+se+ce});
                         */
                        //alert("cl: " + cl);
                        dohvatiTagove(cl);
                    }
                },
            });

            //za brisati
            // activate the toolbar searching
            $('#jqGridClient').jqGrid('filterToolbar', {stringResult: true});
            $('#jqGridClient').jqGrid('navGrid', "#jqGridPagerClient", {
                        search: true, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: true
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );

            $('#cb_jqGridClient').change(function () {
                if ($(this).is(":checked")) {
                    $('#tagdropdown').removeClass('disabled');
                }
                else {
                    $('#tagdropdown').addClass('disabled');
                }
            });
            //$('#jqGridPagerClient').trigger()


            //Za tagove
            //var tagovipodaci = '[{"tag":"Tag 12"}, {"tag":"Tag 13"}]';
            var tagovipodaci = {{ tagovis|raw }};

            //var  tagovipodaci = JSON.parse(tagovipodaciraw);

            $('#jqGridTag').jqGrid({
                //url: 'data.json',
                data: tagovipodaci,
                //mtype: "GET",
                datatype: "local",
                page: 1,
                //rownumbers: true,

                colModel: [
                    {name: 'tag', label: 'Tag', width: 450, align: 'left', editable: true}
                ],
                jsonReader: {repeatitems: false},
                loadonce: true,
                viewrecords: false,
                height: '100%',
                //width: 200,
                rowNum: 10,
                onSelectRow: function (id, status, e) {
                    //alert("status: " + status);
                    if (status) {
                        $('#botunPrimijeni').removeClass('disabled');
                    }
                    else {
                        $('#botunPrimijeni').addClass('disabled');
                    }
                },
                //rowList:[20,50,100],
                pager: '#jqGridPagerTag',
                caption: 'Dodaj tagove na označene klijente',
                multiselect: true
            });


            //za brisati
            // activate the toolbar searching
            $('#jqGridTag').jqGrid('filterToolbar', {stringResult: true});
            $('#jqGridTag').jqGrid('navGrid', "#jqGridPagerTag", {
                        search: false, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: true
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );
            jQuery("#jqGridTag").jqGrid('inlineNav', "#jqGridPagerTag",
                    {
                        editParams: {
                            "oneditfunc": function () {
                                $('#botunPrimijeni').addClass('disabled');
                            },
                            "afterrestorefunc": function () {
                                $('#botunPrimijeni').removeClass('disabled');
                            }
                        },
                        addParams: {
                            addRowParams: {
                                // the parameters of editRow used to edit new row
                                //keys: true,
                                oneditfunc: function (rowid) {
                                    //alert("new row with rowid=" + rowid + " are added.");
                                    $('#botunPrimijeni').addClass('disabled');
                                },
                                "afterrestorefunc": function () {
                                    $('#botunPrimijeni').removeClass('disabled');
                                }
                            }
                        }
                    }
            );


            //GRid za pretraživanje tagova
            $('#jqGridTagTrazi').jqGrid({
                //url: 'data.json',
                data: tagovipodaci,
                //mtype: "GET",
                datatype: "local",
                page: 1,
                //rownumbers: true,

                colModel: [
                    {name: 'tag', label: 'Tag', width: 450, align: 'left', editable: true}
                ],
                jsonReader: {repeatitems: false},
                loadonce: true,
                viewrecords: false,
                height: '100%',
                //width: 200,
                rowNum: 10,
                onSelectRow: function (id, status, e) {
                    //alert("status: " + status);
                    if (status) {
                        $('#botunPrimijeni').removeClass('disabled');
                    }
                    else {
                        $('#botunPrimijeni').addClass('disabled');
                    }
                },
                //rowList:[20,50,100],
                pager: '#jqGridPagerTagTrazi',
                caption: 'Izdvoji klijente po tagovima',
                multiselect: true
            });

            // activate the toolbar searching
            $('#jqGridTagTrazi').jqGrid('filterToolbar', {stringResult: true});
            $('#jqGridTagTrazi').jqGrid('navGrid', "#jqGridPagerTagTrazi", {
                        search: false, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: true
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );

//            jQuery("#jqGridTagTrazi").jqGrid('inlineNav',"#jqGridPagerTagTrazi",
//                    {editParams:
//                    {
//                        "oneditfunc" : function ()
//                        {
//                            $('#botunPrimijeni').addClass('disabled');
//                        },
//                        "afterrestorefunc" : function(){
//                            $('#botunPrimijeni').removeClass('disabled');
//                        }
//                    },
//                        addParams:
//                        {
//                            addRowParams: {
//                                // the parameters of editRow used to edit new row
//                                //keys: true,
//                                oneditfunc: function (rowid) {
//                                    //alert("new row with rowid=" + rowid + " are added.");
//                                    $('#botunPrimijeni').addClass('disabled');
//                                },
//                                "afterrestorefunc" : function(){
//                                    $('#botunPrimijeni').removeClass('disabled');
//                                }
//                            }
//                        }
//                    }
//            );

        });

        $('#jqGridTag_ilcancel').click(function () {
            alert('cancel');
        });

        // the event handler on expanding parent row receives two parameters
        // the ID of the grid tow  and the primary key of the row
        function showChildGrid(parentRowID, parentRowKey) {
            var childGridID = parentRowID + "_table";
            //var childGridPagerID = parentRowID + "_pager";

            // send the parent row primary key to the server so that we know which grid to show
            //var childGridURL = parentRowKey+".json";
            var childGridURL = "{{ path('td_cm_client_griddatatag') }}" + "?idClient=" + parentRowKey;
            //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

            // add a table and pager HTML elements to the parent grid row - we will render the child grid here
            //$('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
            $('#' + parentRowID).append('<table id=' + childGridID + '></table> ');

            $("#" + childGridID).jqGrid({
                url: childGridURL,
                mtype: "GET",
                datatype: "json",
                page: 1,
                rownumbers: true,
                editurl: "{{ path('td_cm_client_griddatatagpersistrow') }}",
                colModel: [
                    {name: 'id', label: 'Id', width: 200, align: 'left', key: true, hidden: true},
                    {name: 'idClient', label: 'Id klijent', width: 200, align: 'left', hidden: true, editable: true},
                    {name: 'idCompany', label: 'Id company', width: 200, align: 'left', hidden: true, editable: true},
                    {name: 'tag', label: 'Tag', width: 450, align: 'left', editable: true},
                    {name: 'idUserClient', label: 'Id user klijent', width: 200, align: 'left', hidden: true},
                    {name: 'vrijeme', label: 'Vrijeme', width: 200, align: 'left', hidden: true},
                    {name: 'mostImport', label: 'mostImport', width: 200, align: 'left', hidden: true},
                    {name: 'Ukloni', width: 50, sortable: false, align: 'center', search: false},
                ],
                //loadonce: true,
                //width: 325,
                height: '100%',
                //pager: "#" + childGridPagerID
                //gridComplete:subgridUkloni("#" + childGridID)
            });

        }
        //Funkcija za dodavanje retka u subrid
        function saveRows() {
            var grid = $("#jqGrid");
            var ids = grid.jqGrid('getDataIDs');

            for (var i = 0; i < ids.length; i++) {
                grid.jqGrid('saveRow', ids[i]);
            }
            location.reload();
        }

        function dodajTag() {
            //alert("pozdrav");
            var gridTagovi = $("#jqGridTag");
            var gridKlijenti = $("#jqGridClient");
            //Subgridove ću vuć dinamički jer mi more bit označeno više klijenata

            //var subGrid =

            //Dohvati sve označene klijente
            var klijentiSelectedIDs = gridKlijenti.getGridParam("selarrrow");
            var tagoviSelectedIDs = gridTagovi.getGridParam("selarrrow");
            //var noviID = 1;

            //Pasaj po označenim klijentima i dodaj im tag
            for (var i = 0; i < klijentiSelectedIDs.length; i++) {
                //Otvori subgrid - FORŠI ĆU IZBACIT
                //gridKlijenti.jqGrid('expandSubGridRow', klijentiSelectedIDs[i]);

                //čekaj da grid bude kompletan - OVO PREINAČINT I DRUGAJČE ISPROGRAMIRAT
                //while(gridkompletan = 0)
                //{
                //dump = 0;
                //}
                //
                //Dohvati subgrid
                /*
                 var childGridID = klijentiSelectedIDs[i] + "_table";
                 var subgrid = $("#jqGridClient_" + childGridID);

                 var ids = subgrid.jqGrid('getDataIDs');
                 if(ids.length > 0) noviID = Math.max.apply(Math, ids)+1;
                 */

                //za svaki označeni tag dodaj u subgrid nove stavke
                for (var j = 0; j < tagoviSelectedIDs.length; j++) {
                    var ret = gridTagovi.jqGrid('getRowData', tagoviSelectedIDs[j]);
                    /*
                     var datarow = {idClient:klijentiSelectedIDs[i], idCompany:1, tag:ret.tag, idUserClient:klijentiSelectedIDs[i] };
                     subgrid.jqGrid('addRowData', noviID ,datarow);
                     */
                    //subgrid.jqGrid('editRow', noviID, {keys:false, focusField: 4});
                    //subgrid.jqGrid('saveRow', noviID);
                    //noviID++;

                    //Dodaj preko ajaxa
                    //spremiTag
                    spremiTag(klijentiSelectedIDs[i], 1, ret.tag);
                }
            }
            gridTagovi.jqGrid('resetSelection');
            gridKlijenti.jqGrid('resetSelection');
            $("#tagdropdown").dropdown('toggle');
        }

        //za sad nben koristim
        function subgridUkloni(subgrid) {
            var idsc = jQuery(subgrid).jqGrid('getDataIDs');
            alert("idsc: " + idsc.length);
            for (var i = 0; i < idsc.length; i++) {
                alert("ima ih: " + idsc.length);
                var cl = idsc[i];
                var id = jQuery(subgrid).jqGrid('getCell', cl, 'id');
                //de = "<a class='ui-button' data-toggle='tooltip' data-placement='top' title='Popis unita za portal' href=''><span class='glyphicon glyphicon-download'></span></a>";
                //de = "<span class='label label-info'>Tag1</span> <span class='label label-info'>Tag2</span> <span class='label label-info'>Tag3</span>";
                var de = '<button type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>';

                def = "<span class='glyphicon glyphicon-download'></span>";
                jQuery(subgrid).jqGrid('setRowData', idsc[i], {Ukloni: de});
            }
        }

        function dohvatiTagove(clientId) {
            var xmlhttp = new XMLHttpRequest();
            var url = "{{ path('td_cm_client_griddatatag') }}" + "?idClient=" + clientId;

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var myArr = JSON.parse(xmlhttp.responseText);
                    dodajTagoveNaKlijenta(myArr, clientId);
                }
            }
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        function dodajTagoveNaKlijenta(podaci, rowId) {
            var de = "";
            for (var x = 0; x < podaci.rows.length; x++) {
                //de = de + '<button type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><span class="glyphicon glyphicon-remove" aria-hidden="true">'+ podaci.rows[x].tag +'</span></button> ';
                de = de + '<div class="btn-group" role="group" aria-label="...">' +
                        '<button type="button" class="btn btn-info btn-xs" disabled="disabled">' + podaci.rows[x].tag + '</button>' +
                        '<button type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Tooltip on top" onclick="brisiTag(' + rowId + ',\'' + podaci.rows[x].tag.toString() + '\')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>' +
                        '</div> ';

                //alert("parentRowKey: " + parentRowKey);
                //def = "<span class='glyphicon glyphicon-download'></span>";

            }
            //alert("de: " + de);
            jQuery('#jqGridClient').jqGrid('setRowData', rowId, {Tagovi: de});
        }

        function spremiTag(idClient, idCompany, tag) {
            var xmlhttp = new XMLHttpRequest();
            var url = "{{ path('td_cm_client_griddatatagpersistrow') }}";

            xmlhttp.onreadystatechange = function () {
                //alert("xmlhttp.readyState: " + xmlhttp.readyState + "xmlhttp.status: " + xmlhttp.status + "xmlhttp.responseText: " + xmlhttp.responseText);
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    //var myArr = JSON.parse(xmlhttp.responseText);
                    //dodajTagoveNaKlijenta(myArr, clientId);
                    //OBNOVI TAGOVE
                    //alert("spremljeno. Poruka: " + xmlhttp.responseText);
                    dohvatiTagove(idClient);
                }
            }
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send('idClient=' + idClient + '&idCompany=' + idCompany + '&tag=' + tag);
        }

        function brisiTag(idClient, tag) {
            var xmlhttp = new XMLHttpRequest();
            var url = "{{ path('td_cm_client_griddatatagbrisi') }}";

            xmlhttp.onreadystatechange = function () {
                //alert("xmlhttp.readyState: " + xmlhttp.readyState + "xmlhttp.status: " + xmlhttp.status + "xmlhttp.responseText: " + xmlhttp.responseText);
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    //var myArr = JSON.parse(xmlhttp.responseText);
                    //dodajTagoveNaKlijenta(myArr, clientId);
                    //OBNOVI TAGOVE
                    //alert("spremljeno. Poruka: " + xmlhttp.responseText);
                    dohvatiTagove(idClient);
                    $('#jqGridClient').jqGrid('resetSelection');
                }
            }
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send('idClient=' + idClient + '&tag=' + tag);
        }

    </script>

{% endblock %}