{% extends '::base.html.twig' %}

{% block title %}CM {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bower_components/toastr/toastr.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bower_components/angular-ui-select/dist/select.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('node_modules/ui-select/dist/select.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('css/stilovi.css') }}"#}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Kontrolna ploča</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-th fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ portalCount }}</div>
                                <div>Lista portala</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('portal') }}">
                        <div class="panel-footer">
                            <span class="pull-left">Prikaži detalje</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-object-group fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="middle">{{ spCount }}</div>
                                <div class="middle">{{ spuCount }}</div>
                                <div>Objekti i jedinice</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('spu_all_2') }}">
                        <div class="panel-footer">
                            <span class="pull-left">Prikaži detalje</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ pkCount }}</div>
                                <div>Korisnici</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('portalkorisnik') }}">
                        <div class="panel-footer">
                            <span class="pull-left">Prikaži detalje</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-exchange fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="middle">{{ promjenaCount }}</div>
                                <div class="middle" data-toggle="tooltip" title="Broj transfera i broj neuspjelih transfera">{{ transferCount }} ({{ transferNotTransferedCount }})</div>
                                <div>Promjene i transferi</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('promjena_jqgrid') }}">
                        <div class="panel-footer">
                            <span class="pull-left">Prikaži detalje</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}