{# src/td/CMBundle/Resources/views/Default/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}CM {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bower_components/toastr/toastr.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bower_components/angular-ui-select/dist/select.css') }}">#}
    <link rel="stylesheet" href="{{ asset('node_modules/ui-select/dist/select.css') }}">
    {#<link rel="stylesheet" href="{{ asset('css/stilovi.css') }}"#}
{% endblock %}
	
{% block glavniIzbornik %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid" ng-app="portalListApp">

        <div class="row">
            <div class="col-md-9">
                {{ debug|raw }}
                <br/>
            </div>
        </div>

        <div class="row" ng-controller="PortalListCtrl">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <br>
                        <a href="{{ path('portalgroup') }}" class="btn btn-sm btn-default">
                           Grupe portala
                        </a>
                        <a href="{{ path('portalcode') }}" class="btn btn-sm btn-default">
                            Kodovi portala
                        </a>
                    </div>
                    <div class="col-md-3 pull-right">
                        <br>
                        <button class="btn btn-default" ng-click="createPortal()">Kreiraj novi portal</button>
                    </div>
                    <div class="col-md-3 pull-right">
                        <br>

                        <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><span
                                                    class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                            <input type="text" class="form-control" placeholder="Traži..."
                                   aria-describedby="basic-addon1" ng-model="query">
                        </div>
                        <br>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center vert-align" colspan="4">Portal</th>
                                    <th class="text-center vert-align" rowspan="2">Postavke veze korisnika</th>
                                    <th class="text-center vert-align" rowspan="2">Kontakt podaci</th>
                                </tr>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Logo</th>
                                    <th class="text-center">Uređivanje</th>
                                    <th class="text-center">Naziv</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="item in portals | filter: query"
                                    on-finish-render="ngRepeatFinished" ng-cloak>

                                    <td class="text-center vert-align">
                                        <div class="text-center">{{ '{{ item.id }}' }}</div>
                                    </td>

                                    <td class="text-center"><img
                                                src="{{ asset('bundles/cm/images/') }}{{ '{{ item.thumbnail }}' }}"
                                                alt="..." class="img-thumbnail"></td>
                                    <td class="text-center vert-align">
                                        <div class="vcenter">
                                            <a class="btn btn-default edit_portal" data-toggle="tooltip"
                                               data-placement="top" title="Uredi podatke portala"
                                               href="{{ path('portal_show', {'portal': 0}) }}{{ '{{ item.id }}' }}"><span
                                                        class="glyphicon glyphicon-pencil"></span></a>
                                        </div>
                                    </td>
                                    <td class="text-center vert-align">
                                        <ul class="list-unstyled">
                                            <li>{{ '{{ item.naziv }}' }}</li>
                                            <li>
                                                <a href="{{ '{{ item.link }}' }}">{{ '{{ item.link }}' }}</a>
                                            </li>
                                        </ul>
                                    </td>


                                    <td class="text-center vert-align">

                                        <a class="btn btn-default portal_korisnik"
                                           href="{{ path('portalkorisnik_listbyportal', {'portal': 0}) }}{{ '{{ item.id }}' }}"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Pregled veza korisnika sa portalom {{ '{{ item.naziv }}' }}">
                                            <span class="glyphicon glyphicon-th-list"></span>
                                        </a>
                                    </td>
                                    <td class="text-center vert-align">
                                        <ul class="list-unstyled">
                                            <li>Kontakt osoba:{{ '{{ item.contactPerson }}' }}</li>
                                            <li>email:{{ '{{ item.contactEmail }}' }}</li>
                                            <li>telefon:{{ '{{ item.contactTel }}' }}</li>
                                        </ul>
                                    </td>

                                    <!--<td><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Obriši setup"><span class="glyphicon glyphicon-remove"></span></button></td>-->


                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                           </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'node_modules/emodal/dist/eModal.min.js'
    'node_modules/angular/angular.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {#<script src="{{ asset('bower_components/emodal/dist/eModal.min.js') }}"></script>#}
    {#<script src="{{ asset('bower_components/toastr/toastr.min.js') }}"></script>#}

    {#<script src="{{ asset('bower_components/angular/angular.js') }}"></script>#}

    <script type="text/javascript">
        var portalListApp = angular.module('portalListApp', []).directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatFinished');
                        });
                    }
                }
            }
        });

        portalListApp.controller('PortalListCtrl', ['$scope', '$http', function ($scope, $http) {

            $scope.getPovezaniData = function () {
                $http.get('{{ path('portal_allPortalsJson') }}').then(function (response) {
                    $scope.portals = response.data;
//                    angular.forEach($scope.portals, function (portal, key) {
//                        portal.connectedUnits = parseInt(portal.prijavljeni);
//                        portal.notConnectedUnits = parseInt(portal.neprijavljeni);
//                    });
                });
                {#$http.get('{{ path('portal_allPortalsJson') }}').success(function (data) {#}
                {#$scope.allPortals = data;#}
                {#});#}
                {#$http.get('{{ path('portalkorisnik_notconnected') }}').success(function (data) {#}
                {#$scope.notConnectedPortals = data;#}
                {#});#}
            };

            $scope.createPortal = function () {
                var options = {
                    size: 'lg', // sm, md, lg, xl
                    url: '{{ path('portal_create') }}',
                    useBin: false,
                    title: 'Kreiranje portala'
                };
                var osvjezi = 1;
                var portalModal = eModal.iframe(options).done(
                        function () {
                            $('.modal').on('hide.bs.modal', function (e) {
                                // do something...
                                if (osvjezi) {
//                                        alert('zatvoreno');
                                    osvjezi = 0;
                                    $scope.getPovezaniData();
                                }
                            });
                        }
                );
                return false;
            };

            $scope.getPovezaniData();

            $scope.connectedUnits = 'Spremi1';

//            this.$onInit = function () {
////you also get the actual event object
//                //do stuff, execute functions -- whatever...
//                $('.edit_portal').on('click', function () {
//                    var el = $(this);
//                    var options = {
//                        size: 'xl', // sm, md, lg, xl
//                        url: el.attr('href'),
//                        useBin: false,
//                        title: 'Uređivanje podataka portala'
//                    };
//                    var osvjezi = 1;
//
//                    var portalModal = eModal.iframe(options).done(
//                            function () {
//                                $('.modal').on('hide.bs.modal', function (e) {
//                                    // do something...
//                                    if (osvjezi) {
////                                        alert('zatvoreno');
//                                        osvjezi = 0;
//                                        $scope.getPovezaniData();
//                                    }
//                                });
//                            }
//                    );
//                    return false;
//                });
//                $('.portal_korisnik').on('click', function () {
//                    var el = $(this);
//                    var options = {
//                        size: 'xl', // sm, md, lg, xl
//                        url: el.attr('href'),
//                        useBin: false,
//                        title: 'Pregled veza korisnika sa portalom'
//                    };
//                    var osvjezi = 1;
//
//                    var portalModal = eModal.iframe(options).done(
//                            function () {
//                                $('.modal').on('hide.bs.modal', function (e) {
//                                    // do something...
//                                    if (osvjezi) {
////                                        alert('zatvoreno');
//                                        osvjezi = 0;
//                                        $scope.getPovezaniData();
//                                    }
//                                });
//                            }
//                    );
//                    return false;
//                });
//            }
            $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
                //you also get the actual event object
                //do stuff, execute functions -- whatever...
                $('.edit_portal').on('click', function () {
                    var el = $(this);
                    var options = {
                        size: 'xl', // sm, md, lg, xl
                        url: el.attr('href'),
                        useBin: false,
                        title: 'Uređivanje podataka portala'
                    };
                    var osvjezi = 1;

                    var portalModal = eModal.iframe(options).done(
                            function () {
                                $('.modal').on('hide.bs.modal', function (e) {
                                    // do something...
                                    if (osvjezi) {
//                                        alert('zatvoreno');
                                        osvjezi = 0;
                                        $scope.getPovezaniData();
                                    }
                                });
                            }
                    );
                    return false;
                });
                $('.portal_korisnik').on('click', function () {
                    var el = $(this);
                    var options = {
                        size: 'xl', // sm, md, lg, xl
                        url: el.attr('href'),
                        useBin: false,
                        title: 'Pregled veza korisnika sa portalom'
                    };
                    var osvjezi = 1;

                    var portalModal = eModal.iframe(options).done(
                            function () {
                                $('.modal').on('hide.bs.modal', function (e) {
                                    // do something...
                                    if (osvjezi) {
//                                        alert('zatvoreno');
                                        osvjezi = 0;
                                        $scope.getPovezaniData();
                                    }
                                });
                            }
                    );
                    return false;
                });

            });
//            $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
//
//
//            });
        }]);

//        $(document).ready(function () {
//
//            $('.edit_connection').on('click', function () {
//                var el = $(this);
//                var options = {
//                    size: 'xl', // sm, md, lg, xl
//                    url: el.attr('href'),
//                    title: el.attr('title')
//                };
//                eModal.iframe(options);
//                return false;
//            });
//
//            $('.edit_help').on('click', function () {
//                var el = $(this);
//                var options = {
//                    size: 'md', // sm, md, lg, xl
//                    url: el.attr('href'),
//                    title: 'Informacije o spajanju'
//                };
//                eModal.iframe(options);
//                return false;
//            });
//
//            $('.modal').on('hidden.bs.modal', function (e) {
//                // do something...
//                alert('zatvori san modal');
//            });
//
//            $(function () {
//                $('[data-toggle="tooltip"]').tooltip()
//            });
//        });
    </script>
{% endblock %}