{# src/td/CMBundle/Resources/views/SetUp/kreiraj.html.twig #}
{% form_theme form 'tdCMBundle:Form:polja.html.twig' %}

{% extends '::base.html.twig' %}

{% block title %}SetUp - kreiranje {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<br />
				<h1>Kreiranje setup unita</h1>
				
				{{ form(form) }}
			
			</div>
		</div>
	</div>
	
	
{% endblock %}