{% extends '::base.html.twig' %}

{#{% block title %}Prijavite se {% endblock %}#}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{#{% block glavniIzbornik %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Molimo prijavite se ponovo jer je istekla sesija kolačića

            </div>
        </div>
    </div>


{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}