{# src/td/CMBundle/Resources/views/Default/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}SetUp - pregled {% endblock %}
	
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Naslov</h1>
        </div>	
    </div>	

    <div class="row">
        <div class="col-md-9">
            <table id="jqGridClient"></table>
            <div id="jqGridPagerClient"></div>
        </div>
    </div>	

    <div class="row">
        <div class="col-md-9">
            Sadržaj 2
        </div>
    </div>
		
</div>
{% endblock %}

{% block javascripts %}
	 {{ parent() }}
	
    <script>
	var lastsel;
	$(document).ready(function () {
           
          //za brisat
          //c.idClient as idClient, c.naziv as naziv, c.company as company, c.address as address, c.place as place, c.country as country
          //var podaciClient = 
            //Polja: pu.name as nazivUnit, pu.id as idUnit, p.id as idProperty, p.name as nazivObjekt, p.city as mjesto, ac.naziv as skrbnik, ow.naziv as vlasnik
            $('#jqGridClient').jqGrid({
            page: 1,
            //rownumbers: true,
            url: "{{ path('td_cm_setUp_griddataclient') }}",
            mtype: "GET",
            datatype: "json",
            colModel: [
                    {name: 'idClient', label: 'ID Client', width: 90, align: 'center', key:true },
                    {name: 'naziv', label: 'Naziv', width: 220, align: 'center' },
                    {name: 'company', label: 'Company', width: 90, align: 'center' },
                    {name: 'address', label: 'Address', width: 190, align: 'center' },
                    {name: 'place', label: 'Place', width: 240, align: 'left' },
                    {name: 'country', label: 'Country', width: 90, align: 'left' },
                    {name:'AKT', width:50,sortable:false, align: 'center', sortable:false, search:false }
                      ],
            height: '100%',
            rowNum: 20,
            pager: '#jqGridPagerClient',
          });
          
          //za brisati
          // activate the toolbar searching
            $('#jqGridClient').jqGrid('filterToolbar');
            $('#jqGridClient').jqGrid('navGrid',"#jqGridPagerClient", {                
                search: true, // show search button on the toolbar
                add: false,
                edit: false,
                del: false,
                refresh: true
            });
            
            
        });
	
        
    </script>
	
{% endblock %}