<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5>Kreiranje nove veze (portalKorisnik) za portal <b>{{ portal.naziv }}</b></h5>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="Skrbnik:" class="col-sm-3 control-label">Skrbnik:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control input-sm" id="Skrbnik:" placeholder="Skrbnik:"
                           value="[{{ property.idAgent }}] {{ agent.naziv }}" disabled>
                </div>
            </div>

            <div class="form-group">
                <label for="Webshop:" class="col-sm-3 control-label">Webshop:</label>

                <div class="col-sm-9">
                    <select name="webshop" id="webshop" class="form-control  input-sm">
                        {% for webshop in webshops %}
                            <option value="{{ webshop.id }}">[{{ webshop.id }}] {{ webshop.title }} - [{{ webshop.idCompanyKorisnik }}] {{ webshop.nameCompany }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-primary btn-sm" onclick="createPortalKorisnik()"><i
                                class="fa fa-floppy-o fa-lg"
                                aria-hidden="true"></i> Spremi
                    </button>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">

    function createPortalKorisnik() {
        var webshop = $('#webshop').val();
        if (webshop == 0) {
            toastr.error('Potrebno je odabrati webshop!');
        }
        $.ajax({
            type: "POST",
            url: '{{ path('portalkorisnik_create_portalkorisnik_and_setupproperty') }}',
            data: JSON.stringify({
                'webshopId': webshop,
                'portalId': {{ portal.id}},
                'propertyId': {{ property.id }},
                {% if propertyUnitId > 0 %}'propertyUnitId': {{ propertyUnitId }}{% endif %}
            }) // serializes the form's elements.
        }).done(function (data) {
            if (data.status == 'ok') {
                toastr.info(data.message);
                $('#portalKorisnikModal').modal('toggle');
                reloadObjectBookingCom({{ property.id }});
                {% if propertyUnitId > 0 %}reloadUnitBookingCom({{ propertyUnitId }}){% endif %}
                submitFormSearch();
            } else {
                toastr.error(data.message);
            }
        });
    }
</script>