<div class="form-group form-group-sm">
    <label  class="col-sm-4 control-label"> Naziv objekta: </label>
    <div class="col-sm-8">
        <input type="text" class="form-control input-xs" placeholder="" value="{{ property.name }}" disabled="disabled">
    </div>
</div>
<div class="form-group form-group-sm">
    <label  class="col-sm-4 control-label"> Vlasnik: </label>
    <div class="col-sm-8">
        {% if property.idOwnerC != 0 %}
            <input type="text" class="form-control input-sm" placeholder="" value="[{{ property.ownerC.id }}] {{ property.ownerC.company }}" disabled="disabled">
        {% else %}
            <p class="danger">Na objektu nije evidentiran vlasnik!</p>
        {% endif %}
    </div>
</div>
<div class="form-group form-group-sm">
    <label  class="col-sm-4 control-label"> Skrbnik: </label>
    <div class="col-sm-8">
        {% if property.idAgent != 0 %}
        <input type="text" class="form-control input-sm" placeholder="" value="[{{ property.idAgent }}] {{ property.company.company }}" disabled="disabled">
        {% else %}
            <p class="danger">Na objektu nije evidentiran skrbnik!</p>
        {% endif %}
    </div>
</div>
<div class="form-group form-group-sm" id="formDataPortalKorisnik">
    <label for="portal" class="col-sm-4 control-label">Portal korisnik:</label>
    <div class="col-sm-8">

        <select class="form-control" id="idPortalKorisnik" name="idPortalKorisnik">
            {% for portalKorisnik in portalKorisnici %}
                <option value="{{ portalKorisnik.id }}">[{{ portalKorisnik.portal.id }}] {{ portalKorisnik.portal.naziv}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% if property.idAgent != 0 %}
<div class="form-group form-group-sm">
    <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-default btn-sm">Dodaj</button>
    </div>
</div>
{% endif %}
