<div class="container-fluid" ng-app="portalKorisnikApp" ng-controller="PortalKorisnikController" ng-cloak>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="pull-right vert-align">
                <div class="form-group form-group-sm">
                    <label for="inputID" class="col-sm-2 control-label">Traži:</label>

                    <div class="col-sm-10">
                        <input type="text" name="name" id="inputID" class="form-control" value="" title=""
                               ng-model="query">
                    </div>
                </div>
            </div>
        </div>
        {% if portal is defined %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group form-group-sm">
                <label for="company" class="col-md-2 control-label">Company:</label>

                <div class="col-md-3">
                    <input type="text" class="form-control" id="company" placeholder="Company" ng-model="company">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-sm" ng-click="searchCompany()">Nastavi</button>
                </div>
                <div class="col-md-offset-1 col-md-4" ng-if="companyExists">
                    [{{ '{{ companyId }}' }}] {{ '{{ companyNaziv }}' }}
                    <button class="btn btn-default btn-sm" ng-click="addCompany()">Dodaj</button>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID PK</th>
                        <th colspan="2">Company Korisnik</th>
                        <th colspan="3">Webshop</th>
                        <th colspan="2">Povezan</th>
                        <th>Na čekanju</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items | filter:query"
                        class="{{ '{{ item.pending ? \'danger\' : \'\' }}' }}">
                        <td class="text-center vert-align">{{ '{{ ::item.id }}' }} <span ng-if="item.portalNaziv.length > 0">{{ '{{ item.portalNaziv }}' }}</span></td>
                        <td class="text-center vert-align">{{ '{{ item.idCompanyKorisnik }}' }}</td>
                        <td class="text-center vert-align">{{ '{{ item.nazivCompanyKorisnik }}' }}</td>
                        <td class="vert-align">
                            <div class="form-group form-group-sm">
                                <div class="col-sm-12">

                                    <ui-select ng-model="item.idWebshopRates" theme="selectize"
                                               title="Choose a person" ng-change="activateButton(item)">
                                        <ui-select-match
                                                placeholder="Traži webshop u listi...">{{ '[{{ $select.selected.id }}] {{ $select.selected.title }}' }}</ui-select-match>
                                        <ui-select-choices
                                                repeat="item1.id as item1 in webshops | filter: $select.search">
                                            <div ng-bind-html="item1.id | highlight: $select.search"></div>
                                            <small ng-bind-html="item1.title | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                        </td>
                        <td class="text-center vert-align">
                            <div class="radio">
                                <label>

                                    <input type="radio" ng-value="true" ng-model="item.cjenikKupovni">Kupovni
                                </label>
                                <label>
                                    <input type="radio" ng-value="false" ng-model="item.cjenikKupovni">
                                    Prodajni
                                </label>
                            </div>

                        </td>
                        <td class="text-center vert-align">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!item.changed"
                                            ng-click="saveWebshopChange(item)">Spremi
                                    </button>
                                </div>
                            </div>

                        </td>
                        <td class="text-center vert-align">
                            <div class="checkbox" style="margin-top: 5px; margin-bottom: 5px;">
                                <label>
                                    <input type="checkbox" ng-model="item.povezan"
                                           ng-change="promijeniStatusPovezanosti(item)">
                                </label>
                            </div>

                        </td>
                        <td class="text-center vert-align">
                            <i class="fa fa-link" aria-hidden="true" ng-if="item.povezan"></i>
                            <i class="fa fa-chain-broken" aria-hidden="true" ng-if="!item.povezan"></i>
                        </td>

                        <td class="text-center vert-align">
                            <i class="fa fa-hourglass-half" aria-hidden="true" ng-if="item.pending"></i>
                            <i class="fa fa-minus" aria-hidden="true" ng-if="!item.pending"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>