{# src/td/CMBundle/Resources/views/Form/polja.html.twig #}
{% block form_row %}
{% spaceless %}
    <div class="form_row">
		
		<div class="form-group">
							 {{ form_label(form) }}
							
							{{ form_errors(form) }}
							<div class="col-sm-10">
								{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
    </div>
{% endspaceless %}
{% endblock form_row %}