<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {#{% include '@BraincraftedBootstrap/flash.html.twig' %}#}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% if idHead == -6 %}Nema rateova za jedinicu. {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Rate Booking.com</th>
                    <th>Naziv</th>
                    <th>Is child</th>
                    <th>Max persons</th>
                    <th>Cjenik</th>
                </tr>
                </thead>
                <tbody>
                {% for rate in rates %}
                    <tr class="unitrate">

                        <td class="idunitrate" width="50">{{ rate.idUnitRate }}</td>
                        <td width="50">{{ rate.id }}</td>
                        <td width="100">{{ rate.rate_name }}<input type="hidden" value="{{ rate.readonly }}"
                                                                   class="readonaly"></td>
                        <td class="ischildrate" width="50">{{ rate.is_child_rate }} </td>
                        <td width="50">{{ rate.max_persons }}</td>
                        <td width="200">
                            {% if not rate.readonly == '1' and not rate.is_child_rate == '1' %}
                                {% if idHead == -3 %}
                                    WebshopPropertyUnit ne postoji za jedinicu
                                {% elseif idHead == -4 %}
                                    Traženi webshop_partner ne postoji za jedinicu
                                {% elseif idHead == -5 %}
                                    WebshopPropertyUnit od partnera ne postoji
                                {% elseif idHead == -6 %}
                                {% else %}
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <select name="cjenik" id="cjenik{{ rate.idUnitRate }}"
                                                class="form-control idcjenik">
                                            <option value=""></option>
                                            <option value="{{ idHead }}"
                                                    {% if idHead == rate.idHead %}selected{% endif %}>{{ idHead }}</option>
                                        </select>
                                    </div>

                                {% endif %}
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" name="idcjenikcustom"
                                           id="idcjenikcustom{{ rate.idUnitRate }}"
                                           class="form-control idcjenikcustom"
                                           value="{% if idHead != rate.idHead and rate.idHead > 0 %}{{ rate.idHead }}{% endif %}">

                                </div>
                            {% else %}
                                ReadOnly rate
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default btn-xs" onclick="saveRates()">Spremi</button>
    </div>
</div>


<script type="text/javascript">


    function saveRates() {

        {#var url = "{{ path('transfer_manual_los', {'setupPropertyUnit': setupPropertyUnit.id }) }}"; // the script where you handle the form input.#}
        var rates = [];
        $("tr.unitrate").each(function (i, tr) {
            rates.push({
                idUnitRate: $(tr).find('td[class="idunitrate"]').html(),
                is_child_rate: $(tr).find('td[class="ischildrate"]').html(),
                readonly: $(tr).find('input[class="readonaly"]').val(),
                idHead: $(tr).find('select').val(),
                idcjenikcustom: $(tr).find('input[class="form-control idcjenikcustom"]').val()
            });
        });
        $.ajax({
            type: "POST",
            url: '{{ path('td_cm_saveIdHead') }}',
            data: JSON.stringify({'rates': rates}) // serializes the form's elements.
        }).done(function (data) {
            var reloaad = false;
            for (var x = 0; x < data.length; x++) {
                if (data[x].status == 'ok') {
                    toastr.info(data[x].message);
                    reloaad = true;
                } else {
                    toastr.error(data[x].message);
                }
            }

            if (reloaad) {
                $('#unitRateLargeModal').modal('toggle');
                reloadUnitBookingCom({{ setupPropertyUnit.propertyUnit.id }}, '{{ portalCode }}');
                reloadObjectBookingCom({{ setupPropertyUnit.propertyUnit.property.id }}, '{{ portalCode }}');
            }
        });

//        e.preventDefault(); // avoid to execute the actual submit of the form.
    }
</script>