<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {#'node_modules/font-awesome/css/font-awesome.min.css'#}
        {% stylesheets 'node_modules/bootstrap3/dist/css/bootstrap.min.css'
        'node_modules/toastr/build/toastr.min.css'
        'bundles/cm/css/cmstyles.css'
        'bundles/cm/css/sb-admin-2.css'
        'node_modules/font-awesome/css/font-awesome.min.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {#<link type="text/css" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"#}
        {#media="screen">#}
    {% endblock %}
</head>
<body>

{% block izbornikTD %}
    <!-- DO NOT MOVE! The following AllWebMenus linking code section must always be placed right AFTER the BODY tag-->
    <!-- ******** BEGIN ALLWEBMENUS CODE FOR menu_sub ******** -->
    <script type="text/javascript">var MenuLinkedBy = "AllWebMenus [4]", awmMenuName = "menu_sub", awmBN = "648";
        awmAltUrl = "";</script>
    <script type="text/javascript" charset="UTF-8" src="/{{ menu|default('menu_IZ') }}/menu_sub.js"></script>
    <script type="text/javascript">awmBuildMenu();</script>
    <!-- ******** END ALLWEBMENUS CODE FOR menu_sub ******** -->
{% endblock %}

{% block glavniIzbornik %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nabotun">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('td_cm_homepage') }}">CM</a>
            </div>
            <div class="navbar-collapse collapse" id="nabotun">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('td_cm_homepage') }}">Kontrolna ploča</a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('portal') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Portal <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('portal') }}">Lista portala</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('portalgroup') }}">Portal grupe</a></li>
                            <li><a href="{{ path('portalcode') }}">Portal kodovi</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('spu_all_2') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Objekti i jedinice <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('spu_all') }}">Pregled objekata i jedinica (jqGrid)</a></li>
                            <li><a href="{{ path('spu_all_2') }}">Pregled objekata i jedinica</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('portalkorisnik') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Korisnici <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('portalkorisnik_list_by_korisnik') }}">Pregled korisnika</a></li>
                            <li><a href="{{ path('portalkorisnik') }}">Pregled aktivnih portalkorisnika</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('promjena_jqgrid') }}">Promjene</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

{% endblock %}

{% block content %}
{% endblock %}

{% block javascripts %}

    {% javascripts 'node_modules/jquery/dist/jquery.min.js'
    'node_modules/bootstrap3/dist/js/bootstrap.min.js'
    'node_modules/toastr/build/toastr.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}
</body>
</html>
