<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Povezivanje s objektom</h4>
</div>
<div class="modal-body">
    <form class="form form-horizontal">

        <div class="form-group">
            <label for="first_name" class="col-sm-4 control-label">ID:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="" id="" value="" ng-model="selectedSetupProperty.idPropertyNaPortalu">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn green-jungle" ng-click="saveidPropertyNaPortalu()">
                <span class="fa fa-floppy-o"></span>
                Spremi promjene
            </button>
        </div>
    </form>
</div>
<!--<div class="modal-footer">-->

<!--</div>-->

