{% extends 'base.html.twig' %}

{% block body %}
    <h1>UnitRateStavke list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idunitrate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unitRateStavke in unitRateStavkes %}
            <tr>
                <td><a href="{{ path('unitrate_show', { 'id': unitRateStavke.id }) }}">{{ unitRateStavke.id }}</a></td>
                <td>{{ unitRateStavke.idUnitRate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('unitrate_show', { 'id': unitRateStavke.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('unitrate_edit', { 'id': unitRateStavke.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unitrate_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
