{% extends '::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content -%}

    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h1>Uredi grupu portala</h1>
    		</div>
    	</div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-1">
                <a href="{{ path('portalgroup') }}" class="btn btn-sm btn-default">
                    Pregled svih grupa portala

                </a>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                {{ form(edit_form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
                <div class="form-group">
                    {#{{ form_start(delete_form) }}#}
                    {#{{ form_row(delete_form) }}#}
                    {#{{ form_widget(delete_form.) }}#}
                    {#{{ form_end(delete_form) }}#}
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>

    </div>



{% endblock %}
