{% extends '::base.html.twig' %}



{% block content -%}
    <div class="container">
        <div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Grupe portala</h1>
        	</div>
        </div>
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="records_list table table-responsive">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Kod</th>
                        <th>Poredak</th>
                        <th>Akcije</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td width="50"><a href="{{ path('portalgroup_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td width="300"><b>{{ entity.name }}</b></td>
                            <td width="600">{{ entity.description }}</td>
                            <td width="100">{{ entity.code }}</td>
                            <td width="70">{{ entity.orderGroup }}</td>
                            <td width="200">
                                <a href="{{ path('portalgroup_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default"><i class="fa fa-file-text-o" aria-hidden="true"></i> Prikaži</a>
                                <a href="{{ path('portalgroup_edit', { 'id': entity.id }) }}"  class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Uredi</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    		</div>
    	</div>

        <div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{ path('portalgroup_new') }}" class="btn btn-sm btn-success">
                    Izradi novu grupu portala
                </a>
        	</div>
        </div>
    </div>







    {% endblock %}
