{# src/td/CMBundle/Resources/views/SetUp/kreiraj.html.twig #}


{% extends '::base.html.twig' %}
{% form_theme form 'tdCMBundle:Forms:polja.html.twig' %}
{% block title %}Setup Property Unit - ažuriranje {% endblock %}

{% block content %}
	<div class="container">
	
		<div class="row">
			<div class="col-md-9">
				<br />
				<h1>Kreiranje setup unita</h1>
				<p>webshop {{ portalKorisnik.idWebshopRates }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<a class="btn btn-default" href="{{ path('td_cm_setUp_portal', {'idCompanyKorisnik': idCompanyKorisnik, 'idPortal': idPortal}) }}" data-toggle="tooltip" data-placement="top" title="Povrtak na pregled setuapa" data-delay="500"><span class="glyphicon glyphicon-chevron-left"></span>  Povratak</a>
				<a class="btn btn-danger" href="{{ path('td_cm_setUp_obrisi', {'idPortalKorisnik': portalKorisnik.id, 'id': 1}) }}" data-toggle="tooltip" data-placement="top" title="Ttrajno brisanje iz CM-a" data-delay="500"><span class="glyphicon glyphicon-remove"></span>  Ukloni </a>
				<br />
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-9">
				
				<br />
				{{ form_start(form, { 'style': 'horizontal' }) }}
				{{ form_row(form.idPropertyUnit) }}
				{{ form_row(form.idPropertyUnitNaPortalu) }}
				{{ form_row(form.aktivan) }}
				{{ form_row(form.idSkrbnik) }}
				{{ form_widget(form.save) }}
				{{ form_end(form) }}
			
			</div>
		</div>
	</div>
	
	
{% endblock %}