{# src/td/CMBundle/Resources/views/PortalKorisnik/azuriraj.html.twig #}


{% extends '::base.html.twig' %}
{% block title %}SetUp - kreiranje {% endblock %}

{% block content %}
	<div class="container">
		<br />
		<div class="row">
			<h1>Promijeni postavke portala {{ portal.naziv }}</h1>
		</div>
		
		<div class="row">
			<div class="col-md-9">
				<a class="btn btn-default" href="{{ path('td_cm_homepage') }}" data-toggle="tooltip" data-placement="top" title="Povrtak na pregled portala" data-delay="500"><span class="glyphicon glyphicon-chevron-left"></span>  Povratak</a>
				<a class="btn btn-danger" href="{{ path('td_cm_portalKorisnik_obrisi', {'id': portalKorisnik.id}) }}" data-toggle="tooltip" data-placement="top" title="Ttrajno brisanje postavki za portal {{ portal.naziv }}" data-delay="500"><span class="glyphicon glyphicon-remove"></span>  Ukloni vezu portala</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-9">
				<br />
	
				{{ form(form, { 'style': 'horizontal' }) }}
			
			</div>
		</div>
	</div>
	
	
{% endblock %}