{% extends 'base.html.twig' %}

{% import 'tdCMBundle:General:bootstrap3CM.html.twig' as helper %}

 {% block stylesheets %}
     {{ parent() }}
     {{ helper.stylesheets() }}
     {% stylesheets
     'node_modules/select2/dist/css/select2.min.css' %}
     <link rel="stylesheet" href="{{ asset_url }}"/>
     {% endstylesheets %}
 {% endblock %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">


                {#<div class="table-responsive">#}
                {#<table class="table table-responsive">#}
                {#<thead>#}
                {#<tr>#}
                {#<th>ID</th>#}
                {#<th>Naziv</th>#}
                {#<th>Akcije</th>#}

                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                {#{% for entity in entities %}#}
                {#<tr>#}
                {#<td>{{ entity.id }}</td>#}
                {#<td>{{ entity.company }}</td>#}
                {#<td>#}
                {#<div class="btn-group">#}
                {#<button type="button" class="btn btn-default btn-xs">Pregled portala</button>#}
                {#&#123;&#35;<button type="button" class="btn btn-default">Middle</button>&#35;&#125;#}
                {#&#123;&#35;<button type="button" class="btn btn-default">Right</button>&#35;&#125;#}
                {#</div>#}
                {#</td>#}
                {#</tr>#}
                {#{% endfor %}#}
                {#</tbody>#}
                {#</table>#}
                {#</div>#}

                <form action="{{ pager_form_path(pager) }}" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ helper.toolbar(pager) }}
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th width="20%">{{ helper.orderBy(pager, 'id', 'ID') }}</th>
                                <th width="80%">{{ helper.orderBy(pager, 'company', 'Naziv') }}</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>{{ helper.filter(pager, 'id') }}</th>
                                <th>{{ helper.filter(pager, 'company') }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in pager.items %}
                                <tr>
                                    <td {% if companyId == row.id %}class="bg-primary" {% endif %}>{{ row.id }}</td>
                                    <td {% if companyId == row.id %}class="bg-primary" {% endif %}>{{ row.company }}</td>
                                    <td {% if companyId == row.id %}class="bg-primary" {% endif %}>
                                        <a href="{{ pager_path(pager,pager.currentPageNumber) }}&company={{ row.id }}"
                                           class="btn btn-default btn-xs">Prikaz</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {{ helper.paginate(pager) }}

                </form>

            </div>

            {% if company is not null %}
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h3>Prikaz portala za Company {{ companyId }} {{ company.company }}</h3>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th width="8%">ID PK</th>
                                <th width="25%">Portal</th>
                                <th width="20%">Webshop</th>
                                <th width="5%"></th>
                                <th width="23%">Kupovni/prodajni</th>
                                <th width="13%">Povezan</th>
                                <th width="8%">Na čekanju</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pk in portalKorisnici %}
                                <tr id="tr{{ pk.id }}" class="{{ pk.pending ? 'danger' : '' }}">
                                    <td>{{ pk.id }} </td>
                                    <td>[{{ pk.portal.id }}] {{ pk.portal.naziv }} </td>
                                    <td>
                                        {% if pk.portal.mustHaveWebshop %}
                                            <select class="webshop-select" name="state" id="select{{ pk.id }}">
                                                <option value=""></option>
                                                {% for webshop in webshops %}
                                                    <option value="{{ webshop.id }}" {{ pk.webshop and webshop.id == pk.webshop.id ? 'selected' : '' }}>{{ webshop.id }} {{ webshop.title }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <small>Za ovaj portal se ne postavlja webshop.</small>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if pk.portal.mustHaveWebshop %}
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    onclick="saveWebshopChange({{ pk.id }})" id="spremi{{ pk.id }}">
                                                <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
                                            </button>
                                            <i class="fa fa-spinner fa-spin hidden" aria-hidden="true"
                                               id="spinnerSpremi{{ pk.id }}"></i>
                                            {#<div class="btn-group">#}
                                            {##}
                                            {#</div>#}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" name="cjenikKupovni{{ pk.id }}" id="optionsRadios1"
                                                       value="1"
                                                        {{ pk.cjenikKupovni ? 'checked' : '' }} >
                                                <small>Kupovni</small>
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input type="radio" name="cjenikKupovni{{ pk.id }}" id="optionsRadios2"
                                                       value="0" {{ pk.cjenikKupovni ? '' : 'checked' }}>
                                                <small>Prodajni</small>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="text-center vert-align">
                                        <div class="checkbox" style="margin-top: 5px; margin-bottom: 5px;">
                                            <label id="tdPovezan{{ pk.id }}">
                                                <input id="povezan{{ pk.id }}"
                                                       type="checkbox" {{ pk.povezan ? 'checked' : '' }}
                                                       onclick="updateIconPovezan({{ pk.id }})">

                                                <i id="povezanLink{{ pk.id }}"
                                                   class="fa fa-link {{ pk.povezan ? '' : 'hidden' }}"
                                                   aria-hidden="true"></i>

                                                <i id="povezanBroken{{ pk.id }}"
                                                   class="fa fa-chain-broken  {{ pk.povezan ? 'hidden' : '' }}"
                                                   aria-hidden="true"></i>

                                            </label>
                                            <i class="fa fa-spinner fa-spin hidden" aria-hidden="true"
                                               id="spinnerPovezan{{ pk.id }}"></i>
                                        </div>

                                    </td>

                                    <td class="text-center vert-align">
                                        <i id="pendingHourglass{{ pk.id }}"
                                           class="fa fa-hourglass-half {{ pk.pending ? '' : 'hidden' }}"
                                           aria-hidden="true"></i>
                                        <i id="pendingMinus{{ pk.id }}"
                                           class="fa fa-minus {{ pk.pending ? 'hidden' : '' }}" aria-hidden="true"></i>
                                    </td>
                                </tr>

                            {% endfor %}
                            {% for portal in portals %}
                                <tr>
                                    <td></td>
                                    <td>[{{ portal.id }}] {{ portal.naziv }} </td>

                                    <td colspan="5">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-sm" onclick="addPortalToKorisnik({{ portal.id }})">Dodaj</button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {#{{ helper.javascripts() }}#}


     {#'node_modules/select2/dist/js/i18n/hr.js'#}
     {% javascripts
     'node_modules/select2/dist/js/select2.js' %}
     <script src="{{ asset_url }}"></script>
     {% endjavascripts %}

     <script>
         // In your Javascript (external .js resource or <script> tag)
         $(document).ready(function () {
             $('.webshop-select').select2();
         });

         function updateIconPovezan(pkId) {
             var status;
             changeShowHidden('#spinnerPovezan' + pkId, '#tdPovezan' + pkId);
             if ($('#povezan' + pkId).is(":checked")) {
                 changeShowHidden('#povezanLink' + pkId, '#povezanBroken' + pkId);
                 status = true;
             } else {
                 changeShowHidden('#povezanBroken' + pkId, '#povezanLink' + pkId);
                 status = false;
             }

             $.ajax({
                 type: "POST",
                 url: '{{ path('portalkorisnik_changestatuspovezan') }}',
                 data: JSON.stringify({id: pkId, povezan: status}),
                 success: function (data) {
                     if (data.status == 'ok') {
                         toastr.info(data.message, 'Obavijest');
                         $('#tr'+pkId).removeClass('danger');
                     } else {
                         toastr.error(data.message, 'Greška');
                     }
                     changeShowHidden('#tdPovezan' + pkId, '#spinnerPovezan' + pkId);
                 },
                 dataType: 'json'
             });
         }

         function saveWebshopChange(pkId) {
             var webshopId, cjenikKupovni;
             changeShowHidden('#spinnerSpremi' + pkId, '#spremi' + pkId);

             webshopId = $("#select" + pkId + " option:selected").val();
             cjenikKupovni = $("input[type='radio'][name='cjenikKupovni" + pkId + "']:checked").val();
             $.ajax({
                 type: "POST",
                 url: '{{ path('portalkorisnik_savewebshopchange') }}',
                 data: JSON.stringify({id: pkId, idWebshopRates: webshopId, cjenikKupovni: cjenikKupovni}),
                 success: function (data) {
                     if (data.status == 'ok') {
                         toastr.info(data.message, 'Obavijest');
                     } else {
                         toastr.error(data.message, 'Greška');
                     }
                     changeShowHidden('#spremi' + pkId, '#spinnerSpremi' + pkId);
                     changeShowHidden('#pendingMinus' + pkId, '#pendingHourglass' + pkId);
                     $('#tr' + pkId).removeClass('danger');
                 },
                 dataType: 'json'
             });
         }

         function changeShowHidden(objectIdShow, objectIdHide) {
             $(objectIdShow).removeClass('hidden');
             $(objectIdHide).addClass('hidden');
         }

         function addPortalToKorisnik(pId){
             $.ajax({
                 type: "POST",
                 url: '{{ path('portalkorisnik_addCompany', {portal:0}) }}'+pId,
                 data: JSON.stringify({id: {{ companyId }}}),
                 success: function (data) {
                     if (data.status == 'ok') {
                         toastr.info(data.message, 'Obavijest');
                         window.location = "{{ pager_path(pager,pager.currentPageNumber) }}&company={{ companyId }}";
                     } else {
                         toastr.error(data.message, 'Greška');
                     }
                 },
                 dataType: 'json'
             });

         }

     </script>
 {% endblock %}