{# src/td/CMBundle/Resources/views/SetUp/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Pregled korisnika po portalima{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bower_components/toastr/toastr.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('css/select2.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('css/selectize.default.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.css') }}">#}
    <style>
        .selectize-input {
            padding: 5px;
        }

        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }

        /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
        .select-box {
            background: #fff;
            position: relative;
            z-index: 1;
        }

        .alert-info.positioned {
            margin-top: 1em;
            position: relative;
            z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
        }
    </style>
    <style>
        body {
            padding: 15px;
        }

        .selectize-control {
            /* Align Selectize with input-group-btn */
            top: 2px;
        }

        /* Reset right rounded corners, see Bootstrap input-groups.less */
        .input-group > .selectize-control > .selectize-input {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        /*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.19.3 - 2016-08-17T06:24:46.066Z
 * License: MIT
 */

        /* Style when highlighting a search. */
        .ui-select-highlight {
            font-weight: bold;
        }

        .ui-select-offscreen {
            clip: rect(0 0 0 0) !important;
            width: 1px !important;
            height: 1px !important;
            border: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden !important;
            position: absolute !important;
            outline: 0 !important;
            left: 0px !important;
            top: 0px !important;
        }

        .ui-select-choices-row:hover {
            background-color: #f5f5f5;
        }

        /* Select2 theme */

        /* Mark invalid Select2 */
        .ng-dirty.ng-invalid > a.select2-choice {
            border-color: #D44950;
        }

        .select2-result-single {
            padding-left: 0;
        }

        .select2-locked > .select2-search-choice-close {
            display: none;
        }

        .select-locked > .ui-select-match-close {
            display: none;
        }

        body > .select2-container.open {
            z-index: 9999; /* The z-index Select2 applies to the select2-drop */
        }

        /* Handle up direction Select2 */
        .ui-select-container[theme="select2"].direction-up .ui-select-match,
        .ui-select-container.select2.direction-up .ui-select-match {
            border-radius: 4px; /* FIXME hardcoded value :-/ */
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .ui-select-container[theme="select2"].direction-up .ui-select-dropdown,
        .ui-select-container.select2.direction-up .ui-select-dropdown {
            border-radius: 4px; /* FIXME hardcoded value :-/ */
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            border-top-width: 1px; /* FIXME hardcoded value :-/ */
            border-top-style: solid;

            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

            margin-top: -4px; /* FIXME hardcoded value :-/ */
        }

        .ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search,
        .ui-select-container.select2.direction-up .ui-select-dropdown .select2-search {
            margin-top: 4px; /* FIXME hardcoded value :-/ */
        }

        .ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match,
        .ui-select-container.select2.direction-up.select2-dropdown-open .ui-select-match {
            border-bottom-color: #5897fb;
        }

        .ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden,
        .ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden input {
            opacity: 0;
            height: 0;
            min-height: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        /* Selectize theme */

        /* Helper class to show styles when focus */
        .selectize-input.selectize-focus {
            border-color: #007FBB !important;
        }

        /* Fix input width for Selectize theme */
        .selectize-control > .selectize-input > input {
            width: 100%;
        }

        /* Fix dropdown width for Selectize theme */
        .selectize-control > .selectize-dropdown {
            width: 100%;
        }

        /* Mark invalid Selectize */
        .ng-dirty.ng-invalid > div.selectize-input {
            border-color: #D44950;
        }

        /* Handle up direction Selectize */
        .ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
            margin-top: -2px; /* FIXME hardcoded value :-/ */
        }

        .ui-select-container[theme="selectize"] input.ui-select-search-hidden {
            opacity: 0;
            height: 0;
            min-height: 0;
            padding: 0;
            margin: 0;
            border: 0;
            width: 0;
        }

        /* Bootstrap theme */

        /* Helper class to show styles when focus */
        .btn-default-focus {
            color: #333;
            background-color: #EBEBEB;
            border-color: #ADADAD;
            text-decoration: none;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        .ui-select-bootstrap .ui-select-toggle {
            position: relative;
        }

        .ui-select-bootstrap .ui-select-toggle > .caret {
            position: absolute;
            height: 10px;
            top: 50%;
            right: 10px;
            margin-top: -2px;
        }

        /* Fix Bootstrap dropdown position when inside a input-group */
        .input-group > .ui-select-bootstrap.dropdown {
            /* Instead of relative */
            position: static;
        }

        .input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
            border-radius: 4px; /* FIXME hardcoded value :-/ */
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
            border-radius: 4px !important; /* FIXME hardcoded value :-/ */
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        .ui-select-bootstrap .ui-select-search-hidden {
            opacity: 0;
            height: 0;
            min-height: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        .ui-select-bootstrap > .ui-select-match > .btn {
            /* Instead of center because of .btn */
            text-align: left !important;
        }

        .ui-select-bootstrap > .ui-select-match > .caret {
            position: absolute;
            top: 45%;
            right: 15px;
        }

        /* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
        .ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
            width: 100%;
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
            margin-top: -1px;
        }

        body > .ui-select-bootstrap.open {
            z-index: 1000; /* Standard Bootstrap dropdown z-index */
        }

        .ui-select-multiple.ui-select-bootstrap {
            height: auto;
            padding: 3px 3px 0 3px;
        }

        .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
            background-color: transparent !important; /* To prevent double background when disabled */
            border: none;
            outline: none;
            height: 1.666666em;
            margin-bottom: 3px;
        }

        .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
            font-size: 1.6em;
            line-height: 0.75;
        }

        .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
            outline: 0;
            margin: 0 3px 3px 0;
        }

        .ui-select-multiple .ui-select-match-item {
            position: relative;
        }

        .ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
            pointer-events: none;
        }

        .ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
            content: "";
            position: absolute;
            top: 0;
            right: 100%;
            height: 100%;
            margin-right: 2px;
            border-left: 1px solid #428bca;
        }

        .ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;
            margin-left: 2px;
            border-right: 1px solid #428bca;
        }

        .ui-select-bootstrap .ui-select-choices-row > span {
            cursor: pointer;
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .ui-select-bootstrap .ui-select-choices-row > span:hover, .ui-select-bootstrap .ui-select-choices-row > span:focus {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }

        .ui-select-bootstrap .ui-select-choices-row.active > span {
            color: #fff;
            text-decoration: none;
            outline: 0;
            background-color: #428bca;
        }

        .ui-select-bootstrap .ui-select-choices-row.disabled > span,
        .ui-select-bootstrap .ui-select-choices-row.active.disabled > span {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
        }

        /* fix hide/show angular animation */
        .ui-select-match.ng-hide-add,
        .ui-select-search.ng-hide-add {
            display: none !important;
        }

        /* Mark invalid Bootstrap */
        .ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
            border-color: #D44950;
        }

        /* Handle up direction Bootstrap */
        .ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
        }

        .ui-select-bootstrap .ui-select-match-text {
            width: 100%;
            padding-right: 1em;
        }

        .ui-select-bootstrap .ui-select-match-text span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
        }

        .ui-select-bootstrap .ui-select-toggle > a.btn {
            position: absolute;
            height: 10px;
            right: 10px;
            margin-top: -2px;
        }
    </style>
{% endblock %}
{% block glavniIzbornik %}
    {#S obzirom da mi se ova stranica prikazuje unutar eModal prozora onda mi nema smisla prikazivati izbornik #}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <h3>Pregled korisnika za portal <b>{{ portal.naziv }}</b></h3>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
    </div>

    {% include '@tdCM/PortalKorisnik/Snippets/ngList.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('bower_components/emodal/dist/eModal.min.js') }}"></script>#}
    {#<script src="{{ asset('bower_components/toastr/toastr.min.js') }}"></script>#}

    {#<script src="{{ asset('bower_components/angular/angular.js') }}"></script>#}
    {#<script src="{{ asset('bower_components/angular-resource/angular-resource.js') }}"></script>#}
    {% javascripts 'node_modules/emodal/dist/eModal.js'
    'node_modules/angular/angular.js'
    'node_modules/ui-select/dist/select.js'
    'node_modules/angular-sanitize/angular-sanitize.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {#<script src="{{ asset('bower_components/angular-ui-select/dist/select.min.js') }}"></script>#}
    {#<script src="{{ asset('bower_components/angular-sanitize/angular-sanitize.min.js') }}"></script>#}

    <script>


        portalKorisnikApp = angular.module('portalKorisnikApp', ['ngSanitize', 'ui.select']);

        portalKorisnikApp.controller('PortalKorisnikController', ['$scope', '$http',
            function ($scope, $http) {
                $http.get('{{ path('portalkorisnik_portalkorisnicibyportal', {portal:portal.id}) }}')
                        .success(function (data) {
                            $scope.items = data;
                        });

                $scope.webshops = [
                    {% for webshop in webshops %}
                    {id: {{ webshop.id }}, title: '{{ webshop.title }}'},
                    {% endfor %}
                ];

                $scope.activateButton = function (item) {
                    item.changed = true;
                };

                $scope.saveWebshopChange = function (item) {
                    $http.post('{{ path('portalkorisnik_savewebshopchange') }}', item).success(function (data) {
                        if (data.status == 'ok') {
                            toastr.info(data.message, 'Obavijest');
                            item.pending = false;
                            item.povezan = true;
                        } else {
                            toastr.error(data.message, 'Greška');
                        }
                        item.changed = false;
                    })
                };

                $scope.promijeniStatusPovezanosti = function (item) {
                    $http.post('{{ path('portalkorisnik_changestatuspovezan') }}', item).success(function (data) {
                        if (data.status == 'ok') {
                            toastr.info(data.message, 'Obavijest');
                        } else {
                            toastr.error(data.message, 'Greška');
                            item.povezan = !item.povezan;
                        }
                    });
                };

                $scope.searchCompany = function () {
                    $http.post('{{ path('portalkorisnik_searchCompany') }}', {
                        id: $scope.company,
                        portalId: {{ portal.id }}
                    }).success(function (data) {
                        if (data.status == 'ok') {
                            toastr.info(data.message, 'Obavijest');
                            $scope.companyId = data.data.id;
                            $scope.companyNaziv = data.data.naziv;
                            $scope.companyExists = true;
                        } else {
                            toastr.error(data.message, 'Greška');
                            $scope.companyId = null;
                            $scope.companyNaziv = null;
                            $scope.companyExists = false;
                        }
                    });
                }

                $scope.addCompany = function () {
                    $http.post('{{ path('portalkorisnik_addCompany', {portal:portal.id}) }}', {id: $scope.companyId}).success(function (data) {
                        if (data.status == 'ok') {
                            toastr.info(data.message, 'Obavijest');
                            $scope.company = null;
                            $scope.companyId = null;
                            $scope.companyNaziv = null;
                            $scope.companyExists = false;
                            $scope.items.push({
                                cjenikKupovni: false,
                                id: data.data.id,
                                idCompanyKorisnik: data.data.idCompanyKorisnik,
                                idWebshopRates: data.data.idWebshopRates,
                                nazivCompanyKorisnik: data.data.nazivCompanyKorisnik,
                                pending: data.data.pending,
                                povezan: data.data.povezan,
                            });
                        } else {
                            toastr.error(data.message, 'Greška');
                        }
                    });
                }

            }]);


    </script>

{% endblock %}