{# src/td/CMBundle/Resources/views/PortalKorisnik/povezi.html.twig #}


{% extends '::base.html.twig' %}
{% block title %}SetUp - kreiranje {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<br />
				<h1>Povezivanje portala {{ portal.naziv }}</h1>
				
				
				{{ form(form, { 'style': 'horizontal' }) }}
			
			</div>
		</div>
	</div>
	
	
{% endblock %}