<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div role="tabpanel" class="tab-pane active" id="WSaktivni">

                <br/>
                <table id="tSpuTransferi{{ setupPropertyUnit.id }}"></table>
                <div id="tSpuTransferiPager{{ setupPropertyUnit.id }}"></div>


            </div>
        </div>
    </div>
</div>
<script>
    var podaci = {{ podaci|json_encode()|raw }};
    var setovi = [{'id': '1', 'naziv': 'prvi'}, {'id': '2', 'naziv': 'drugi'}];
    var rowsToColor = [];
    var naslov = 'Transferi za ID Unit u CM-u: {{ setupPropertyUnit.id }} [{{ setupPropertyUnit.idPropertyUnitFront }}]';
    var grid = null;
    var refresh = 0;

    $(document).ready(function () {
        // | ------------------------------------------------- |
        // | ************ Tablica tSpuTransferi ************** |
        // | TAB 1: Ova tablica sadrži popis transfera za      |
        // | setupPropertyUnit                                 |
        // | ------------------------------------------------- |
        {% if podaci|length %}
        $("#tSpuTransferi{{ setupPropertyUnit.id }}").jqGrid({
            datatype: "local",
            data: podaci,
            page: 1,
            rownumbers: true,
            hoverrows: false,
            colModel: [
                {
                    name: 'ok',
                    label: 'OK',
                    width: 75,
                    align: 'center',
                    formatter: rowColorFormatter,
                    stype: 'select',
                    // searchoptions value - name values pairs for the dropdown - they will appear as options
                    searchoptions: {value: ':[Sve];true:Uspješni;false:Neuspješni'}
                },
                {name: 'idPromjene', label: 'ID', width: 50, align: 'center'},
                {
                    name: 'grupaPromjene',
                    label: 'Grupa',
                    width: 85,
                    align: 'center',
                    stype: 'select',
                    searchoptions: {value: '{{ grupePromjenaStr }}'}
                },
                {
                    name: 'tipPromjene',
                    label: 'Tip',
                    width: 85,
                    align: 'center',
                    stype: 'select',
                    searchoptions: {value: '{{ tipoviPromjenaStr }}'}
                },
                {
                    name: 'dateFrom.date',
                    label: 'Datum od',
                    width: 75,
                    align: 'center',
                    formatter: "date",
                    formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y"}
                },
                {
                    name: 'dateTo.date',
                    label: 'Datum do',
                    width: 75,
                    align: 'center',
                    formatter: "date",
                    formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y"}
                },
                {
                    name: 'datumVrijemePromjene.date',
                    label: 'Dat. Vri. promjene',
                    width: 120,
                    align: 'center',
                    formatter: "date",
                    formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"}
                },
                {name: 'id', label: 'ID', width: 50, align: 'center', key: true},
                {
                    name: 'datumVrijemeUspjesnogTrasnfera',
                    label: 'Dat. Vri. transfera',
                    width: 120,
                    align: 'center',
                    formatter: "date",
                    formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"},
                    searchoptions: {sopt: ['cn', 'bw']}
                },
                {
                    name: 'brojPokusaja',
                    label: 'Pok.',
                    width: 45,
                    align: 'center',
                    searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                },
                {name: 'AKT', width: 40, align: 'center', sortable: false, search: false}
            ],
            //loadonce: true,
            //navOptions: {reloadGridOptions: {fromServer: true}},
            //autowidth: true,
            height: '100%',
            rowNum: 20,
            rowList: [20, 50, 100],
            viewrecords: true,
            pager: "#tSpuTransferiPager{{ setupPropertyUnit.id }}",
            gridComplete: function () {
                //Ovdje ću stavit kvačicu ako je transfer uspješan
                grid = jQuery("#tSpuTransferi{{ setupPropertyUnit.id }}");
                var ids = grid.jqGrid('getDataIDs');
                grid.setGridParam({datatype: 'local', page: 1});
                for (var i = 0; i < ids.length; i++) {
                    var cl = ids[i];
                    var selector = '#' + cl;
                    var rowData = grid.getRowData(cl);
                    var se = "<a class='ui-button ui-button-icon-only' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='ui-icon ui-icon-circle-plus'></span></a>";
                    {#var de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Ponovo obradi transfer " + rowData.id + "' href='{{ path('transfer_obradiTransfer', {'transfer':0}) }}" + rowData.id + "'><span class='glyphicon glyphicon-repeat'></span></a>";#}
                    var de = "<button type='button' class='btn btn-default btn-xs'  data-toggle='tooltip' data-placement='top' title='Ponovo pokreni transfer " + rowData.id + "' data-delay='500' onclick='obradiTransfer(" + rowData.id + ");' ><span><i class='fa fa-exchange aria-hidden='true'></i></span></button>";
                    if ("<span><i class=\"fa fa-times\" aria-hidden=\"true\"></i></span>" == rowData.ok) grid.jqGrid('setRowData', cl, {AKT: de});
                }
                for (var i = 0; i < rowsToColor.length; i++) {
//                var status = $("#" + rowsToColor[i]).find("td").eq(7).html();
//                if (status == "Complete") {
                    if (1) {
//                    $("#" + rowsToColor[i]).find("td").css("background-color", "red");
//                    $("#" + rowsToColor[i]).find("td").css("color", "silver");
                        $("#" + rowsToColor[i]).find("td").addClass('bg-danger');
                    }

                }

            }
        })
        ;

        $('#tSpuTransferi{{ setupPropertyUnit.id }}').jqGrid('filterToolbar', {
            // JSON stringify all data from search, including search toolbar operators
            stringResult: true,
            // instuct the grid toolbar to show the search options
            searchOperators: false
        });

        $('#tSpuTransferi{{ setupPropertyUnit.id }}').jqGrid('navGrid', '#tSpuTransferiPager{{ setupPropertyUnit.id }}', {
                    search: false, // show search button on the toolbar
                    add: false,
                    edit: false,
                    del: false,
                    refresh: false
                },
                {},
                {},
                {},
                {multipleSearch: true, multipleGroup: false}
        );

        $('#tSpuTransferi{{ setupPropertyUnit.id }}').setGroupHeaders(
                {
                    useColSpanStyle: true,
                    groupHeaders: [
                        {"numberOfColumns": 6, "titleText": "Promjena", "startColumnName": "idPromjene"},
                        {"numberOfColumns": 3, "titleText": "Transfer", "startColumnName": "id"}]
                });
        //        }
        {% endif %}
    });

    function obradiTransfer(id) {
        var url = "{{ path('transfer_obradiTransfer', {'transfer':0}) }}" + id;
        $.ajax({
            method: "POST",
            url: url
        }).done(function (msg) {
            alert('#' + msg + '#');
            if('Uspješan transfer!' == msg){
                grid.setCell(id, 'ok', '1', {},{},{});
                $("#" + id).find("td").removeClass('bg-danger');
                refresh = 1;
            }
        });
    }

    function rowColorFormatter(cellValue, options, rowObject) {
        if (cellValue == false) {
            rowsToColor[rowsToColor.length] = options.rowId;
            return "<span><i class='fa fa-times' aria-hidden='true'></i></span>";
        } else {
            return "<span><i class='fa fa-check' aria-hidden='true'></i></span>"
//        return cellValue;
        }
    }

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>
