{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Client list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idclient</th>
                <th>Naziv</th>
                <th>Idcrmklijent</th>
                <th>Idclientstari</th>
                <th>Idcompany</th>
                <th>Idbureau</th>
                <th>Idkampanja</th>
                <th>Idmojatvrtka</th>
                <th>Idwas</th>
                <th>Idfirstcompany</th>
                <th>Idposrednik</th>
                <th>Idbelongcompany</th>
                <th>Piznajmljivac</th>
                <th>Osoba</th>
                <th>Gost</th>
                <th>Orgjedinica</th>
                <th>Klijent</th>
                <th>Active</th>
                <th>Menustatus</th>
                <th>Idlanguagetdapp</th>
                <th>Isagency</th>
                <th>Username</th>
                <th>Password</th>
                <th>Adminpassword</th>
                <th>Pass</th>
                <th>Mdpass</th>
                <th>R333</th>
                <th>Title</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Nickname</th>
                <th>Oib</th>
                <th>Pdvid</th>
                <th>Pdv</th>
                <th>Company</th>
                <th>Companyshort</th>
                <th>Entered</th>
                <th>Lastvisit</th>
                <th>Lastlogin</th>
                <th>Address</th>
                <th>Zip</th>
                <th>Place</th>
                <th>Country</th>
                <th>Idnationality</th>
                <th>Guesttype</th>
                <th>Birthdate</th>
                <th>Tel</th>
                <th>Fax</th>
                <th>Mob</th>
                <th>Email</th>
                <th>Language</th>
                <th>Osifjezika</th>
                <th>Note</th>
                <th>Agencycode</th>
                <th>Emailsendertz</th>
                <th>Web</th>
                <th>Newsletter</th>
                <th>Deleted</th>
                <th>Lastchange</th>
                <th>Lasertransfer</th>
                <th>Lasertransferstatus</th>
                <th>Lasertransfertime</th>
                <th>Idlaserline</th>
                <th>Privatkucnibroj</th>
                <th>Oprivatsifdrzave</th>
                <th>Idcrmcentrala</th>
                <th>Pravaadministriranje</th>
                <th>Pravavidisveprojekte</th>
                <th>Pravaprivatni</th>
                <th>Pravabrisanjeurzapisnika</th>
                <th>Pravasamouprojektima</th>
                <th>Deleteimportcode</th>
                <th>Calleridnum</th>
                <th>Sip</th>
                <th>Vrijeme</th>
                <th>Peopleidtransfer</th>
                <th>Companyidtransfer</th>
                <th>Import</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('klijent_show', { 'id': entity.idClient }) }}">{{ entity.idClient }}</a></td>
                <td>{{ entity.naziv }}</td>
                <td>{{ entity.idCrmKlijent }}</td>
                <td>{{ entity.idClientStari }}</td>
                <td>{{ entity.idCompany }}</td>
                <td>{{ entity.idBureau }}</td>
                <td>{{ entity.idKampanja }}</td>
                <td>{{ entity.idMojaTvrtka }}</td>
                <td>{{ entity.idWas }}</td>
                <td>{{ entity.idFirstCompany }}</td>
                <td>{{ entity.idPosrednik }}</td>
                <td>{{ entity.idBelongCompany }}</td>
                <td>{{ entity.pIznajmljivac }}</td>
                <td>{{ entity.osoba }}</td>
                <td>{{ entity.gost }}</td>
                <td>{{ entity.orgjedinica }}</td>
                <td>{{ entity.klijent }}</td>
                <td>{{ entity.active }}</td>
                <td>{{ entity.menuStatus }}</td>
                <td>{{ entity.idLanguageTdapp }}</td>
                <td>{{ entity.isAgency }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.adminpassword }}</td>
                <td>{{ entity.pass }}</td>
                <td>{{ entity.mdpass }}</td>
                <td>{{ entity.r333 }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{{ entity.oib }}</td>
                <td>{{ entity.pdvid }}</td>
                <td>{{ entity.pdv }}</td>
                <td>{{ entity.company }}</td>
                <td>{{ entity.companyShort }}</td>
                <td>{% if entity.entered %}{{ entity.entered|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastvisit %}{{ entity.lastvisit|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.zip }}</td>
                <td>{{ entity.place }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.idNationality }}</td>
                <td>{{ entity.guestType }}</td>
                <td>{% if entity.birthDate %}{{ entity.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.tel }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.mob }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.language }}</td>
                <td>{{ entity.oSifJezika }}</td>
                <td>{{ entity.note }}</td>
                <td>{{ entity.agencyCode }}</td>
                <td>{{ entity.emailSenderTz }}</td>
                <td>{{ entity.web }}</td>
                <td>{{ entity.newsletter }}</td>
                <td>{{ entity.deleted }}</td>
                <td>{% if entity.lastchange %}{{ entity.lastchange|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.lasertransfer }}</td>
                <td>{{ entity.lasertransferstatus }}</td>
                <td>{% if entity.lasertransfertime %}{{ entity.lasertransfertime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.idLaserline }}</td>
                <td>{{ entity.privatKucniBroj }}</td>
                <td>{{ entity.oPrivatSifDrzave }}</td>
                <td>{{ entity.idCrmCentrala }}</td>
                <td>{{ entity.pravaAdministriranje }}</td>
                <td>{{ entity.pravaVidisveprojekte }}</td>
                <td>{{ entity.pravaPrivatni }}</td>
                <td>{{ entity.pravaBrisanjeurzapisnika }}</td>
                <td>{{ entity.pravaSamouprojektima }}</td>
                <td>{{ entity.deleteImportCode }}</td>
                <td>{{ entity.calleridnum }}</td>
                <td>{{ entity.sip }}</td>
                <td>{% if entity.vrijeme %}{{ entity.vrijeme|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.peopleIdTransfer }}</td>
                <td>{{ entity.companyIdTransfer }}</td>
                <td>{{ entity.import }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('klijent_show', { 'id': entity.idClient }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
