{# src/td/CMBundle/Resources/views/SetUp/kreiraj.html.twig #}


{% extends '::base.html.twig' %}
{% form_theme form 'tdCMBundle:Forms:polja.html.twig' %}
{% block title %}SetUp - kreiranje {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<br />
				<h1>Kreiranje setup unita</h1>
				<p>webshop {{ portalKorisnik.idWebshopRates }}
				
				{{ form_start(form, { 'style': 'horizontal' }) }}
				{{ form_row(form.idUnit) }}
				{{ form_row(form.idUnitNaPortalu) }}
				{{ form_row(form.aktivan) }}
				{{ form_row(form.xmlLocations) }}
				{{ form_row(form.skrbnik) }}
				{{ form_widget(form.save) }}
				{{ form_end(form) }}
			
			</div>
		</div>
	</div>
	
	
{% endblock %}