{# src/td/CMBundle/Resources/views/SetUp/index.html.twig #}

{#{% extends '::baseBookerTech.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}Pregled smještajnih jedinica za {{ portalKorisnik.webshop.title }} {% endblock %}

{% block glavniIzbornik %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <h2>Channel Manager</h2>

                <h3>Webshop: {{ portalKorisnik.webshop.title }} [{{ portalKorisnik.webshop.id }}]</h3>
                <h4>Pregled objekata i smještajnih jedinica za {{ portalKorisnik.portal.naziv }}</h4>

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#WSaktivni" aria-controls="WSaktivni" role="tab"
                                                                  onclick="ponovoPostaviT1();"
                                                                  data-toggle="tab">Povezani <span
                                        class="badge">{{ setup1 }}</span></a></li>
                        <li role="presentation"><a href="#WSCMneprijavljeni" aria-controls="WSCMneprijavljeni"
                                                   onclick="t2KreirajGrid();"
                                                   role="tab" data-toggle="tab">U CM nemapirani <span
                                        class="badge">{{ setup2 }}</span></a></li>
                        <li class="pull-right" role="presentation"><a href="#WSneprijavljeni"
                                                                      aria-controls="WSneprijavljeni" role="tab"
                                                                      data-toggle="tab">Objekti izvan CM <span
                                        class="badge">{{ setup3 }}</span></a></li>
                        <li role="presentation"><a href="#SamoCM" aria-controls="SamoCM" role="tab" data-toggle="tab">Samo
                                CM</a></li>
                    </ul>

                    <!-- Tab panes -->

                    <div class="tab-content">

                        {# WSaktivni #}
                        <div role="tabpanel" class="tab-pane active" id="WSaktivni">

                            <br/>
                            <table id="t1ObjektiUniti"></table>
                            <div id="jqGridPager1"></div>

                        </div>

                        {# WSCMneprijavljeni #}
                        <div role="tabpanel" class="tab-pane" id="WSCMneprijavljeni">
                            <br/>

                            <div class="row">
                                <div class="col-md-1">
                                    <h5 class="text-right">Grupiraj po:</h5>
                                </div>
                                <div class="col-md-2">
                                    <select id="chngroup" class="form-control input-sm">
                                        <option value="mjesto">Mjesto</option>
                                        <option value="skrbnik">Skrbnik</option>
                                        <option value="vlasnik">Vlasnik</option>
                                        <option value="clear" selected="selected">Bez grupiranja</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input class="btn btn-default btn-sm" type="button" value="Uredi sve stavke"
                                           onclick="startEdit()"/>
                                    <input class="btn btn-default btn-sm" type="button" value="Spremi sve stavke"
                                           onclick="saveRows()"/>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-md-12">
                                    <table id="t2Objekti"></table>
                                    <div id="jqGridPager"></div>

                                </div>
                            </div>
                        </div>

                        {# WS neprijavljeni #}
                        <div role="tabpanel" class="tab-pane" id="WSneprijavljeni">

                            <br/>

                            <div class="row">
                                <div class="col-md-1">
                                    <h5 class="text-right">Grupiraj po:</h5>
                                </div>
                                <div class="col-md-2">
                                    <select id="chngroupTab3" class="form-control input-sm">
                                        <option value="nazivProperty">Naziv objekta</option>
                                        <option value="mjestoProperty">Mjesto</option>
                                        <option value="nazivSkrbnik">Skrbnik</option>
                                        <option value="nazivVlasnik">Vlasnik</option>
                                        <option value="clear" selected="selected">Bez grupiranja</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input class="btn btn-default btn-sm" type="button" value="Prijavi odabrane"
                                           onclick="t3PrijaviOznacene()"/>
                                    <a class="btn btn-default btn-sm" type="button"
                                       href="{{ path('td_cm_setUp_t3prijavisve', {'portalKorisnik': portalKorisnik.id }) }}">Prijavi
                                        sve</a>
                                </div>
                            </div>
                            <br/>

                            <table id="jqGridTab3"></table>
                            <div id="jqGridPagerTab3"></div>
                            <br/>

                        </div>

                        {# Samo CM #}
                        <div role="tabpanel" class="tab-pane" id="SamoCM">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Logo</th>
                                        <th>Naziv</th>
                                        <th>URL</th>
                                        <th>Opis</th>
                                        <th>Kontakt osoba</th>
                                        <th>E-mail</th>
                                        <th>Telefon</th>
                                        <th>Opcije</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in setup4 %}
                                        <tr>
                                            <td>
                                                <div class="center-block">{{ item.idUnit }}</div>
                                            </td>
                                            <td>
                                                <div class="center-block">{{ item.idUnit }}</div>
                                            </td>
                                            <td>
                                                <div class="center-block">{{ item.idUnitNaPortalu }}</div>
                                            </td>
                                            <td>
                                                <div class="center-block">{{ item.skrbnik }}</div>
                                            </td>
                                            <td>
                                                <div class="center-block">#posjeta</div>
                                            </td>
                                            <td>
                                                <div class="center-block">#upita</div>
                                            </td>
                                            <td>
                                                <div class="center-block">#rr</div>
                                            </td>
                                            <td>
                                                <div class="center-block">#or</div>
                                            </td>
                                            <td>#promjena</td>
                                            <td>
                                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                                   title="Ažuriraj setup za unit {{ item.idUnit }}"
                                                   href="{{ path('td_cm_setUp_azuriraj', {'idPortalKorisnik': item.portalKorisnik.id, 'id': item.id}) }}"><span
                                                            class="glyphicon glyphicon-th-list"></span></a>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                                   title="Obriši setup za unit {{ item.idUnit }}"
                                                   href="{{ path('td_cm_setUp_obrisi', {'idPortalKorisnik': item.portalKorisnik.id, 'id': item.id}) }}"><span
                                                            class="glyphicon glyphicon-remove"></span></a>
                                            </td>
                                            <td>Bilješke</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="transferModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="transferModalLabel">Poruka</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var lastsel;
        var podaciBookingComUnit;
        var podaciBookingComRate;
        var setovi = [{'id': '1', 'naziv': 'prvi'}, {'id': '2', 'naziv': 'drugi'}];
        var t2Kreiranje = 0;
        var rowsToColor = [];
        var rowsToColorSubgrid = [];
        var promjenaNepovezano = 0;
        var promjenaPovezano = 0;


        $(document).ready(function () {

            //Kreiranje tablice 1
            t1ObjektiUniti();

            //Tab 3
            // | ------------------------------------------------- |
            // | ************** Tablica jqGridTab3 *************** |
            // | TAB 3: Ova tablica sadrži popis objekata koji     |
            // | se ne nalaze u cahnnel manageru. Ovo su objekti   |
            // | koji se nalaze u webshopu prijavljenom na portalu |
            // | ------------------------------------------------- |
            {#var podaciTab3 = {{ setUp3s|raw }};#}
            //Polja: pu.name as nazivUnit, pu.id as idUnit, p.id as idProperty, p.name as nazivObjekt, p.city as mjesto, ac.naziv as skrbnik, ow.naziv as vlasnik
            $('#jqGridTab3').jqGrid({
                url: "{{ path('td_cm_setUp_t3objektiizvancm') }}" + "?idPortalKorisnik=" + {{ portalKorisnik.id }},
                mtype: "GET",
                datatype: "json",
                page: 1,
                rownumbers: true,

                colModel: [
                    {name: 'idWebshopProperty', label: 'ID WP', width: 70, align: 'center', hidden: true},
                    {name: 'idProperty', label: 'ID objekta', width: 70, align: 'center', hidden: true, key: true},
                    {name: 'idFrontProperty', label: 'ID objekta', width: 90, align: 'center'},
                    {name: 'nazivProperty', label: 'Naziv', width: 200, align: 'left',},
                    {name: 'mjestoProperty', label: 'Mjesto', width: 170, align: 'left',},
                    {name: 'nazivSkrbnik', label: 'Skrbnik', width: 200, align: 'left',},
                    {name: 'nazivVlasnik', label: 'Vlasnik', width: 200, align: 'left',},
                    {name: 'AKT', width: 50, sortable: false, align: 'center', search: false}
                ],
                jsonReader: {repeatitems: false},
                loadonce: true,
                viewrecords: true,
                autowidth: true,
                height: '100%',
                rowNum: 25,
                rowList: [25, 50, 100],
                pager: '#jqGridPagerTab3',
                multiselect: true,
                grouping: true,
                groupingView: {
                    //groupField: ["nazivProperty"],
                    groupColumnShow: [true],
                    groupText: ["<b>{0} ({1})</b>"],
                    groupOrder: ["asc"],
                    groupSummary: [false],
                    groupCollapse: false
                },
                gridComplete: function () {
                    var ids = jQuery("#jqGridTab3").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var idProperty = jQuery("#jqGridTab3").jqGrid('getCell', cl, 'idProperty');
                        var idFrontProperty = jQuery("#jqGridTab3").jqGrid('getCell', cl, 'idFrontProperty');
                        de = "<a type='button' class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Prijavi objekt " + idFrontProperty + " u Channel Manager' href='{{ path('td_cm_setUp_t3prijavi1') }}" + "?idProperty=" + idProperty + "&idPortalKorisnik=" + {{ portalKorisnik.id }} +"'><span class='glyphicon glyphicon-download'></span></a>";
                        jQuery("#jqGridTab3").jqGrid('setRowData', ids[i], {AKT: de});
                    }
                }
            });

            // activate the toolbar searching
            $('#jqGridTab3').jqGrid('filterToolbar');
            $('#jqGridTab3').jqGrid('navGrid', "#jqGridPagerTab3", {
                        search: true, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: true
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );

            // on chang select value change grouping
            jQuery("#chngroupTab3").change(function () {
                var vl = $(this).val();
                if (vl) {
                    if (vl === "clear") {
                        jQuery("#jqGridTab3").jqGrid('groupingRemove', true);
                    } else {
                        jQuery("#jqGridTab3").jqGrid('groupingGroupBy', vl);
                    }
                }
            });

            t2Kreiranje = 1;
        });


        function t1ObjektiUniti() {
            // | ------------------------------------------------- |
            // | ************ Tablica t1ObjektiUniti ************* |
            // | TAB 1: Ova tablica sadrži popis objekata koji     |
            // | imaju spojene unite s portalom. Tablica se učitava|
            // | odjednom. Subgrid se učitava dinamički po pozivu  |
            // | ------------------------------------------------- |
            $("#t1ObjektiUniti").jqGrid({
                url: "{{ path('td_cm_setUp_vSetupPropertyGridJson') }}" + "?idPortalKorisnik=" + {{ portalKorisnik.id }} +"&tip=povezani",
                editurl: "{{ path('td_cm_setUp_setupPropertyPersistRowGrid') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
                rownumbers: true,
                hoverrows: false,
                colModel: [
                    {
                        label: " ",
                        name: "actions",
                        width: 55,
                        formatter: "actions",
                        sortable: false,
                        search: false,
                        formatoptions: {
                            keys: true,
                            delbutton: false,
                            afterSave: function (rowId, response) {
                                //Provjeriti aktivnost objekta
                                var grid = $("#t2Objekti");
                                var gridPovezani = $("#t1ObjektiUniti");
                                var selector = '#' + rowId;
                                //                                grid.jqGrid('restoreRow', rowId);
                                //                                grid.jqGrid('resetSelection');
                                var rowData = gridPovezani.getRowData(rowId);
                                if (rowData.aktivan != "Yes") {
                                    gridPovezani.delRowData(rowId);
                                }
                                alert(response.responseText);
                            },
                            editOptions: {}
                        },
                        classes: 'bg-info'
                    },
                    {name: 'id', label: 'ID Setup Property ', width: 90, align: 'center', key: true, hidden: true},
                    {
                        name: 'brojNeuspjelihTransfera',
                        label: 'Transfer',
                        width: 70,
                        align: 'center',
                        classes: 'bg-info',
                        formatter: rowColorFormatter,
                        searchoptions: {sopt: ['gt', 'eq']}
                    },
                    {
                        name: 'idPropertyFront',
                        label: 'ID objekt',
                        width: 80,
                        align: 'center',
                        classes: 'bg-info',
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'idPropertyNaPortalu',
                        label: 'ID portal',
                        width: 130,
                        align: 'center',
                        classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'idPropertyNaPortalu');
                            },
                            sopt: ['cn', 'bw']
                        },

                    },
                    {
                        name: 'nazivProperty', label: 'Naziv', width: 200, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'nazivProperty');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'mjesto', label: 'Mjesto', width: 170, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'mjesto');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'skrbnik', label: 'Skrbnik', width: 200, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'skrbnik');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'vlasnik', label: 'Vlasnik', width: 200, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'vlasnik');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'datumKreiranja.date', label: 'Dodano', width: 140, align: 'center',
                        formatter: "date",
                        classes: 'bg-info',
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"},
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'brojUnita',
                        label: 'Br.sm.jed.',
                        width: 70,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                        classes: 'bg-info'
                    },
                    {
                        name: 'brojNeprijavljenih',
                        label: 'Br. nepr.',
                        width: 70,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                        classes: 'bg-info'
                    },
                    {
                        name: 'aktivan',
                        label: 'Aktivan',
                        width: 100,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;true:Aktivni;false:Neaktivni"},
                        classes: 'bg-info'
                    },
                    {
                        name: 'AKT',
                        width: 50,
                        align: 'center',
                        sortable: false,
                        search: false,
                        classes: 'bg-info'
                    }
                ],
                loadonce: true,
                navOptions: {reloadGridOptions: {fromServer: true}},
                height: '100%',
                rowNum: 20,
                rowList: [20, 50, 100],
                viewrecords: true,
                pager: "#jqGridPager1",
                subGrid: true, // set the subGrid property to true to show expand buttons for each row
                subGridRowExpanded: showChildGrid, // javascript function that will take care of showing the child grid
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e",
                    "expandOnLoad": false,
                    reloadOnExpand: true
                },
                gridComplete: function () {
                    var grid = jQuery("#t1ObjektiUniti");
                    var ids = grid.jqGrid('getDataIDs');
                    grid.setGridParam({datatype: 'local', page: 1});
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var selector = '#' + cl;
                        var rowData = grid.getRowData(cl);
                        var be = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='glyphicon glyphicon-plus'></span></a>";
                        var se = "<a class='ui-button ui-button-icon-only' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='ui-icon ui-icon-circle-plus'></span></a>";
                        var de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Obradi promjene za " + rowData.idPropertyFront + "' target='_blank' href='{{ path('promjena_obradi1promjenu') }}" + "?idSetupProperty=" + cl + "'><span class='glyphicon glyphicon-share'></span></a>";
                        jQuery("#t1ObjektiUniti").jqGrid('setRowData', cl, {AKT: de});

                        //Gasim subgrid za one objekte koji nemaju smještajne jedinice

                        if (rowData.brojUnita == 0 || (rowData.brojUnita == rowData.brojNeprijavljenih)) {
                            $(selector).find("td.ui-sgcollapsed>a").hide();
                            $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                        }
                    }
                    for (var j = 0; j < rowsToColor.length; j++) {
//                var status = $("#" + rowsToColor[i]).find("td").eq(7).html();
//                if (status == "Complete") {
                        if (1) {
//                    $("#" + rowsToColor[i]).find("td").css("background-color", "red");
//                    $("#" + rowsToColor[i]).find("td").css("color", "silver");
                            $("#" + rowsToColor[j]).find("td").addClass('bg-danger');
                        }

                    }
                }
            });

            $('#t1ObjektiUniti').jqGrid('filterToolbar', {
                // JSON stringify all data from search, including search toolbar operators
                stringResult: true,
                // instuct the grid toolbar to show the search options
                searchOperators: true
            });

            $('#t1ObjektiUniti').jqGrid('navGrid', '#jqGridPager1', {
                        search: true, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: true
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );
        }

        function ponovoPostaviT1() {
            if (promjenaNepovezano) {
                $('#WSaktivni').html("<table id='t1ObjektiUniti'></table><div id='jqGridPager1'></div>");
                rowsToColor = [];
                t1ObjektiUniti();
                promjenaNepovezano = 0;
            }
        }
        // the event handler on expanding parent row receives two parameters
        // the ID of the grid tow  and the primary key of the row
        var aktualniParentGrid = 0;
        var aktualniParentRow;
        var aktualniSubgrid;
        function showChildGrid(parentRowID, parentRowKey) {
            var childGridID = parentRowID + "_table";

            if (aktualniParentGrid != childGridID && aktualniParentGrid != 0) {
                $('#' + aktualniParentGrid).jqGrid('toggleSubGridRow', aktualniParentRow);
            }
            aktualniParentGrid = parentRowID.substr(0, parentRowID.indexOf('_'));
            aktualniSubgrid = parentRowID + "_table";

            //var childGridPagerID = parentRowID + "_pager";

            // send the parent row primary key to the server so that we know which grid to show
            //var childGridURL = parentRowKey+".json";

            //Ako je nadređeni parent grid povezani onda subgrid šalje upit na back tip="povezani" inače tip="nepovezani"
//            var ret = $('#' + aktualniParentGrid).jqGrid('getRowData', parentRowKey);
            var tip = "povezani";
            if (aktualniParentGrid == "t2Objekti") tip = "nepovezani";

            var childGridURL = "{{ path('td_cm_setUp_vSetupPropertyUnitGridJson') }}" + "?idSetupProperty=" + parentRowKey + "&tip=" + tip;
            //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

            // add a table and pager HTML elements to the parent grid row - we will render the child grid here
            //$('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
            $('#' + parentRowID).append('<table id=' + childGridID + '></table> ');

            $("#" + childGridID).jqGrid({
                url: childGridURL,
                editurl: "{{ path('td_cm_setUp_setupPropertyUnitPersistRowGrid') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
//            rownumbers: true,
                headertitles: true,
                ajaxSelectOptions:      //use this for combination with dataUrl for formatter:select
                {
                    dataType: 'json',
                    type: "POST", // data:"{'CountryId':'1' }"
                    data: {
                        idSetupPropertyUnit: function () {
                            var selectedRowId = jQuery("#" + childGridID).jqGrid('getGridParam', 'selrow');
                            var ret = jQuery("#" + childGridID).jqGrid('getRowData', selectedRowId);
                            if (selectedRowId == null) {
                                return 0;
                            }
                            return ret.id;
                        }
                    }
                },
                colModel: [
                    {
                        label: " ",
                        name: "actions",
                        width: 53,
                        formatter: "actions",
                        formatoptions: {
                            keys: true,
                            editButton: true,
                            delbutton: false,
                            afterSave: function (rowId, response) {
                                var gridUniti = $('#' + aktualniSubgrid);
                                var gridNepovezani = $('#' + aktualniParentGrid);
                                var gridPovezani = $("#t1ObjektiUniti");
                                var selector = "#" + parentRowKey;
                                var rowDataUnit = gridUniti.getRowData(rowId);
//                                alert(parentRowKey);
                                var rowDataParent = gridNepovezani.getRowData(parentRowKey);
//
                                {% if portalKorisnik.portal.isBookingCom %}
                                if (rowDataUnit.idPropertyUnitNaPortalu == "") {
                                    $("#" + rowid).find("td.ui-sgcollapsed>a").show();
                                    $("#" + rowid).find("td.ui-sgcollapsed").addClass("sgcollapsed");
                                }
                                {% endif %}

                                if (aktualniParentGrid.toLocaleString() === 't1ObjektiUniti') {
                                    if (rowDataUnit.idPropertyUnitNaPortalu == "" || rowDataUnit.aktivan != "Yes") {
                                        //Obriši redak unita
                                        gridUniti.delRowData(rowId);
                                        //Obriši ako je zadnji unit u objektu povezanih
                                        if (rowDataParent.brojNeprijavljenih == (rowDataParent.brojUnita - 1)) {
                                            gridPovezani.delRowData(parentRowKey);
                                            location.reload();
                                            promjenaPovezano = 1;
                                        }
                                        //Reloadaj stranicu
                                    }
                                } else {
                                    if (rowDataUnit.idPropertyUnitNaPortalu != "" && rowDataUnit.aktivan == "Yes") {
                                        //Obrši redak unita
//                                        alert("tu san");
                                        gridUniti.delRowData(rowId);
                                        if (rowDataParent.brojNeprijavljenih == 1) {
                                            gridNepovezani.delRowData(parentRowKey);
                                            promjenaNepovezano = 1;
                                        }
                                    }
                                }
                                alert(response.responseText);
                            },
                            editOptions: {}
                        }
                    },
                    {
                        name: 'brojNeuspjelihTransfera',
                        label: 'Transfer',
                        width: 70,
                        align: 'center',
                        formatter: rowColorFormatterSubgrid
                    },
                    {label: 'ID Setup Property Unit', name: 'id', key: true, width: 90, hidden: true},
                    {label: 'ID Unit', name: 'idPropertyUnitFront', width: 80, align: 'center'},

                    {% if portalKorisnik.portal.isBookingCom %}
                    {
                        label: 'Id Unit na portalu', name: 'idPropertyUnitNaPortalu', width: 370, editable: true,

                        edittype: "select",
                        editoptions: {
                            dataUrl: "{{ path('td_cm_setUp_bookingcom_unitrate') }}",
                            cacheUrlData: true,
                            buildSelect: function (data) {
                                //dataObj = jQuery.parseJSON(data);
//
                                var s = '<select>';

                                for (var i = 0; i < data.length; i++) {
                                    s = s + '<option value="' + data[i].id + '">' + data[i].room_name + '</option>';
                                }
                                s = s + '</select>';
                                podaciBookingComUnit = s;
                                return s;
                            }
                        }
                    },
                    {% else %}
                    {label: 'Id Unit na portalu', name: 'idPropertyUnitNaPortalu', width: 130, editable: true},
                    {label: 'Naziv', name: 'nazivUnita', width: 200},
                    {% endif %}

                    {
                        name: 'aktivan',
                        label: 'Aktivan',
                        width: 950,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;true:Aktivni;No:Neaktivni"}
                    },

                    {% if portalKorisnik.portal.isBookingCom %}{% endif %}
                    {name: 'AKT', width: 50, align: 'center', sortable: false, search: false}

                ],
                loadonce: true,
                autowidth: true,
                hoverrows: false,
                //width: 325,
                height: '100%',
                //Ovo se izvršava samo pod uvjeton da je portal Booking.com
                {% if portalKorisnik.portal.isBookingCom %}
                subGrid: true, // set the subGrid property to true to show expand buttons for each row
                subGridRowExpanded: showRateSubGrid, // javascript function that will take care of showing the child grid
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e",
                    //expand all rows on load
                    "expandOnLoad": false,
                    reloadOnExpand: true
                },
                {% endif %}
                gridComplete: function () {
                    var idGrid = "#" + childGridID;
                    var grid = jQuery(idGrid)
                    var ids = grid.jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var selector = '#' + cl;

                        {% if portalKorisnik.portal.isBookingCom %}
                        //Gasim subgrid za one objekte koji nemaju smještajne jedinice
                        var rowData = grid.getRowData(cl);
                        if (rowData.idPropertyUnitNaPortalu == "") {
                            $(selector).find("td.ui-sgcollapsed>a").hide();
                            $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                        }
                        {% endif %}

                        if (aktualniParentGrid == "t2Objekti") {
                            grid.setCell(cl, 'brojNeuspjelihTransfera', '', '', {hidden: true}, {});
                        }else{
                            var idSetupPropertyUnit = grid.jqGrid('getCell', cl, 'id');
                            var idPropertyUnitFront = grid.jqGrid('getCell', cl, 'idPropertyUnitFront');
                            var de = "<button type='button' class='btn btn-default btn-xs'  data-toggle='modal'  data-target='#transferModal' title='Pregled transfera za " + idPropertyUnitFront + "' data-transfer='{{ path('transfer_spuTransferi', {'setupPropertyUnit': 0}) }}" + idSetupPropertyUnit + "'><span class='glyphicon glyphicon-list-alt'></span></button>";
                            jQuery("#" + childGridID).jqGrid('setRowData', ids[i], {AKT: de});
                        }
                    }
                    for (var j = 0; j < rowsToColorSubgrid.length; j++) {
                        var status = $("#" + rowsToColorSubgrid[j]).find("td").eq(7).html();
//                if (status == "Complete") {
                        if (1) {
//                    $("#" + rowsToColor[i]).find("td").css("background-color", "red");
//                    $("#" + rowsToColor[i]).find("td").css("color", "silver");
                            $("#" + rowsToColorSubgrid[j]).find("td").addClass('bg-danger');
                        }
                    }
                }


            });

            $("#" + childGridID).closest("div.ui-jqgrid-view")
                    .children("div.ui-jqgrid-hdiv")
                    .hide();
        }

        var vraceniSetovi;
        var aktualniGrid;

        function showRateSubGrid(parentRowID, parentRowKey) {
            var childGridID = parentRowID + "_table";
            aktualniGrid = childGridID;
            aktualniParentRow = parentRowKey;
            //var childGridPagerID = parentRowID + "_pager";

            // send the parent row primary key to the server so that we know which grid to show
            //var childGridURL = parentRowKey+".json";
            var childGridURL = "{{ path('unitrates') }}" + "?idSetupPropertyUnit=" + parentRowKey;
            //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

            // add a table and pager HTML elements to the parent grid row - we will render the child grid here
            //$('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
            $('#' + parentRowID).append('<table id=' + childGridID + '></table> ');

            $("#" + childGridID).jqGrid({
                url: childGridURL,
                editurl: "{{ path('td_cm_rate_spremiunitrate') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
//            rownumbers: true,
                headertitles: true,
                ajaxSelectOptions:      //use this for combination with dataUrl for formatter:select
                {
                    dataType: 'json',
                    type: "POST", // data:"{'CountryId':'1' }"
                    data: {
                        idCjenik: function () {
                            var selectedRowId = jQuery("#" + childGridID).jqGrid('getGridParam', 'selrow');
                            var ret = jQuery("#" + childGridID).jqGrid('getRowData', selectedRowId);
                            if (selectedRowId == null) {
                                return 0;
                            }
                            return ret.idCjenik;
                        }
                    }
                },
                colModel: [

                    {label: 'ID Rate', name: 'rateIdPortal', key: true, width: 100, classes: 'bg-warning'},
                    {label: 'ID Unit Rate', name: 'idUnitRate', hidden: true, width: 100, classes: 'bg-warning'},
                    {label: 'Naziv ratea', name: 'rateName', width: 200, classes: 'bg-warning'},
                    {label: 'Is child rate', name: 'isChildRate', width: 100, align: 'center', classes: 'bg-warning'},
                    {label: 'Max persons', name: 'maxPersons', width: 100, classes: 'bg-warning'},
                    {label: 'Policy', name: 'policy', width: 140, classes: 'bg-warning'},
                    {label: 'PolicyId', name: 'policyId', width: 240, classes: 'bg-warning'},
                    {label: 'Readonly', name: 'readonly', width: 240, classes: 'bg-warning', hidden: true},
                    {label: 'fixedOccupancy', name: 'fixedOccupancy', width: 240, classes: 'bg-warning'},
                    {label: 'idCjenik', name: 'idCjenik', width: 170, classes: 'bg-warning'},
                    {
                        label: 'Samo cjenik',
                        name: 'samoCjenik',
                        width: 180,
                        classes: 'bg-warning',
                        formatter: 'checkbox',
                        editable: true,
                        edittype: 'checkbox',
                        align: 'center'
                    },
                    {
                        label: 'Set', name: 'set', width: 330, classes: 'bg-warning', editable: true,
                        edittype: "select",
                        editoptions: {
                            dataUrl: "{{ path('td_cm_rate_dohvatimogucesetove') }}",
                            cacheUrlData: true,
                            buildSelect: function (data) {
                                vraceniSetovi = data;
                                //dataObj = jQuery.parseJSON(data);
//
                                var s = '<select>';

                                for (var i = 0; i < data.length; i++) {
                                    s = s + '<option value="' + data[i].id + '">' + data[i].naziv + '</option>';
                                }
                                s = s + '</select>';
                                return s;
                            }
                        }
                    },
                    {
                        label: 'Postojeći Set',
                        name: 'postojeciSet',
                        width: 240,
                        classes: 'bg-warning',
                        formatter: 'checkbox',
                        editable: true,
                        edittype: "checkbox",
                        align: 'center'
                    },
                    {label: 'Novi rate', name: 'noviRate', width: 100, classes: 'bg-warning', hidden: true},
                    {label: 'Novi unit rate', name: 'noviUnitRate', width: 100, classes: 'bg-warning', hidden: true},
                    {
                        name: 'aktivan',
                        label: 'Aktivan',
                        width: 500,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;true:Aktivni;No:Neaktivni"},
                        classes: 'bg-warning'
                    },
                    {name: 'AKT', width: 50, align: 'center', sortable: false, search: false}
                ],
                loadonce: true,
                autowidth: true,
                hoverrows: false,
                height: '100%',
                onSelectRow: editRowRate, // the javascript function to call on row click. will ues to to put the row in edit mode
                gridComplete: function () {
                    var ids = jQuery("#" + childGridID).jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var idUnitRate = jQuery("#" + childGridID).jqGrid('getCell', cl, 'idUnitRate');
                        de = "";
                        {% if portalKorisnik.portal.isBookingCom %}
                        de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Stavke cjenika za rate' href='{{ path('td_cm_rate_unitratestavke') }}?idUnitRate=" + idUnitRate + "'><span class='glyphicon glyphicon-download'></span></a>";
                        {% endif %}
                        jQuery("#" + childGridID).jqGrid('setRowData', ids[i], {AKT: de});
                    }
                }
            });

//            $("#" + childGridID).closest("div.ui-jqgrid-view")
//                    .children("div.ui-jqgrid-hdiv")
//                    .hide();
        }

        function noEditFormatter(cellValue, options, rowObject) {
            if (cellValue == 'true')
                jQuery("#grid").jqGrid('setCell', options.rowId, 'ColName', '', 'not-editable-cell');
            return cellValue;
        }

        function dohvatiUnite() {
//            return {
//                me: "Hari Gangadharan",
//                friend1: "Asif Aktar",
//                friend2: "Jay Thomas",
//                friend3: "John Abrams"
//            };
            return "ALFKI:ALFKI;ANATR:ANATR;ANTON:ANTON";
        }

        //Editiranje objekata
        var lastSelection;
        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#t2Objekti");
                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, {keys: true, focusField: 4});
                lastSelection = id;
            }
        }

        function startEdit() {
            var grid = $("#t2Objekti");
            var ids = grid.jqGrid('getDataIDs');

            for (var i = 0; i < ids.length; i++) {
                grid.jqGrid('editRow', ids[i]);
            }
        }


        function saveRows() {
            var grid = $("#t2Objekti");
            var ids = grid.jqGrid('getDataIDs');

            for (var i = 0; i < ids.length; i++) {
                grid.jqGrid('saveRow', ids[i]);
            }
            location.reload();
        }

        //editiranje unita
        var lastSelectionUnit = 0 //ovo treba resetirat kada se skače između tabova
        var lastGrid = null;
        function editRowUnit(id) {
            if (this.id.substring(0, 2) != "t2") {
                var grid = $(this);

                if (lastGrid != grid && lastGrid != null) {
                    lastGrid.jqGrid('restoreRow', lastSelectionUnit);
                    lastGrid = grid;
                    grid.jqGrid('editRow', id, {keys: true, focusField: 2});
                    lastSelectionUnit = id;
                }
                else if (id && id !== lastSelection) {

                    grid.jqGrid('restoreRow', lastSelectionUnit);
                    grid.jqGrid('editRow', id, {keys: true, focusField: 2});
                    lastSelectionUnit = id;
                    lastGrid = grid;
                }
            }
        }

        //Edit za rateove
        var lastSelectionRate = 0;
        var lastGridRate = null;
        function editRowRate(id) {

            var grid = $(this);
            var podaciRedak = grid.jqGrid('getRowData', id);
            //PRovjeri da li fokus prebačen na drugi grid
            if (lastGridRate != grid && lastGridRate != null) {
                lastGridRate.jqGrid('restoreRow', lastSelectionRate);
                lastGridRate = grid;
//                grid.jqGrid('editRow', id, {keys: true, focusField: 2}, '', '', '', '', reload);
                grid.editRow(id, true, '', '', '', '', reload, '', '');
//                grid.editRow(id, keys, oneditfunc, successfunc, url, extraparam, aftersavefunc,errorfunc, afterrestorefunc);
                lastSelectionRate = id;
            }
            //Inače pogledaj da li je fokus pomaknut na drugi redak unutar grida
            else if (id && id !== lastSelection) {
                grid.jqGrid('restoreRow', lastSelectionRate);
//                grid.jqGrid('editRow', id, {keys: true, focusField: 2});
                grid.editRow(id, true, '', '', '', '', reload, '', '');
                lastSelectionRate = id;
                lastGridRate = grid;
            }
        }

        function reload(id, result) {
//            alert(JSON.stringify(result));
            alert(result.responseText);
            $(this).jqGrid('setRowData', id, {AKT: "testfja"});
            $('#' + aktualniParentGrid).jqGrid('toggleSubGridRow', aktualniParentRow);
            $('#' + aktualniParentGrid).jqGrid('toggleSubGridRow', aktualniParentRow);

            //location.reload();
        }

        function omoguciSubgrid(rowId) {
            var grid = $("#t2Objekti");
            grid.jqGrid('restoreRow', rowId);
            grid.jqGrid('resetSelection');
            var rowData = grid.getRowData(rowId);
            if (rowData.brojUnita != 0 || rowData.brojNeprijavljenih != 0 || rowData.idPropertyNaPortalu != "") {
                alert(rowData.idPropertyNaPortalu);
                $("#" + rowid).find("td.ui-sgcollapsed>a").show();
                $("#" + rowid).find("td.ui-sgcollapsed").addClass("sgcollapsed");

            }
        }

        function autocomplete2(element, polje) {
            $(element).autocomplete({
                minLength: 2,
                autoFocus: true,

                source: function (request, response) {
                    $.ajax({
                        url: "{{ path('td_cm_setUp_autocompleteSetupPropertyGrid') }}" + "?" + polje + "=" + request.term + "&idPortalKorisnik=" + {{ portalKorisnik.id }},
                        dataType: "json",
                        data: {'term': request.term},
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item[polje],
                                    value: item[polje]
                                }
                            }))
                        }
                    })
                },
            });
        }

        function t2KreirajGrid() {
            if (t2Kreiranje == 1) {
                t2Kreiranje = 0;
                //Nepovezani - prikazani su kroz 2 tablice/ 2 grida. Prvi grid prikazuje samo objekte, dok drugi grid objekte i smještajne jedinice
                // | ------------------------------------------------- |
                // | ************** Tablica t2Objekti *************** |
                // | TAB 2: Ova tablica sadrži popis objekata koji     |
                // | nemaju spojene unite s portalom. Ako barem jedan  |
                // | unit nije spojen onda će se objekt pojaviti na toj|
                // | tablici. Tablica se učitava odjednom.             |
                // | Subgrid se učitava dinamički po pozivu.           |
                // | Ažuriranjem šifre na portalu se unit briše.       |
                // | ------------------------------------------------- |
                $('#t2Objekti').jqGrid({
                    url: "{{ path('td_cm_setUp_vSetupPropertyGridJson') }}" + "?idPortalKorisnik=" + {{ portalKorisnik.id }} +"&tip=nepovezani",
                    editurl: "{{ path('td_cm_setUp_setupPropertyPersistRowGrid') }}",
                    mtype: "GET",
                    datatype: "json",
                    page: 1,
                    rownumbers: true,
                    hoverrows: false,
                    colModel: [
                        {
                            label: ' ',
                            name: 'actions',
                            width: 70,
                            formatter: 'actions',
                            sortable: false,
                            search: false,
                            formatoptions: {
                                keys: true,
                                editbutton: true,
                                delbutton: false,
                                afterSave: function (rowId, response) {
                                    var grid = $("#t2Objekti");
                                    var gridPovezani = $("#t1ObjektiUniti");
                                    var selector = '#' + rowId;
                                    grid.jqGrid('restoreRow', rowId);
                                    grid.jqGrid('resetSelection');
                                    var rowData = grid.getRowData(rowId);
                                    if ((rowData.brojUnita != 0 || rowData.brojNeprijavljenih != 0) && rowData.idPropertyNaPortalu != "") {
                                        jQuery(selector).find("td.ui-sgcollapsed").addClass("sgcollapsed").find('a').show();
                                        if (rowData.brojNeprijavljenih == 0 && rowData.aktivan == 'Yes') {
                                            promjenaNepovezano = 1;
                                        }
                                    } else if (rowData.idPropertyNaPortalu === "") {
                                        jQuery(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed").find('a').hide();
                                    }
                                    alert(response.responseText);
                                },
                                editOptions: {}
                            },
                            classes: 'bg-warning'
                        },
                        {
                            name: 'id',
                            label: 'ID Setup Property ',
                            width: 100,
                            align: 'center',
                            key: true,
                            hidden: true,
                            formatter: 'integer'
                        },
                        {name: 'idUnit', label: 'ID  Property Unit', width: 9, align: 'center', hidden: true},
                        {
                            name: 'idPropertyFront',
                            label: 'ID objekt',
                            width: 80,
                            align: 'center',
                            classes: 'bg-warning',
                            searchoptions: {sopt: ['cn', 'bw']}
                        },
                        {
                            name: 'idPropertyNaPortalu',
                            label: 'ID portal',
                            width: 130,
                            align: 'center',
                            classes: 'bg-warning',
                            editable: true,
                            searchoptions: {sopt: ['cn', 'bw']}
                        },
                        {
                            name: 'nazivProperty',
                            label: 'Naziv',
                            width: 200,
                            align: 'left',
                            classes: 'bg-warning',
                            searchoptions: {
                                dataInit: function (element) {
                                    autocomplete2(element, 'nazivProperty');
                                }, sopt: ['cn', 'bw']
                            }
                        },
                        {
                            name: 'mjesto', label: 'Mjesto', width: 170, align: 'left', classes: 'bg-warning',
                            searchoptions: {
                                dataInit: function (element) {
                                    autocomplete2(element, 'mjesto');
                                },
                                sopt: ['cn', 'bw']
                            }
                        },
                        {
                            name: 'skrbnik', label: 'Skrbnik', width: 200, align: 'left', classes: 'bg-warning',
                            searchoptions: {
                                dataInit: function (element) {
                                    autocomplete2(element, 'skrbnik');
                                },
                                sopt: ['cn', 'bw']
                            }
                        },
                        {
                            name: 'vlasnik', label: 'Vlasnik', width: 200, align: 'left', classes: 'bg-warning',
                            searchoptions: {
                                dataInit: function (element) {
                                    autocomplete2(element, 'vlasnik');
                                },
                                sopt: ['cn', 'bw']
                            }
                        },
                        {
                            name: 'datumKreiranja.date',
                            label: 'Dodano',
                            width: 140,
                            align: 'center',
                            formatter: "date",
                            formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"},
                            classes: 'bg-warning',
                            searchoptions: {sopt: ['cn', 'bw']}
                        },
                        {
                            name: 'brojUnita',
                            label: 'Br.sm.jed.',
                            width: 70,
                            align: 'center',
                            searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                            classes: 'bg-warning'
                        },
                        {
                            name: 'brojNeprijavljenih',
                            label: 'Br.nepr.',
                            width: 70,
                            align: 'center',
                            searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                            classes: 'bg-warning'
                        },
                        {
                            name: 'aktivan',
                            label: 'Aktivan',
                            width: 100,
                            editable: true,
                            formatter: "checkbox",
                            edittype: "checkbox",
                            align: 'center',
                            stype: "select",
                            // searchoptions value - name values pairs for the dropdown - they will appear as options
                            searchoptions: {value: ":Svi;true:Aktivni;false:Neaktivni"},
                            classes: 'bg-warning'
                        },
                        {
                            name: 'AKT',
                            width: 50,
                            align: 'center',
                            sortable: false,
                            search: false,
                            classes: 'bg-warning'
                        }
                    ],

                    loadonce: true,
                    navOptions: {reloadGridOptions: {fromServer: true}},
                    height: '100%',
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    viewrecords: true,
                    pager: '#jqGridPager',
                    subGrid: true, // set the subGrid property to true to show expand buttons for each row
                    subGridRowExpanded: showChildGrid, // javascript function that will take care of showing the child grid
                    subGridOptions: {
                        "plusicon": "ui-icon-triangle-1-e",
                        "minusicon": "ui-icon-triangle-1-s",
                        "openicon": "ui-icon-arrowreturn-1-e",
                        "expandOnLoad": false,
                        reloadOnExpand: true
                    },

                    grouping: true,
                    groupingView: {
//                groupField: ["mjesto"],
                        groupColumnShow: [true],
                        groupText: ["<b>{0}</b>"],
                        groupOrder: ["asc"],
                        groupSummary: [false],
                        groupCollapse: false
//                hideFirstGroupCol: true
                    },
                    gridComplete: function () {
                        var grid = jQuery("#t2Objekti");
                        var ids = grid.jqGrid('getDataIDs');
                        for (var i = 0; i < ids.length; i++) {
                            var cl = ids[i];
                            var selector = '#' + cl;
                            de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Popis unita za portal' href='{{ path('td_cm_setUp_t3prijavi1') }}" + "?idPropertyUnit=&idPortalKorisnik=" + {{ portalKorisnik.id }} +"'><span class='glyphicon glyphicon-time'></span></a>";
                            //Ovo ću privremeno ugasit jer mi n treba za sad.
                            //grid.jqGrid('setRowData', ids[i], {AKT: de});

                            //Gasim subgrid za one objekte koji nemaju smještajne jedinice
                            var rowData = grid.getRowData(cl);
                            if (rowData.brojUnita == 0 || rowData.brojNeprijavljenih == 0 || rowData.idPropertyNaPortalu == "") {
                                $(selector).find("td.ui-sgcollapsed>a").hide();
                                $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                            }
                        }
                        grid.jqGrid('restoreRow', lastSelection);
                        grid.jqGrid('resetSelection');
                    }
                });

                // activate the toolbar searching
                $('#t2Objekti').jqGrid('filterToolbar', {
                    stringResult: true,
                    // instuct the grid toolbar to show the search options
                    searchOperators: true
                });
                $('#t2Objekti').jqGrid('navGrid', "#jqGridPager", {
                            search: true, // show search button on the toolbar
                            add: false,
                            edit: false,
                            del: false,
                            refresh: true
                        },
                        {},
                        {},
                        {},
                        {multipleSearch: true, multipleGroup: false}
                );

                // on chang select value change grouping
                jQuery("#chngroup").change(function () {
                    var vl = $(this).val();
                    if (vl) {
                        if (vl === "clear") {
                            jQuery("#t2Objekti").jqGrid('groupingRemove', true);
                        } else {
                            jQuery("#t2Objekti").jqGrid('groupingGroupBy', vl);
                        }
                    }
                });
            }
        }

        function t3PrijaviOznacene() {
            var ids = jQuery("#jqGridTab3").getGridParam('selarrrow');
            var idsString = JSON.stringify(ids);
            var params = new Array();
            params['ids'] = idsString;
            {#window.location.href="{{ path('td_cm_setUp_t3prijavioznacene', {'portalKorisnik': portalKorisnik.id }) }}" + "?ids=";#}
            var path = "{{ path('td_cm_setUp_t3prijavioznacene', {'portalKorisnik': portalKorisnik.id }) }}";
            post(path, params, 'POST')

        }

        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        function rowColorFormatter(cellValue, options, rowObject) {
            if (cellValue > 0) {
                rowsToColor[rowsToColor.length] = options.rowId;
                return "</span><span title='Ovaj objekt ima neuspjele transfere' class='badge'>" + cellValue + "</span>";
            } else {
                return "<span class='glyphicon glyphicon-ok'></span>"
//        return cellValue;
            }
        }

        function rowColorFormatterSubgrid(cellValue, options, rowObject) {
            if (0 < cellValue) {
                rowsToColorSubgrid[rowsToColorSubgrid.length] = options.rowId;
                return "</span><span title='Smještajna jedinica ima neuspješnih transfera!' class='badge'>" + cellValue + "</span>";
            } else {
                return "<span class='glyphicon glyphicon-ok' title='Svi transferi su uspješno preneseni'></span>"
//        return cellValue;
            }
        }

        $('#transferModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var spuTransferiUrl = button.data('transfer'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-body').load(spuTransferiUrl, function () {
//                test2();
                if (naslov)
                    $('#transferModalLabel').text(naslov);
                else $('#transferModalLabel').text('Popis transfera');
            });
        });

        $('#transferModal').on('hidden.bs.modal', function (e) {
            // do something...

            if (1 == refresh) {
                alert(refresh);
                promjenaNepovezano = 1;
                ponovoPostaviT1();
            }
        })

    </script>

{% endblock %}