{# src/td/CMBundle/Resources/views/SetUp/index.html.twig #}

{#{% extends '::baseBookerTech.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}Pregled objekata i smještajnih jedinica {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/cm/css/jquery-ui-1.10.0.custom.css'
    'bundles/cm/css/ui.jqgrid.css'
    'bundles/cm/css/ui.jqgrid-bootstarp.css'
    'bundles/cm/css/prettify.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {#{% stylesheets#}
    {#'node_modules/jquery-ui-dist/jquery-ui.min.css'#}
    {#'node_modules/free-jqgrid/css/ui.jqgrid.min.css'#}
    {#filter='cssrewrite' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

    {#{% stylesheets#}
    {#'node_modules/jquery-ui-dist/jquery-ui.min.css'#}
    {#'node_modules/jqGrid/css/ui.jqgrid.css'#}
    {#'node_modules/jqGrid/css/ui.jqgrid-bootstrap-ui.css'#}
    {#'node_modules/jqGrid/css/ui.jqgrid-bootstrap.css'#}
    {#'node_modules/jqGrid/plugins/searchFilter.css'#}
    {#filter='cssrewrite' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

{% endblock %}

{% block glavniIzbornik %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Channel Manager</h2>
            </div>
        </div>

        {#Success flash messages#}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {#Danger messages#}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>

        {#Add object to channel manager#}
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                <form class="form-horizontal" method="POST" action="{{ url('spu_add_object_to_cm') }}">
                    <div class="form-group form-group-sm">
                        <label for="idProperty" class="col-sm-4 control-label">ID objekta:</label>

                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="idProperty" name="idProperty"
                                   placeholder="">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default btn-sm" onclick="getPortalKorisnik()">Nastavi
                            </button>
                        </div>

                    </div>
                    <div class="" id="formDataPortalKorisnik">

                    </div>


                </form>

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="btn-group">

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">

                {# WSaktivni #}
                <div role="tabpanel" class="tab-pane active" id="WSaktivni">

                    <br/>
                    <table id="t1ObjektiUniti"></table>
                    <div id="jqGridPager1"></div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="generalModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="transferModalLabel">Poruka</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/cm/js/jquery-ui-1.10.0.custom.min.js'
    'bundles/cm/js/grid.locale-hr.js'
    'bundles/cm/jqgrid/js/jquery.jqGrid.min.js'
    'bundles/cm/js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#{% javascripts#}
    {#'node_modules/jquery-ui-dist/jquery-ui.min.js'#}
    {#'node_modules/jqGrid/js/i18n/grid.locale-hr.js'#}
    {#'node_modules/jqGrid/jquery.js'#}
    {#'node_modules/jqGrid/js/jquery.jqGrid.min.js'#}
    {#'bundles/cm/js/main.js' %}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    <script>
        "use strict";
        var lastsel;
        var podaciBookingComUnit;
        var podaciBookingComRate;
        var setovi = [{'id': '1', 'naziv': 'prvi'}, {'id': '2', 'naziv': 'drugi'}];
        var t2Kreiranje = 0;
        var rowsToColor = [];
        var rowsToColorSubgrid = [];
        var promjenaNepovezano = 0;
        var promjenaPovezano = 0;


        $(document).ready(function () {

            //Kreiranje tablice 1
            t1ObjektiUniti();

            t2Kreiranje = 1;


        });


        function t1ObjektiUniti() {
            // | ------------------------------------------------- |
            // | ************ Tablica t1ObjektiUniti ************* |
            // | TAB 1: Ova tablica sadrži popis objekata koji     |
            // | imaju spojene unite s portalom. Tablica se učitava|
            // | odjednom. Subgrid se učitava dinamički po pozivu  |
            // | ------------------------------------------------- |
            $("#t1ObjektiUniti").jqGrid({
                url: "{{ path('spu_all_json') }}",
                editurl: "{{ path('td_cm_setUp_setupPropertyPersistRowGrid') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
//                iconSet: "fontAwesome",
//                guiStyle: "bootstrap",
                rownumbers: true,
                hoverrows: false,
                colModel: [
                    {
                        label: " ",
                        name: "actions",
                        width: 70,
                        formatter: "actions",
                        sortable: false,
                        search: false,
                        formatoptions: {
                            keys: true,
                            delbutton: false,
                            afterSave: function (rowId, response) {
                                //Provjeriti aktivnost objekta
//                                var grid = $("#t2Objekti");
                                var grid = $("#t1ObjektiUniti");

                                var selector = '#' + rowId;
                                grid.jqGrid('restoreRow', rowId);
                                grid.jqGrid('resetSelection');
                                var rowData = grid.getRowData(rowId);
                                if (rowData.aktivan == "Yes" && rowData.idPropertyNaPortalu != '') {
                                    $(selector).find("td.ui-sgcollapsed>a").show();
                                    $(selector).find("td.ui-sgcollapsed").addClass("sgcollapsed");
                                } else {
                                    $(selector).find("td.ui-sgcollapsed>a").hide();
                                    $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                                }
                                alert(response.responseText);
                            },
                            editOptions: {}
                        },
                        classes: 'bg-info'
                    },
                    {name: 'id', label: 'ID Setup Property ', width: 90, align: 'center', key: true, hidden: true},
                    {
                        name: 'brojNeuspjelihTransfera',
                        label: 'Transfer',
                        width: 70,
                        align: 'center',
                        classes: 'bg-info',
                        formatter: rowColorFormatter,
                        searchoptions: {sopt: ['gt', 'eq']}
                    },
                    {
                        name: 'idPropertyFront',
                        label: 'ID objekt',
                        width: 75,
                        align: 'center',
                        classes: 'bg-info',
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'idPropertyNaPortalu',
                        label: 'ID na portalu',
                        width: 100,
                        align: 'center',
                        classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'idPropertyNaPortalu');
                            },
                            sopt: ['cn', 'bw']
                        },
                        editable: true
                    },
                    {
                        name: 'nazivProperty', label: 'Naziv', width: 110, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'nazivProperty');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'idPortalKorisnik',
                        label: 'ID pk',
                        width: 55,
                        align: 'left',
                        classes: 'bg-info'
                    },
                    {
                        name: 'idCompanyKorisnik', label: 'ID Comp.', width: 70, align: 'left', classes: 'bg-info'
                    },
                    {
                        name: 'nazivCompanyKorisnik',
                        label: 'Naziv Company',
                        width: 170,
                        align: 'left',
                        classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'nazivCompanyKorisnik');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'idWebshop', label: 'ID WS', width: 55, align: 'left', classes: 'bg-info',
//                        searchoptions: {
//                            dataInit: function (element) {
//                                autocomplete2(element, 'idWebshop');
//                            },
//                            sopt: ['cn', 'bw']
//                        }
                    },
                    {
                        name: 'nameWebshop', label: 'Naziv Webshop', width: 140, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'nameWebshop');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'idPortal',
                        label: 'ID Portal',
                        width: 70,
                        align: 'left',
                        classes: 'bg-info',
                        hidden: true,
//                        searchoptions: {
//                            dataInit: function (element) {
//                                autocomplete2(element, 'idPortal');
//                            },
//                            sopt: ['cn', 'bw']
//                        }
                    },
                    {
                        name: 'nazivPortal', label: 'Naziv Portal', width: 130, align: 'left', classes: 'bg-info',
                        stype: 'select',
                        searchoptions: {dataUrl: "{{ path('portal_all_portals_select') }}"},
//                        searchoptions: {
//                            dataInit: function (element) {
//                                autocomplete2(element, 'nazivPortal');
//                            },
//                            sopt: ['cn', 'bw']
//                        }
                    },
                    {
                        name: 'mjesto', label: 'Mjesto', width: 140, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'mjesto');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'skrbnik', label: 'Skrbnik', width: 190, align: 'left', classes: 'bg-info',
                        searchoptions: {
                            dataInit: function (element) {
                                autocomplete2(element, 'skrbnik');
                            },
                            sopt: ['cn', 'bw']
                        }
                    },
                    {
                        name: 'datumKreiranja.date', label: 'Dodano', width: 140, align: 'center', hidden: true,
                        formatter: "date",
                        classes: 'bg-info',
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"},
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'brojUnita',
                        label: 'Br.jed.',
                        width: 50,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                        classes: 'bg-info'
                    },
                    {
                        name: 'brojNeprijavljenih',
                        label: 'Br.nepr.',
                        width: 50,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                        classes: 'bg-info'
                    },
                    {
                        name: 'aktivan',
                        label: 'Aktivan',
                        width: 80,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;1:Akt.;0:Neakt."},
                        classes: 'bg-info'
                    },
                    {
                        name: 'povezan',
                        label: 'Povezan',
                        width: 80,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;1:Pov.;0:Nepov."},
                        classes: 'bg-info'
                    },
                    {
                        name: 'AKT',
                        width: 70,
                        align: 'center',
                        sortable: false,
                        search: false,
                        classes: 'bg-info'
                    }
                ],
                loadonce: false,
                navOptions: {reloadGridOptions: {fromServer: true}},
                height: '100%',
                rowNum: 20,
                rowList: [20, 50, 100],
                viewrecords: true,
                pager: "#jqGridPager1",
                subGrid: true, // set the subGrid property to true to show expand buttons for each row
                subGridRowExpanded: showChildGrid, // javascript function that will take care of showing the child grid
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e",
                    "expandOnLoad": false,
                    reloadOnExpand: true
                },
                gridComplete: function () {
                    var grid = jQuery("#t1ObjektiUniti");
                    var ids = grid.jqGrid('getDataIDs');
                    //grid.setGridParam({datatype: 'local', page: 1});
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var selector = '#' + cl;
                        var rowData = grid.getRowData(cl);
//                        var be = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='glyphicon glyphicon-plus'></span></a>";
//                        var se = "<a class='ui-button ui-button-icon-only' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='ui-icon ui-icon-circle-plus'></span></a>";
                        var de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Obradi promjene za " + rowData.idPropertyFront + "' target='_blank' href='{{ path('promjena_obradiPromjenu',{'promjena': 0}) }}" + cl + "'><span><i class='fa fa-external-link' aria-hidden='true'></i></span></a>";
                        jQuery("#t1ObjektiUniti").jqGrid('setRowData', cl, {AKT: de});

                        //Gasim subgrid za one objekte koji nemaju smještajne jedinice

//                        if (rowData.brojUnita == 0 || (rowData.brojUnita == rowData.brojNeprijavljenih)) {
                        if (rowData.idPropertyNaPortalu == '') {
                            $(selector).find("td.ui-sgcollapsed>a").hide();
                            $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                        }
                    }
                    for (var j = 0; j < rowsToColor.length; j++) {
//                var status = $("#" + rowsToColor[i]).find("td").eq(7).html();
//                if (status == "Complete") {
                        if (1) {
//                    $("#" + rowsToColor[i]).find("td").css("background-color", "red");
//                    $("#" + rowsToColor[i]).find("td").css("color", "silver");
                            $("#" + rowsToColor[j]).find("td").addClass('bg-danger');
                        }

                    }
                }
            });

            $('#t1ObjektiUniti').jqGrid('filterToolbar', {
                // JSON stringify all data from search, including search toolbar operators
                stringResult: true,
                // instuct the grid toolbar to show the search options
                searchOperators: false
            });

            $('#t1ObjektiUniti').jqGrid('navGrid', '#jqGridPager1', {
                        search: true, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: true
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );
        }

        function ponovoPostaviT1() {
            if (promjenaNepovezano) {
                $('#WSaktivni').html("<table id='t1ObjektiUniti'></table><div id='jqGridPager1'></div>");
                rowsToColor = [];
                t1ObjektiUniti();
                promjenaNepovezano = 0;
            }
        }
        // the event handler on expanding parent row receives two parameters
        // the ID of the grid tow  and the primary key of the row
        var aktualniParentGrid = 0;
        var aktualniParentRow;
        var aktualniSubgrid;
        function showChildGrid(parentRowID, parentRowKey) {
            var childGridID = parentRowID + "_table";

            if (aktualniParentGrid != childGridID && aktualniParentGrid != 0) {
                $('#' + aktualniParentGrid).jqGrid('toggleSubGridRow', aktualniParentRow);
            }
            aktualniParentGrid = parentRowID.substr(0, parentRowID.indexOf('_'));
            aktualniSubgrid = parentRowID + "_table";

            //var childGridPagerID = parentRowID + "_pager";
            var grid = jQuery("#t1ObjektiUniti");
            var rowData = grid.getRowData(parentRowKey);
            var idPortal = rowData.idPortal;
//            alert(parentRowID);
//             send the parent row primary key to the server so that we know which grid to show
            //var childGridURL = parentRowKey+".json";

            //Ako je nadređeni parent grid povezani onda subgrid šalje upit na back tip="povezani" inače tip="nepovezani"
//            var ret = $('#' + aktualniParentGrid).jqGrid('getRowData', parentRowKey);

            var childGridURL = "{{ path('td_cm_setUp_vSetupPropertyUnitGridJson') }}" + "?idSetupProperty=" + parentRowKey;
            //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

            // add a table and pager HTML elements to the parent grid row - we will render the child grid here
            //$('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
            $('#' + parentRowID).append('<table id=' + childGridID + '></table> ');

            $("#" + childGridID).jqGrid({
                url: childGridURL,
                editurl: "{{ path('td_cm_setUp_setupPropertyUnitPersistRowGrid') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
//            rownumbers: true,
                headertitles: true,
                ajaxSelectOptions:      //use this for combination with dataUrl for formatter:select
                {
                    dataType: 'json',
                    type: "POST", // data:"{'CountryId':'1' }"
                    data: {
                        idSetupPropertyUnit: function () {
                            var selectedRowId = jQuery("#" + childGridID).jqGrid('getGridParam', 'selrow');
                            var ret = jQuery("#" + childGridID).jqGrid('getRowData', selectedRowId);
                            if (selectedRowId == null) {
                                return 0;
                            }
                            return ret.id;
                        }
                    }
                },
                colModel: [
                    {
                        label: " ",
                        name: "actions",
                        width: idPortal == 1 ? 55 : 70,
                        formatter: "actions",
                        formatoptions: {
                            keys: true,
                            editButton: true,
                            delbutton: false,
                            afterSave: function (rowId, response) {
                                var gridUniti = $('#' + aktualniSubgrid);
                                var rowDataUnit = gridUniti.getRowData(rowId);

                                gridUniti.jqGrid('restoreRow', rowId);
                                gridUniti.jqGrid('resetSelection');
                                var selector = '#' + rowId;
                                if ((rowDataUnit.idPropertyUnitNaPortalu == "" || rowDataUnit.idPropertyUnitNaPortalu == null) && idPortal == 1) {
                                    $(selector).find("td.ui-sgcollapsed>a").hide();
                                    $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                                } else if (rowDataUnit.idPropertyUnitNaPortalu != "" && idPortal == 1) {
                                    $(selector).find("td.ui-sgcollapsed>a").show();
                                    $(selector).find("td.ui-sgcollapsed").addClass("sgcollapsed");
                                }

                                alert(response.responseText);
                            },
                            editOptions: {}
                        }
                    },
                    {
                        name: 'brojNeuspjelihTransfera',
                        label: 'Transfer',
                        width: idPortal == 1 ? 64 : 70,
                        align: 'center',
                        formatter: rowColorFormatterSubgrid
                    },
                    {label: 'ID Setup Property Unit', name: 'id', key: true, width: 90, hidden: true},
                    {label: 'ID Unit', name: 'idPropertyUnitFront', width: 80, align: 'center'},
                    {
                        label: 'Id Unit na portalu',
                        name: 'idPropertyUnitNaPortalu',
//                        width: 100,
                        width: idPortal == 1 ? 370 : 100,
                        editable: true,

                        edittype: idPortal == 1 ? "select" : "text",
                        editoptions: {
                            dataUrl: "{{ path('td_cm_setUp_bookingcom_unitrate') }}",
                            cacheUrlData: true,
                            buildSelect: function (data) {
                                //dataObj = jQuery.parseJSON(data);
//
                                var s = '<select><option value=""></option>';

                                for (var i = 0; i < data.length; i++) {
//                                    s = s + '<option value="' + data[i].id + '">' + data[i].room_name + '</option>';
                                    s = s + '<option value="' + data[i].id + '">' + '[' + data[i].id + '] ' + data[i].name + '</option>';
                                }
                                s = s + '</select>';
                                podaciBookingComUnit = s;
                                return s;
                            }
                        }
                    },
                    {label: 'Naziv', name: 'nazivUnita', width: idPortal == 1 ? 930 : 1200},
                    {
                        name: 'aktivan',
                        label: 'Aktivan',
                        width: 80,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;true:Aktivni;No:Neaktivni"}
                    },
                    {
                        name: 'povezan',
                        label: 'Povezan',
                        width: 80,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;true:Povezani;No:Nepovezani"}
                    },
                    {name: 'AKT', width: 70, align: 'center', sortable: false, search: false}

                ],
                loadonce: true,
                autowidth: true,
                hoverrows: false,
                //width: 325,
                height: '100%',
                //Ovo se izvršava samo pod uvjeton da je portal Booking.com
                {#{% if portalKorisnik.portal.isBookingCom %}#}
                subGrid: idPortal == 1 ? true : false, // set the subGrid property to true to show expand buttons for each row
                subGridRowExpanded: showRateSubGrid, // javascript function that will take care of showing the child grid
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e",
                    //expand all rows on load
                    "expandOnLoad": false,
                    reloadOnExpand: true
                },
                {#{% endif %}#}
                gridComplete: function () {
                    var idGrid = "#" + childGridID;
                    var grid = jQuery(idGrid)
                    var ids = grid.jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];


                        {#{% if portalKorisnik.portal.isBookingCom %}#}
                        //Gasim subgrid za one objekte koji nemaju smještajne jedinice
                        var rowData = grid.getRowData(cl);
                        var buttons = '';
                        if (1 == idPortal) {
                            var selector = '#' + cl;
                            //Show - Hide option for expand subgrid
                            if (rowData.idPropertyUnitNaPortalu == "" || rowData.idPropertyUnitNaPortalu == null || rowData.aktivan == false) {
                                $(selector).find("td.ui-sgcollapsed>a").hide();
                                $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                            }
                            //Add buton for LOS modal
                            buttons += "<button type='button' class='btn btn-default btn-xs'  data-toggle='modal'  data-target='#generalModal' title='Slanje LOS tablice za unit " + rowData.idPropertyUnitFront + "' data-transfer='{{ path('spu_send_los_modal', {'setupPropertyUnit': 0}) }}" + rowData.id + "'><span><i class='fa fa-paper-plane' aria-hidden='true'></i></span></button>";
                        }
                        {#{% endif %}#}

                        buttons += "<button type='button' class='btn btn-default btn-xs'  data-toggle='modal'  data-target='#generalModal' title='Pregled transfera za " + rowData.idPropertyUnitFront + "' data-transfer='{{ path('transfer_spuTransferi', {'setupPropertyUnit': 0}) }}" + rowData.id + "'><span><i class='fa fa-exchange aria-hidden='true'></i></span></button>";
                        jQuery("#" + childGridID).jqGrid('setRowData', ids[i], {AKT: buttons});
                    }
                    for (var j = 0; j < rowsToColorSubgrid.length; j++) {
                        var status = $("#" + rowsToColorSubgrid[j]).find("td").eq(7).html();
//                if (status == "Complete") {
                        if (1) {
//                    $("#" + rowsToColor[i]).find("td").css("background-color", "red");
//                    $("#" + rowsToColor[i]).find("td").css("color", "silver");
                            $("#" + rowsToColorSubgrid[j]).find("td").addClass('bg-danger');
                        }
                    }
                }
            });

            $("#" + childGridID).closest("div.ui-jqgrid-view")
                    .children("div.ui-jqgrid-hdiv")
                    .hide();
        }

        var vraceniSetovi;
        var aktualniGrid;

        /**
         * Subgrid for Rates for given setupPropertyUnit
         *
         * @param parentRowID
         * @param parentRowKey
         */
        function showRateSubGrid(parentRowID, parentRowKey) {
            var childGridID = parentRowID + "_table";
            aktualniGrid = childGridID;
            aktualniParentRow = parentRowKey;
            //var childGridPagerID = parentRowID + "_pager";

            // send the parent row primary key to the server so that we know which grid to show
            //var childGridURL = parentRowKey+".json";
            var childGridURL = "{{ path('td_cm_unitrates', {'setupPropertyUnit':0}) }}" + parentRowKey;
            //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

            // add a table and pager HTML elements to the parent grid row - we will render the child grid here
            //$('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
            $('#' + parentRowID).append('<table id=' + childGridID + '></table> ');

            $("#" + childGridID).jqGrid({
                url: childGridURL,
                {#editurl: "{{ path('td_cm_rate_spremiunitrate') }}",#}
                editurl: "{{ path('td_cm_unitratejson_saveIdHeadInUnitRate') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
//            rownumbers: true,
                headertitles: true,
                ajaxSelectOptions:      //use this for combination with dataUrl for formatter:select
                {
                    dataType: 'json',
                    type: "POST", // data:"{'CountryId':'1' }"
                    data: {
                        idCjenik: function () {
                            var selectedRowId = jQuery("#" + aktualniGrid).jqGrid('getGridParam', 'selrow');
                            var ret = jQuery("#" + aktualniGrid).jqGrid('getRowData', selectedRowId);
                            if (selectedRowId == null) {
                                return 0;
                            }
                            return ret.idHead;
                        },
                        idUnitRate: function () {
                            var selectedRowId = jQuery("#" + aktualniGrid).jqGrid('getGridParam', 'selrow');
                            var ret = jQuery("#" + aktualniGrid).jqGrid('getRowData', selectedRowId);
                            if (selectedRowId == null) {
                                return 0;
                            }
                            return ret.idUnitRate;
                        }
                        ,
                        setupPropertyUnit: parentRowKey
                    }
                },
                colModel: [
                    {
                        label: " ",
                        name: "actions",
                        width: 53,
                        formatter: "actions",
                        formatoptions: {
                            keys: true,
                            editButton: true,
                            delbutton: false,
                            afterSave: function (rowId, response) {
                                var gridRates = $('#' + aktualniSubgrid);
                                var rowDataUnit = gridRates.getRowData(rowId);

                                gridRates.jqGrid('restoreRow', rowId);
                                gridRates.jqGrid('resetSelection');

                                alert(response.message);
                            },
                            editOptions: {}
                        }
                    },
                    {label: 'ID Rate', name: 'id', key: true, width: 100, classes: 'bg-warning'},
                    {
                        label: 'ID Unit Rate',
                        name: 'idUnitRate',
                        hidden: true,
                        width: 100,
                        classes: 'bg-warning',
                        editable: true
                    },
                    {label: 'Naziv ratea', name: 'rate_name', width: 200, classes: 'bg-warning'},
                    {label: 'Is child rate', name: 'is_child_rate', width: 100, align: 'center', classes: 'bg-warning'},
                    {label: 'Max persons', name: 'max_persons', width: 100, classes: 'bg-warning'},
                    {label: 'Policy', name: 'policy', width: 140, classes: 'bg-warning'},
                    {label: 'PolicyId', name: 'policy_id', width: 240, classes: 'bg-warning'},
                    {label: 'Readonly', name: 'readonly', width: 240, classes: 'bg-warning'},
                    {label: 'fixedOccupancy', name: 'fixed_occupancy', width: 240, classes: 'bg-warning'},
                    {
                        label: 'idCjenik', name: 'idHead', width: 170, classes: 'bg-warning', editable: true,
                        edittype: "select",
                        editoptions: {
                            dataUrl: "{{ path('td_cm_unitratejson_idheadforsetuppropertyunit', {'setupPropertyUnit':0}) }}" + parentRowKey,
                            cacheUrlData: true,
                            buildSelect: function (data) {
                                //vraceniSetovi = data;
//                                var dataObj = jQuery.parseJSON(data);
                                if (data.status != 'ok') {
                                    alert(data.message);
                                }
//
                                var s = '<select><option value=""></option>';

                                for (var i = 0; i < data.length; i++) {
                                    s = s + '<option value="' + data[i].idHead + '">' + data[i].idHead + '</option>';
                                }
                                s = s + '</select>';
                                return s;
                            }
                        }
                    },
                    {#{#}
                    {#label: 'Samo cjenik',#}
                    {#name: 'samoCjenik',#}
                    {#width: 180,#}
                    {#classes: 'bg-warning',#}
                    {#formatter: 'checkbox',#}
                    {#editable: true,#}
                    {#edittype: 'checkbox',#}
                    {#align: 'center'#}
                    {#},#}
                    {#{#}
                    {#label: 'Set', name: 'set', width: 330, classes: 'bg-warning', editable: true,#}
                    {#edittype: "select",#}
                    {#editoptions: {#}
                    {#dataUrl: "{{ path('td_cm_rate_dohvatimogucesetove') }}",#}
                    {#cacheUrlData: true,#}
                    {#buildSelect: function (data) {#}
                    {#vraceniSetovi = data;#}
                    {#//dataObj = jQuery.parseJSON(data);#}
                    {#//#}
                    {#var s = '<select>';#}

                    {#for (var i = 0; i < data.length; i++) {#}
                    {#s = s + '<option value="' + data[i].id + '">' + data[i].naziv + '</option>';#}
                    {#}#}
                    {#s = s + '</select>';#}
                    {#return s;#}
                    {#}#}
                    {#}#}
                    {#},#}
                    {#{#}
                    {#label: 'Postojeći Set',#}
                    {#name: 'postojeciSet',#}
                    {#width: 240,#}
                    {#classes: 'bg-warning',#}
                    {#formatter: 'checkbox',#}
                    {#editable: true,#}
                    {#edittype: "checkbox",#}
                    {#align: 'center'#}
                    {#},#}
                    {#{label: 'Novi rate', name: 'noviRate', width: 100, classes: 'bg-warning', hidden: true},#}
                    {#{label: 'Novi unit rate', name: 'noviUnitRate', width: 100, classes: 'bg-warning', hidden: true},#}
                    {#{#}
                    {#name: 'aktivan',#}
                    {#label: 'Aktivan',#}
                    {#width: 500,#}
                    {#editable: true,#}
                    {#formatter: "checkbox",#}
                    {#edittype: "checkbox",#}
                    {#align: 'center',#}
                    {#stype: "select",#}
                    {#// searchoptions value - name values pairs for the dropdown - they will appear as options#}
                    {#searchoptions: {value: ":Svi;true:Aktivni;No:Neaktivni"},#}
                    {#classes: 'bg-warning'#}
                    {#},#}
                    {name: 'AKT', width: 50, align: 'center', sortable: false, search: false}
                ],
                loadonce: true,
                autowidth: true,
                hoverrows: false,
                height: '100%',
                //onSelectRow: editRowRate, // the javascript function to call on row click. will ues to to put the row in edit mode
                gridComplete: function () {
                    var gridRates = jQuery("#" + childGridID);
//                    var rows = gridRates[0].rows;
//                    for(var i = 0; i < rows.length; i++){
//                        $(rows[i]).addClass('not-editable-row');
//
//                        // hide the edit/delete buttons on non-editable rows (not the row we are editing)
//                        $("#" + aktualniGrid + " tr#" + rows[i].id + " .ui-inline-edit").hide();
//                        $("#" + aktualniGrid + " tr#" + rows[i].id + " .ui-inline-del").hide();
//                    }
                    var ids = gridRates.jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var rowData = gridRates.getRowData(cl);
                        if (rowData.readonly == "1" || rowData.is_child_rate == "1") {
                            jQuery('tr#' + cl + ' td:first div:first', jQuery(this)).hide();
                        }
                        var idUnitRate = jQuery("#" + childGridID).jqGrid('getCell', cl, 'id');
                        var de = "";
                        {#{% if portalKorisnik.portal.isBookingCom %}#}
                        {#de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Stavke cjenika za rate' href='{{ path('td_cm_rate_unitratestavke') }}?idUnitRate=" + idUnitRate + "'><span class='glyphicon glyphicon-download'></span></a>";#}
                        {#{% endif %}#}
                        jQuery("#" + childGridID).jqGrid('setRowData', ids[i], {AKT: de});
                    }
                }
            });

//            $("#" + childGridID).closest("div.ui-jqgrid-view")
//                    .children("div.ui-jqgrid-hdiv")
//                    .hide();
        }

        function noEditFormatter(cellValue, options, rowObject) {
            if (cellValue == 'true')
                jQuery("#grid").jqGrid('setCell', options.rowId, 'ColName', '', 'not-editable-cell');
            return cellValue;
        }

        function dohvatiUnite() {
//            return {
//                me: "Hari Gangadharan",
//                friend1: "Asif Aktar",
//                friend2: "Jay Thomas",
//                friend3: "John Abrams"
//            };
            return "ALFKI:ALFKI;ANATR:ANATR;ANTON:ANTON";
        }

        //Editiranje objekata
        var lastSelection;
        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#t2Objekti");
                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, {keys: true, focusField: 4});
                lastSelection = id;
            }
        }

        function startEdit() {
            var grid = $("#t2Objekti");
            var ids = grid.jqGrid('getDataIDs');

            for (var i = 0; i < ids.length; i++) {
                grid.jqGrid('editRow', ids[i]);
            }
        }


        function saveRows() {
            var grid = $("#t2Objekti");
            var ids = grid.jqGrid('getDataIDs');

            for (var i = 0; i < ids.length; i++) {
                grid.jqGrid('saveRow', ids[i]);
            }
            location.reload();
        }

        //editiranje unita
        var lastSelectionUnit = 0 //ovo treba resetirat kada se skače između tabova
        var lastGrid = null;
        function editRowUnit(id) {
            if (this.id.substring(0, 2) != "t2") {
                var grid = $(this);

                if (lastGrid != grid && lastGrid != null) {
                    lastGrid.jqGrid('restoreRow', lastSelectionUnit);
                    lastGrid = grid;
                    grid.jqGrid('editRow', id, {keys: true, focusField: 2});
                    lastSelectionUnit = id;
                }
                else if (id && id !== lastSelection) {

                    grid.jqGrid('restoreRow', lastSelectionUnit);
                    grid.jqGrid('editRow', id, {keys: true, focusField: 2});
                    lastSelectionUnit = id;
                    lastGrid = grid;
                }
            }
        }

        //Edit za rateove
        var lastSelectionRate = 0;
        var lastGridRate = null;
        function editRowRate(id) {

            var grid = $(this);
            var podaciRedak = grid.jqGrid('getRowData', id);
            //PRovjeri da li fokus prebačen na drugi grid
            if (lastGridRate != grid && lastGridRate != null) {
                lastGridRate.jqGrid('restoreRow', lastSelectionRate);
                lastGridRate = grid;
//                grid.jqGrid('editRow', id, {keys: true, focusField: 2}, '', '', '', '', reload);
                grid.editRow(id, true, '', '', '', '', reload, '', '');
//                grid.editRow(id, keys, oneditfunc, successfunc, url, extraparam, aftersavefunc,errorfunc, afterrestorefunc);
                lastSelectionRate = id;
            }
            //Inače pogledaj da li je fokus pomaknut na drugi redak unutar grida
            else if (id && id !== lastSelection) {
                grid.jqGrid('restoreRow', lastSelectionRate);
//                grid.jqGrid('editRow', id, {keys: true, focusField: 2});
                grid.editRow(id, true, '', '', '', '', reload, '', '');
                lastSelectionRate = id;
                lastGridRate = grid;
            }
        }

        function reload(id, result) {
//            alert(JSON.stringify(result));
            alert(result.responseText);
            $(this).jqGrid('setRowData', id, {AKT: "testfja"});
            $('#' + aktualniParentGrid).jqGrid('toggleSubGridRow', aktualniParentRow);
            $('#' + aktualniParentGrid).jqGrid('toggleSubGridRow', aktualniParentRow);

            //location.reload();
        }

        function omoguciSubgrid(rowId) {
            var grid = $("#t2Objekti");
            grid.jqGrid('restoreRow', rowId);
            grid.jqGrid('resetSelection');
            var rowData = grid.getRowData(rowId);
            if (rowData.brojUnita != 0 || rowData.brojNeprijavljenih != 0 || rowData.idPropertyNaPortalu != "") {
                alert(rowData.idPropertyNaPortalu);
                $("#" + rowid).find("td.ui-sgcollapsed>a").show();
                $("#" + rowid).find("td.ui-sgcollapsed").addClass("sgcollapsed");

            }
        }

        function autocomplete2(element, polje) {
            $(element).autocomplete({
                minLength: 2,
                autoFocus: true,

                source: function (request, response) {
                    $.ajax({
                        url: "{{ path('td_cm_setUp_autocompleteSetupPropertyGrid') }}" + "?" + polje + "=" + request.term,
                        dataType: "json",
                        data: {'term': request.term},
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item[polje],
                                    value: item[polje]
                                }
                            }))
                        }
                    })
                },
            });
        }


        {#function t3PrijaviOznacene() {#}
        {#var ids = jQuery("#jqGridTab3").getGridParam('selarrrow');#}
        {#var idsString = JSON.stringify(ids);#}
        {#var params = new Array();#}
        {#params['ids'] = idsString;#}
        {#&#123;&#35;window.location.href="{{ path('td_cm_setUp_t3prijavioznacene', {'portalKorisnik': portalKorisnik.id }) }}" + "?ids=";&#35;&#125;#}
        {#var path = "{{ path('td_cm_setUp_t3prijavioznacene', {'portalKorisnik': portalKorisnik.id }) }}";#}
        {#post(path, params, 'POST')#}

        {#}#}

        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        function rowColorFormatter(cellValue, options, rowObject) {
            if (cellValue > 0) {
                rowsToColor[rowsToColor.length] = options.rowId;
                return "</span><span title='Ovaj objekt ima neuspjele transfere' class='badge'>" + cellValue + "</span>";
            } else {
                return "<span><i class='fa fa-check' aria-hidden='true'></i></span>"
//        return cellValue;
            }
        }

        function rowColorFormatterSubgrid(cellValue, options, rowObject) {
            if (0 < cellValue) {
                rowsToColorSubgrid[rowsToColorSubgrid.length] = options.rowId;
                return "</span><span title='Smještajna jedinica ima neuspješnih transfera!' class='badge'>" + cellValue + "</span>";
            } else {
                return "<span title='Svi transferi su uspješno preneseni'><i class='fa fa-check' aria-hidden='true'></i></span>"
//        return cellValue;
            }
        }

        $('#generalModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var spuTransferiUrl = button.data('transfer'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-body').load(spuTransferiUrl, function () {
//                test2();
                if (naslov)
                    $('#transferModalLabel').text(naslov);
                else $('#transferModalLabel').text('Popis transfera');
            });
        });

        $('#generalModal').on('hidden.bs.modal', function (e) {
            // do something...

            if (1 == refresh) {
                alert(refresh);
                promjenaNepovezano = 1;
                ponovoPostaviT1();
            }
        })

        function getPortalKorisnik() {
            var idProperty = $('#idProperty').val();
            $("#formDataPortalKorisnik").load("{{ url('portalkorisnik_formPortalKorisnik') }}", {idProperty: idProperty});
        }

    </script>

{% endblock %}