{# src/td/CMBundle/Resources/views/SetUp/kreiraj.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}SetUp - kreiranje {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<br />
				<h1>Kreiranje setup unita</h1>
				
				{{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
					{{ form_errors(form) }}
					
						<div class="form-group">
							<label for="iDWebshop" class="col-sm-2 control-label">ID Webshop</label>
							{{ form_errors(form.iDWebshop) }}
							<div class="col-sm-10">
								{{ form_widget(form.iDWebshop, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							<label for="iDUnit" class="col-sm-2 control-label">ID Unit</label>
							{{ form_errors(form.iDUnit) }}
							<div class="col-sm-10">
								{{ form_widget(form.iDUnit, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							<label for="portalKorisnik" class="col-sm-2 control-label">PortalKorisnik</label>
							{{ form_errors(form.portalKorisnik) }}
							<div class="col-sm-10">
								{{ form_widget(form.portalKorisnik, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							<label for="iDUnitNaPortalu" class="col-sm-2 control-label">ID Unit na portalu</label>
							{{ form_errors(form.iDUnitNaPortalu) }}
							<div class="col-sm-10">
								{{ form_widget(form.iDUnitNaPortalu, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
							<label for="XMLLocations" class="col-sm-2 control-label">XML Locations</label>
							{{ form_errors(form.XMLLocations) }}
							<div class="col-sm-10">
								{{ form_widget(form.XMLLocations, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						
						<div class="form-group">
						{{ form_errors(form.aktivan) }}
							<div class="col-sm-offset-2 col-sm-10">
							  <div class="checkbox">
								<label>
								  {{ form_widget(form.aktivan) }} Aktivan
								</label>
							  </div>
							</div>
						 </div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								{{ form_widget(form.save) }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								{{ form_widget(form.saveAndAdd) }}
							</div>
						</div>
						
				{{ form_end(form) }}
			
			</div>
		</div>
	</div>
	
	
{% endblock %}