{# src/td/CMBundle/Resources/views/Default/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Objekti i jedinice {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/cm/css/jquery-ui-1.10.0.custom.css'
    'bundles/cm/css/ui.jqgrid.css'
    'bundles/cm/css/ui.jqgrid-bootstarp.css'
    'bundles/cm/css/prettify.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        .dl-horizontal dt {
            white-space: normal;
            width: 5em;
        }

        .dl-horizontal dd {
            margin-left: 6em;
        }
    </style>
{% endblock %}
	
{% block glavniIzbornik %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9">
                {{ debug|raw }}
                <br/>
            </div>
        </div>

        <div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        		<p>Nova funkcija</p>
        	</div>
        </div>
        <div class="row">
            <div class="col-md-12">


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <form action="{{ path('spu_all_2') }}" method="post" role="form" id="formSearch">
                            {#<legend>Traži:</legend>#}

                            <input type="hidden" name="page" id="page" value="1">
                            <input type="hidden" name="maxResult" id="maxResult" value="{{ maxResult }}">

                            <div class="form-group col-md-1">
                                <label for="sFront">ID</label>
                                <input type="search" class="form-control input-sm clearable" name="sFront" id="sFront"
                                       value="{{ sFront }}" placeholder="Unesi ID...">
                            </div>

                            <div class="form-group col-md-2">
                                <label for="sPropertyName">Naziv</label>
                                <input type="search" class="form-control input-sm" name="sPropertyName"
                                       id="sPropertyName"
                                       value="{{ sPropertyName }}" placeholder="Naziv objekta...">
                            </div>

                            <div class="form-group col-md-2">
                                <label for="sMjesto">Mjesto</label>
                                <input type="search" class="form-control input-sm" name="sMjesto" id="sMjesto"
                                       value="{{ sMjesto }}" placeholder="Input...">
                            </div>

                            <div class="form-group col-md-2">
                                <label for="sSkrbnik">Skrbnik</label>
                                <input type="search" class="form-control input-sm" name="sSkrbnik" id="sSkrbnik"
                                       value="{{ sSkrbnik }}" placeholder="Input...">
                            </div>

                            <div class="form-group col-md-2">
                                <label for="sVlasnik">Vlasnik</label>
                                <input type="search" class="form-control input-sm" name="sVlasnik" id="sVlasnik"
                                       value="{{ sVlasnik }}" placeholder="Input...">
                            </div>

                            <div class="form-group col-md-2">
                                <label for=""></label>
                                <button type="submit" class="form-control input-sm btn btn-primary">Traži</button>
                            </div>

                            <br>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
                        {% include '@tdCM/General/pager.html.twig' with {'page' : page, 'noPages':noPages} %}

                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <br>

                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button type="button" class="btn btn-default {% if maxResult == 5 %}active{% endif %}"
                                    onclick="maxResult(5)">5
                            </button>
                            <button type="button" class="btn btn-default {% if maxResult == 10 %}active{% endif %}"
                                    onclick="maxResult(10)">10
                            </button>
                            <button type="button" class="btn btn-default {% if maxResult == 25 %}active{% endif %}"
                                    onclick="maxResult(25)">25
                            </button>
                            <button type="button" class="btn btn-default {% if maxResult == 50 %}active{% endif %}"
                                    onclick="maxResult(50)">50
                            </button>
                            <button type="button" class="btn btn-default {% if maxResult == 100 %}active{% endif %}"
                                    onclick="maxResult(100)">100
                            </button>
                        </div>


                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 pull-right">
                        <br>

                        <div class="btn-groupbtn-group-sm">
                            <a href="{{ path('propertiesunitsviewsetup_edit', {id:propertiesUnitsViewSetup.id}) }}"
                               type="button" class="btn btn-default">Postavke prikaza</a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="table">
                            <table class="table table-bordered table-hover" width="100%" style="table-layout: fixed;">
                                <thead>
                                <tr>
                                    <th width="40" class="text-center vert-align">R.br.</th>
                                    {#<th width="50" class="text-center vert-align">ID</th>#}
                                    {#<th class="text-center">ID front</th>#}

                                    {#<th class="vert-align">Naziv</th>#}
                                    {#<th class="vert-align" class="text-center vert-align" rowspan="2">Mjesto</th>#}
                                    {#<th class="vert-align" rowspan="2">Skrbnik</th>#}
                                    {#<th class="vert-align" rowspan="2">Vlasnik</th>#}

                                    <th width="180" class="vert-align" rowspan="2">Podaci objekta/jedinice</th>

                                    <th width="150" class="vert-align"
                                        rowspan="2">{{ propertiesUnitsViewSetup.p1.naziv }}</th>
                                    <th width="150" class="vert-align"
                                        rowspan="2">{{ propertiesUnitsViewSetup.p2.naziv }}</th>
                                    <th width="150" class="vert-align"
                                        rowspan="2">{{ propertiesUnitsViewSetup.p3.naziv }}</th>
                                    <th width="150" class="vert-align"
                                        rowspan="2">{{ propertiesUnitsViewSetup.p4.naziv }}</th>
                                    <th width="150" class="vert-align"
                                        rowspan="2">{{ propertiesUnitsViewSetup.p5.naziv }}</th>
                                    <th width="150" class="vert-align"
                                        rowspan="2">{{ propertiesUnitsViewSetup.p6.naziv }}</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% set objectExistBookingCom = false %}
                                {% set unitExistBookingCom = false %}
                                {% for property in properties %}
                                    <tr class="bg-info">
                                        {#<td>{{ property.id }}</td>#}
                                        <td class="small text-center"
                                            width="50">{{ loop.index + ((page-1) * maxResult) }}</td>


                                        {#<td class="small text-center"#}
                                        {#width="80">{{ property.getPropertyFront }} </td>#}

                                        {#<td class="small vert-align" width="120">{{ property.name }}</td>#}
                                        {#<td class="small vert-align" width="100">{{ property.city }}</td>#}
                                        {#<td class="small vert-align" width="150">[{{ property.idAgent }}#}
                                        {#] {{ property.agentC.naziv }}</td>#}
                                        {#<td class="small vert-align" width="150">[{{ property.ownerC.id }}#}
                                        {#]{{ property.ownerC.naziv }}</td>#}

                                        <td class="small">
                                            <table>
                                                <tr>
                                                    <td>ID:</td>
                                                    <td><b>{{ property.getPropertyFront }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Naziv:</td>
                                                    <td><b>{{ property.name }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Mjesto:</td>
                                                    <td>{{ property.city }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Skrbnik:</td>
                                                    <td>{{ property.agentC.naziv }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Vlasnik:</td>
                                                    <td>{{ property.ownerC.naziv }}</td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td class="small vert-align" width="150"
                                            id="{{ propertiesUnitsViewSetup.p1.codeName }}{{ property.id }}">
                                            {% include '@tdCM/SetUp/Snippets/sp' ~ propertiesUnitsViewSetup.p1.codeName ~ '.html.twig' with {'property':property, 'portal':propertiesUnitsViewSetup.p1} %}
                                        </td>
                                        <td class="small vert-align" width="150"
                                            id="{{ propertiesUnitsViewSetup.p2.codeName }}{{ property.id }}">
                                            {% include '@tdCM/SetUp/Snippets/sp' ~ propertiesUnitsViewSetup.p2.codeName ~ '.html.twig' with {'property':property, 'portal':propertiesUnitsViewSetup.p2} %}

                                        </td>
                                        <td class="small vert-align" width="150"
                                            id="{{ propertiesUnitsViewSetup.p3.codeName }}{{ property.id }}">
                                            {% include '@tdCM/SetUp/Snippets/sp' ~ propertiesUnitsViewSetup.p3.codeName ~ '.html.twig' with {'property':property, 'portal':propertiesUnitsViewSetup.p3} %}
                                        </td>
                                        <td class="small vert-align" width="150"
                                            id="{{ propertiesUnitsViewSetup.p4.codeName }}{{ property.id }}">
                                            {% include '@tdCM/SetUp/Snippets/sp' ~ propertiesUnitsViewSetup.p4.codeName ~ '.html.twig' with {'property':property, 'portal':propertiesUnitsViewSetup.p4} %}
                                        </td>
                                        <td class="small vert-align" width="150"
                                            id="{{ propertiesUnitsViewSetup.p5.codeName }}{{ property.id }}">
                                            {% include '@tdCM/SetUp/Snippets/sp' ~ propertiesUnitsViewSetup.p5.codeName ~ '.html.twig' with {'property':property, 'portal':propertiesUnitsViewSetup.p5} %}
                                        </td>
                                        <td class="small vert-align" width="150"
                                            id="{{ propertiesUnitsViewSetup.p6.codeName }}{{ property.id }}">
                                            {% include '@tdCM/SetUp/Snippets/sp' ~ propertiesUnitsViewSetup.p6.codeName ~ '.html.twig' with {'property':property, 'portal':propertiesUnitsViewSetup.p6} %}
                                        </td>

                                    </tr>

                                    {% for propertyUnit in property.propertyUnits %}
                                        {% if propertyUnit.deleted == 0 and propertyUnit.active == 1 %}
                                            <tr>
                                                <td class="small text-center" width="50"></td>
                                                {#<td class="small text-center">#}
                                                {#<table>#}
                                                {#<tr><td>{{ property.getPropertyFront }}-{{ '%02d'|format(propertyUnit.localOrder) }}</td></tr>#}
                                                {#<tr><td>ID: {{ propertyUnit.id }}</td></tr>#}
                                                {#</table>#}


                                                {#</td>#}

                                                <td class="small" width="120">
                                                    <table>
                                                        <tr>
                                                            <td>ID:</td>
                                                            <td><b>{{ property.getPropertyFront }}
                                                                    -{{ '%02d'|format(propertyUnit.localOrder) }}</b>
                                                            </td>
                                                        </tr>
                                                        {#<tr><td>ID: {{ propertyUnit.id }}</td></tr>#}
                                                        <tr>
                                                            <td>Naziv:</td>
                                                            <td><b>{{ propertyUnit.name }}</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tip:</td>
                                                            <td>({{ propertyUnit.bedsBasic|number_format }}
                                                                + {{ propertyUnit.bedsAdditional|number_format }})
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    {#<dl class="dl-horizontal">#}
                                                    {#<dt class="">Naziv:</dt>#}
                                                    {#<dd class="">{{ propertyUnit.name }}</dd>#}
                                                    {#<dt class=""></dt>#}
                                                    {#<dd class="">({{ propertyUnit.bedsBasic|number_format }}#}
                                                    {#+ {{ propertyUnit.bedsAdditional|number_format }})#}
                                                    {#</dd>#}
                                                    {#</dl>#}
                                                </td>
                                                {#<td class="small"></td>#}

                                                <td class="small {{ propertiesUnitsViewSetup.p1.codeName|lower }}{{ property.id }}"
                                                    id="{{ propertiesUnitsViewSetup.p1.codeName }}Unit{{ propertyUnit.id }}">
                                                    {% include '@tdCM/SetupPropertyUnit/Snippets/spu'~ propertiesUnitsViewSetup.p1.codeName ~ '.html.twig' with{'propertyUnit':propertyUnit, 'portal':propertiesUnitsViewSetup.p1 } %}
                                                </td>
                                                <td class="small {{ propertiesUnitsViewSetup.p2.codeName|lower }}{{ property.id }}"
                                                    id="{{ propertiesUnitsViewSetup.p2.codeName }}Unit{{ propertyUnit.id }}">
                                                    {% include '@tdCM/SetupPropertyUnit/Snippets/spu'~ propertiesUnitsViewSetup.p2.codeName ~ '.html.twig' with{'propertyUnit':propertyUnit, 'portal':propertiesUnitsViewSetup.p2 } %}
                                                </td>
                                                <td class="small {{ propertiesUnitsViewSetup.p3.codeName|lower }}{{ property.id }}"
                                                    id="{{ propertiesUnitsViewSetup.p3.codeName }}Unit{{ propertyUnit.id }}">
                                                    {% include '@tdCM/SetupPropertyUnit/Snippets/spu'~ propertiesUnitsViewSetup.p3.codeName ~ '.html.twig' with{'propertyUnit':propertyUnit, 'portal':propertiesUnitsViewSetup.p3 } %}
                                                </td>
                                                <td class="small {{ propertiesUnitsViewSetup.p4.codeName|lower }}{{ property.id }}"
                                                    id="{{ propertiesUnitsViewSetup.p4.codeName }}Unit{{ propertyUnit.id }}">
                                                    {% include '@tdCM/SetupPropertyUnit/Snippets/spu'~ propertiesUnitsViewSetup.p4.codeName ~ '.html.twig' with{'propertyUnit':propertyUnit, 'portal':propertiesUnitsViewSetup.p4 } %}
                                                </td>
                                                <td class="small {{ propertiesUnitsViewSetup.p5.codeName|lower }}{{ property.id }}"
                                                    id="{{ propertiesUnitsViewSetup.p5.codeName }}Unit{{ propertyUnit.id }}">
                                                    {% include '@tdCM/SetupPropertyUnit/Snippets/spu'~ propertiesUnitsViewSetup.p5.codeName ~ '.html.twig' with{'propertyUnit':propertyUnit, 'portal':propertiesUnitsViewSetup.p5 } %}
                                                </td>
                                                <td class="small {{ propertiesUnitsViewSetup.p6.codeName|lower }}{{ property.id }}"
                                                    id="{{ propertiesUnitsViewSetup.p6.codeName }}Unit{{ propertyUnit.id }}">
                                                    {% include '@tdCM/SetupPropertyUnit/Snippets/spu'~ propertiesUnitsViewSetup.p6.codeName ~ '.html.twig' with{'propertyUnit':propertyUnit, 'portal':propertiesUnitsViewSetup.p6 } %}
                                                </td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        {% include '@tdCM/General/pager.html.twig' with {'page' : page, 'noPages':noPages} %}

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Broj stranica: {{ noPages }}</p>

                        <p>Broj objekata: {{ totalCount }}</p>

                        <p>Broj stranice: {{ page }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include '@tdCM/SetUp/Modals/setupModal.html.twig' %}
    {% include '@tdCM/SetupPropertyUnit/Modals/setupPropertyUnitModal.html.twig' %}
    {% include '@tdCM/SetupPropertyUnit/Modals/setupPropertyUnitLargeModal.html.twig' %}
    {% include '@tdCM/UnitRate/Modals/unitRateLargeModal.html.twig' %}
    {% include '@tdCM/PortalKorisnik/Modals/portalKorisnikModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'bundles/cm/js/jquery-ui-1.10.0.custom.min.js'
    'bundles/cm/js/grid.locale-hr.js'
    'bundles/cm/jqgrid/js/jquery.jqGrid.min.js'
    'bundles/cm/js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            $(function () {
                $('[data-toggle="modal"]').tooltip()
            });


            $('.edit_connection').on('click', function () {
                var el = $(this);
                var options = {
                    size: 'xl', // sm, md, lg, xl
                    url: el.attr('href'),
                    title: el.attr('title')
                };
                eModal.iframe(options);
                return false;
            });

            $('.edit_help').on('click', function () {
                var el = $(this);
                var options = {
                    size: 'md', // sm, md, lg, xl
                    url: el.attr('href'),
                    title: 'Informacije o spajanju'
                };
                eModal.iframe(options);
                return false;
            });

//            $('.modal').on('hidden.bs.modal', function (e) {
//                // do something...
//                alert('zatvori san modal');
//            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            // Modal for PortalKorisnik
            $('#unitRateLargeModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.data('editrateurl'); // Extract info from data-* attributes
                var setupPropertyUnitId = button.data('setuppropertyunitid'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                $('#portalKorisnikModalLabel').text('Upravljanje rateovima');
                var modal = $(this);
//                modal.text('Slanje LOS tablice');
                modal.find('.modal-body').html('<div class="row"> <div class="col-md-3 col-md-offset-4 vert-align"> <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></div>');
                modal.find('.modal-body').load(url, function () {
//                  Po uspjesnom spremanju cu ažurirati cijeli html
// test2();
//                    if (naslov)
//                        $('#setupModalLabel').text('Spaj');
//                    else $('#transferModalLabel').text('Popis transfera');
                });
            });

            // Modal for Rates
            $('#unitRateLargeModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.data('editrateurl'); // Extract info from data-* attributes
                var setupPropertyUnitId = button.data('setuppropertyunitid'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                $('#setupPropertyUnitLargeModalLabel').text('Upravljanje rateovima');
                var modal = $(this);
//                modal.text('Slanje LOS tablice');
                modal.find('.modal-body').html('<div class="row"> <div class="col-md-3 col-md-offset-4 vert-align"> <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></div>');
                modal.find('.modal-body').load(url, function () {
//                  Po uspjesnom spremanju cu ažurirati cijeli html
// test2();
//                    if (naslov)
//                        $('#setupModalLabel').text('Spaj');
//                    else $('#transferModalLabel').text('Popis transfera');
                });
            });

            // General modal large for LOS
            $('#generalSetupPropertyUnitLargeModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.data('losurl'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                $('#setupPropertyUnitLargeModalLabel').text('Slanje LOS tablice');
                var modal = $(this);
//                modal.text('Slanje LOS tablice');
                modal.find('.modal-body').html('<div class="row"> <div class="col-md-3 col-md-offset-4 vert-align"> <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></div>');
                modal.find('.modal-body').load(url, function () {
//                  Po uspjesnom spremanju cu ažurirati cijeli html
// test2();
//                    if (naslov)
//                        $('#setupModalLabel').text('Spaj');
//                    else $('#transferModalLabel').text('Popis transfera');
                });
            });

            // General modal small for SetupProperty
            $('#generalSetupModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var setupPropertyId = button.data('setuppropertyid'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                $('#setupModalLabel').text('Spajanje objekta [' + setupPropertyId + ']');
                var modal = $(this);
                modal.find('.modal-body').html('<div class="row"> <div class="col-md-3 col-md-offset-4 vert-align"> <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></div>');
                modal.find('.modal-body').load('{{ path('sp_object_connect_snippet') }}', {setupPropertyId: setupPropertyId}, function () {
//                  Po uspjesnom spremanju cu ažurirati cijeli html
// test2();
//                    if (naslov)
//                        $('#setupModalLabel').text('Spaj');
//                    else $('#transferModalLabel').text('Popis transfera');
                });
            });

            // General modal for SetupPropertyUnit
            $('#generalSetupPropertyUnitModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var setupPropertyUnitId = button.data('setuppropertyunitid'); // Extract info from data-* attributes
                var spuUnitConnectUrl = button.data('spuunituonnecturl'); // Extract info from data-* attributes
//                alert(setupPropertyUnitId);
//                alert(spuUnitConnectUrl);
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                $('#setupPropertyUnitModalLabel').text('Spajanje jedinice [' + setupPropertyUnitId + ']');
                var modal = $(this);
                modal.find('.modal-body').html('<div class="row"> <div class="col-md-3 col-md-offset-4 vert-align"> <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></div>');
                modal.find('.modal-body').load(spuUnitConnectUrl, {setupPropertyUnitId: setupPropertyUnitId}, function () {
//                  Po uspjesnom spremanju cu ažurirati cijeli html
// test2();
//                    if (naslov)
//                        $('#setupModalLabel').text('Spaj');
//                    else $('#transferModalLabel').text('Popis transfera');
                });
            });


        });
        function submitFormSearch() {
//            alert('tu san');
            $('#formSearch').submit();
        }


        function page(x) {
            if (x < 1) x = 1;
            if (x > {{ noPages }}) x ={{ noPages }};
            $('#page').val(x);
            $('#formSearch').submit();
        }


        function maxResult(x) {
            $('#maxResult').val(x);
            $('#formSearch').submit();
        }

        // Cretate PortalKorisnik if not exist or create SetupProperty if not exist
        function createObjectConnection(propertyId, portalId, codeName) {
            // Poziv verify if portalKorisnik exists
            $.ajax({
                type: "POST",
                url: '{{ path('portalkorisnik_verify_portalKorisnik_json') }}',
                data: JSON.stringify({
                    'portalId': portalId,
                    'propertyId': propertyId
                }) // serializes the form's elements.
            }).done(function (data) {
                if (data.status == 'ok') {
                    toastr.info(data.message);
                    if (data.data.portalKorisnikExist) {
                        // Kreiram samo sp
                        $('#' + codeName + propertyId).load('{{ path('spu_create_setup_property_snippet') }}', {
                            propertyId: propertyId,
                            portalId: portalId
                        }, function () {
                            toastr.info('Objekt je povezan.')
                        });
//                      reloadObjectBookingCom(propertyId);
                    } else {
                        // Otvaram modal za kreiranje portalKorisnika
                        var modal = $('#portalKorisnikModal');
                        modal.modal('show');
                        modal.find('.modal-body').html('<div class="row"> <div class="col-md-3 col-md-offset-4 vert-align"> <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></div>');
                        modal.find('.modal-body').load('{{ path('portalkorisnik_create_portalkorisnik_snippet') }}', {
                            propertyId: propertyId,
                            portalId: portalId
                        }, function () {
                        });

                    }
//                    $('#portalKorisnikModal').modal('toggle');
//                    submitFormSearch();
                } else {
                    toastr.error(data.message);
                }
            });
            var portalKorisnik = false;
        }

        // Cretate PortalKorisnik if not exist or create SetupProperty if not exist
        function createUnitConnection(propertyUnitId, portalId, propertyId, portalCode) {
            // Poziv verify if portalKorisnik exists
            $.ajax({
                type: "POST",
                url: '{{ path('portalkorisnik_verify_portalKorisnik_json') }}',
                data: JSON.stringify({
                    'portalId': portalId,
                    'propertyUnitId': propertyUnitId
                }) // serializes the form's elements.
            }).done(function (data) {
                if (data.status == 'ok') {
                    toastr.info(data.message);
                    if (data.data.portalKorisnikExist) {
                        // Kreiram samo sp
                        $('#' + portalCode + 'Unit' + propertyUnitId).load('{{ path('spu_create_setup_property_unit_snippet') }}', {
                            propertyUnitId: propertyUnitId,
                            portalId: portalId
                        }, function () {
                            toastr.info('Jedinica je povezana.');
                            reloadObjectBookingCom(propertyId, portalCode);
                        });
                        // NAPRAVITI SAMO OBJECT AND UNIT RELOAD, A NE CIJELU STRANICU
//                      reloadObjectBookingCom(propertyId);
                    } else {
                        // Otvaram modal za kreiranje portalKorisnika
                        var modal = $('#portalKorisnikModal');
                        modal.modal('show');
                        modal.find('.modal-body').html('<div class="row"> <div class="col-md-3 col-md-offset-4 vert-align"> <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div></div>');
                        modal.find('.modal-body').load('{{ path('portalkorisnik_create_portalkorisnik_snippet') }}', {
                            propertyUnitId: propertyUnitId,
                            portalId: portalId
                        }, function () {
                        });

                    }
//                    $('#portalKorisnikModal').modal('toggle');
//                    submitFormSearch();
                } else {
                    toastr.error(data.message);
                }
            });
            var portalKorisnik = false;
        }

        // Save given idPropertyOnPortal
        function spSaveIdPropertyOnPortal(setupPropertyId, propertyId) {
            var idPropertyNaPortalu = $('#idPropertyNaPortalu' + setupPropertyId).val();

            // Spremanje na backend
            $.ajax({
                url: '{{ path('setup_propertiesunits_saveIdPropertyOnPortal_json') }}',
                data: JSON.stringify({"idSp": setupPropertyId, "idPropertyNaPortalu": idPropertyNaPortalu}),
                method: 'POST'
            }).done(function (data) {
                if (data.status == 'ok') {
                    toastr.info(data.message);
                    // Potrebno je zatvoriti modal
                    // Zatim osvježiti dio ekrana
                    submitFormSearch();
//                    $('#generalSetupModal').modal('toggle');
//                    reloadObjectBookingCom(propertyId);
                } else {
                    toastr.error(data.message);
                }
            });
        }

        // Save given idPropertyUnitOnPortal
        function spuSaveIdPropertyUnitOnPortal(setupPropertyUnitId, propertyUnitId, propertyId, portalCode) {
            var idPropertyUnitNaPortalu = $('#idPropertyUnitNaPortalu' + setupPropertyUnitId).val();

            // Spremanje na backend

            $.ajax({
                url: '{{ path('setup_propertiesunits_saveIdPropertyUnitOnPortal_json') }}',
                data: JSON.stringify({
                    "idSpu": setupPropertyUnitId,
                    "idPropertyUnitNaPortalu": idPropertyUnitNaPortalu
                }),
                method: 'POST'
            }).done(function (data) {
                if (data.status == 'ok') {
                    toastr.info(data.message);
                    // Potrebno je zatvoriti modal
                    // Zatim osvježiti dio ekrana
                    $('#generalSetupPropertyUnitModal').modal('toggle');
                    reloadUnitBookingCom(propertyUnitId, portalCode);
                    reloadObjectBookingCom(propertyId, portalCode);
                } else {
                    toastr.error(data.message);
                }
            });
        }

        // SetupProperty activation
        function objectActivation(setupPropertyId, propertyId, portalCode) {
            var checkbox = $('#AktivanSp' + setupPropertyId);
            var param = {'idSp': setupPropertyId, 'aktivanSp': checkbox.is(':checked')};

            checkbox.attr("disabled", true);
            $.ajax({
                url: '{{ path('setup_propertiesunits_objectActivation_json') }}',
                data: JSON.stringify(param),
                method: 'POST'
            }).done(function (msg) {
//                msg = JSON.parse(msgString);
                if (msg.status == 'ok') {
                    toastr.info(msg.message);
                    $('.bookingcom' + propertyId).each(function () {
                        var propertyUnitId = $(this).attr('id').substr(14, 10);
                        reloadUnitBookingCom(propertyUnitId, portalCode);
                        console.log("Očitani pu: " + propertyUnitId);
                    });
                    reloadObjectBookingCom(propertyId, portalCode);
                } else {
                    toastr.error(msg.message);
                    if (checkbox.is(':checked')) {
                        $('#Aktivan' + setupPropertyId).prop('checked', false);
                    } else {
                        $('#Aktivan' + setupPropertyId).prop('checked', true);
                    }
                }
                checkbox.removeAttr("disabled");
            });
        }

        // SetupPropertyUnit activation
        function unitActivation(propertyUnitId, setupPropertyUnitId, propertyId, portalCode) {
            var checkbox = $('#AktivanSpu' + setupPropertyUnitId);
            var ratesButton = $('#Rates' + setupPropertyUnitId);
            var param = {'idSpu': setupPropertyUnitId, 'aktivanSpu': checkbox.is(':checked')};
            checkbox.attr("disabled", true);
            ratesButton.attr("disabled", true);
            $.ajax({
                url: '{{ path('setup_propertiesunits_unitActivation_json') }}',
                data: JSON.stringify(param),
                method: 'POST'
            }).done(function (msg) {
                if (msg.status == 'ok') {
                    toastr.info(msg.message);
                    reloadUnitBookingCom(propertyUnitId, portalCode);
                    reloadObjectBookingCom(propertyId, portalCode);
                } else {
                    toastr.error(msg.message);
                    // Vrati ako je neuspjeh
                    if (checkbox.is(':checked')) {
                        checkbox.prop('checked', false);
                    } else {
                        checkbox.prop('checked', true);
                    }
                }
                checkbox.removeAttr("disabled");
                ratesButton.removeAttr("disabled");
            });

        }


        function reloadObjectBookingCom(propertyId, portalCode) {
//            $('#bookingcom' + propertyId + ' [data-toggle="tooltip"]').tooltip('hide');
//            $('#bookingcom' + propertyId + ' [data-toggle="modal"]').tooltip('hide');
            $('#' + portalCode + propertyId).html('<div class="row"> <div class="col-md-3 col-md-offset-4"> <i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></div>');
            $('#' + portalCode + propertyId).load('{{ path('sp_bookingcom_snippet') }}', {
                'propertyId': propertyId,
                'portalCode': portalCode
            }, function () {
                $('#' + portalCode + propertyId + ' [data-toggle="tooltip"]').tooltip();
                $('#' + portalCode + propertyId + ' [data-toggle="modal"]').tooltip();
            });
        }

        function reloadUnitBookingCom(propertyUnitId, portalCode) {
//            $('#bookingcomUnit' + propertyUnitId + ' [data-toggle="tooltip"]').tooltip('hide');
//            $('#bookingcomUnit' + propertyUnitId + ' [data-toggle="modal"]').tooltip('hide');
            $('#' + portalCode + 'Unit' + propertyUnitId).html('<div class="row"> <div class="col-md-3 col-md-offset-4"> <i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></div>');
            $('#' + portalCode + 'Unit' + propertyUnitId).load('{{ path('spu_bookingcom_snippet') }}', {
                'propertyUnitId': propertyUnitId,
                'portalCode': portalCode
            }, function () {
                //                        toastr.info('Podaci spremljeni');
                $('#' + portalCode + 'Unit' + propertyUnitId + ' [data-toggle="tooltip"]').tooltip();
                $('#' + portalCode + 'Unit' + propertyUnitId + ' [data-toggle="modal"]').tooltip();
                console.log("Ponovno je učitana jedinica: " + propertyUnitId);
            });
        }

        function deleteSetupPropertyUnit(url, setupPropertyUnitId, propertyId, propertyUnitId, portalCode) {
            // Disable button
            var button = $('#deleteSpu' + setupPropertyUnitId);
            button.attr('disabled', true);
            $('#' + portalCode + propertyUnitId + ' [data-toggle="tooltip"]').tooltip('hide');
            $.ajax({
                url: url,
                method: 'DELETE'
            }).done(function (msg) {
                if (msg.status == 'ok') {
                    toastr.success(msg.message);
                    reloadUnitBookingCom(propertyUnitId, portalCode);
                    reloadObjectBookingCom(propertyId, portalCode);
                } else {
                    toastr.error(msg.message);

                }
                button.removeAttr("disabled");
            });
        }

        function activateWebshopPropertyUnit(url, setupPropertyUnitId, propertyId, propertyUnitId, portalCode) {
            // Disable button
            var button = $('#activateWpu' + setupPropertyUnitId);
            button.attr('disabled', true);
//            $('#bookingcomUnit' + propertyUnitId + ' [data-toggle="tooltip"]').tooltip('hide');
            $.ajax({
                url: url,
                method: 'POST'
            }).done(function (msg) {
                if (msg.status == 'ok') {
                    toastr.success(msg.message);
                    reloadUnitBookingCom(propertyUnitId, portalCode);
                    reloadObjectBookingCom(propertyId, portalCode);
                } else {
                    toastr.error(msg.message);

                }
                button.removeAttr("disabled");
            });
        }

        function deactivateWebshopPropertyUnit(url, setupPropertyUnitId, propertyId, propertyUnitId, portalCode) {
            // Disable button
            var button = $('#activateWpu' + setupPropertyUnitId);
            button.attr('disabled', true);
//            $('#bookingcomUnit' + propertyUnitId + ' [data-toggle="tooltip"]').tooltip('hide');
            $.ajax({
                url: url,
                method: 'POST'
            }).done(function (msg) {
                if (msg.status == 'ok') {
                    toastr.success(msg.message);
                    reloadUnitBookingCom(propertyUnitId, portalCode);
                    reloadObjectBookingCom(propertyId, portalCode);
                } else {
                    toastr.error(msg.message);

                }
                button.removeAttr("disabled");
            });
        }

    </script>
{% endblock %}