<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm">
        {% if page>1 %}
            <li>
                <a href="#" aria-label="Previous" onclick="page({{ page-1 }})">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in 1..noPages %}
            {% if i<10 or (i>(page-5) and i<(page+5)) or i> noPages-10 %}
                <li class="{% if i == page %}active{% endif %}">
                    <a href="#" onclick="page({{ i }})">{{ i }}</a>
                </li>
            {% else %}
                {% if  i == (page+5) or (i == 10 and noPages > 20) %}
                    <li><a>...</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}


        {% if page < noPages %}
            <li>
                <a href="#" aria-label="Next" onclick="page({{ page+1 }})">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>