.centar
{
	vertical-align:middle !important;
}

.indeks
{
	z-index: 1 !important;
}

.vcenter
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.table thead>tr>th.vert-align{
    vertical-align: middle;
}