{% extends '::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content -%}
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h1>Uređivanje portal koda</h1>
    		</div>
    	</div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-1">
                <a href="{{ path('portalcode') }}" class="btn btn-sm btn-default">
                    Pregled svih portal kodova
                </a>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                {{ form(edit_form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                {{ form(delete_form) }}
            </div>
        </div>
    </div>

{% endblock %}
