{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Lista portal kodova</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="records_list table table-responsive">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Code</th>
                        <th>Opis</th>
                        <th>Portali</th>
                        <th>Akcije</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('portalcode_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.description }}</td>
                            <td>
                                {#{% if entity.portals.count %}#}
                                    {% for portal in entity.portals %}
                                        ({{ portal.id }}) {{ portal.naziv }},
                                    {% endfor %}
                                {#{% endif %}#}
                            </td>
                            <td>
                                <a href="{{ path('portalcode_show', { 'id': entity.id }) }}"
                                   class="btn btn-xs btn-default"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                                    Prikaži</a>

                                <a href="{{ path('portalcode_edit', { 'id': entity.id }) }}"
                                   class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Uredi</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{ path('portalcode_new') }}" class="btn btn-sm btn-success">
                    Izradi novi portal code
                </a>
            </div>
        </div>
    </div>


{% endblock %}
