{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content -%}
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h1>Kreiranje PortalCode</h1>
    		</div>
    	</div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-1">
                    <a href="{{ path('portalcode') }}" class="btn btn-sm btn-default">
                        Pregled svih portal kodova
                    </a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                {{ form(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">

            </div>
        </div>
    </div>




{% endblock %}
