{% extends '::base.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content -%}
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h1>PortalCode</h1>
    		</div>
    	</div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <a href="{{ path('portalcode') }}" class="btn btn-sm btn-default">
                    Pregled svih portal kodova
                </a>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <table class="record_properties table table-responsive">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.code }}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Opis</th>
                        <td>{{ entity.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <br>
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit) }}


                <a href="{{ path('portalcode_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-primary"><i
                            class="fa fa-pencil" aria-hidden="true"></i> Uredi</a>
                {{ form_end(delete_form) }}

            </div>
        </div>
    </div>

{% endblock %}
