{# src/td/CMBundle/Resources/views/Portal/create.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Portal{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/toastr/toastr.min.css') }}">
{% endblock %}
{% block izbornikTD %}
{% endblock %}
{% block glavniIzbornik %}
{% endblock %}
{% block content %}


    <div class="container" ng-app="portalApp">
        <div class="row" ng-controller="PortalCtrl">
            <div class="col-md-12">
                <br>

                <form name="portalForma">

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="inputId">ID</label>
                                <input name="idPortal" ng-model="portal.id" type="text" class="form-control"
                                       id="inputId"
                                       placeholder="" disabled value="0">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="form-group {{ "{{ portalForma.naziv.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputNaziv">Naziv</label>
                                <input class="form-control" name="naziv" ng-model="portal.naziv" type="text"
                                       id="inputNaziv" placeholder="Naziv" required="">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                                      ng-show="portalForma.naziv.$error.required"></span>
                                <span id="nazivError" class="help-block" ng-show="portalForma.naziv.$error.required">Unesite naziv portala.</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="inputCode">Code</label>
                                <select id="selectCode" class="form-control" name="code" ng-model="portal.code">
                                    <option ng-repeat="code in codes" value="{{ '{{ code.code }}' }}">
                                        [{{ '{{ code.code }}' }}] {{ '{{ code.description }}' }}</option>
                                </select>
                                <span id="codeError" class="help-block" ng-show="portalForma.code.$error.required">Odaberite kod portala.</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="form-group {{ "{{ portalForma.link.$valid ? '' : 'has-error' }}" }}">
                                <label for="input">Link</label>
                                <input name="link" ng-model="portal.link" type="url" class="form-control"
                                       id="inputLink" placeholder="http://www.example.com">
                                <span id="linkError" class="help-block" ng-show="portalForma.link.$error.url">Unesite ispravan link portala.</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="form-group {{ "{{ portalForma.link.$valid ? '' : 'has-error' }}" }}">
                                <label for="input">Grupa portala</label>
                                <select id="selectCode" class="form-control" name="code" ng-model="portal.groups">
                                    <option ng-repeat="group in groups" value="{{ '{{ group.id }}' }}">
                                        [{{ '{{ group.id }}' }}] {{ '{{ group.name }}' }}</option>
                                </select>
                                <span id="portalGroupError" class="help-block" ng-show="portalForma.link.$error.required">Unesite ispravan link portala.</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group {{ "{{ portalForma.viewTypeConnect.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputViewTypeConnect">View type connect</label>
                                <input name="viewTypeConnect" ng-model="portal.viewTypeConnect" type="text"
                                       class="form-control"
                                       id="inputViewTypeConnect" required="">
                                <span id="viewTypeConnectError" class="help-block"
                                      ng-show="portalForma.viewTypeConnect.$error.required">Unesite podatak.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group {{ "{{ portalForma.viewTypeSetup.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputViewTypeSetup">View type setup</label>
                                <input name="viewTypeSetup" ng-model="portal.viewTypeSetup" type="text"
                                       class="form-control"
                                       id="inputViewTypeSetup" required="">
                                <span id="viewTypeSetupError" class="help-block"
                                      ng-show="portalForma.viewTypeSetup.$error.required">Unesite podatak.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="form-group {{ "{{ portalForma.thumbnail.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputThumbnail">Naziv datoteke slike</label>
                                <input class="form-control" name="thumbnail" ng-model="portal.thumbnail" type="text"
                                       id="inputThumbnail" placeholder="" required="">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                                      ng-show="portalForma.thumbnail.$error.required"></span>
                                <span id="nazivThumbnail" class="help-block" ng-show="portalForma.thumbnail.$error.required">Naziv datoteke slike.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputContactPerson">Contact person</label>
                                <input name="contactPersonPortal" ng-model="portal.contactPerson" type="text"
                                       class="form-control" id="inputContactPerson" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group {{ "{{ portalForma.contactEmail.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputContactEmail">Contact e-mail</label>
                                <input name="contactEmail" ng-model="portal.contactEmail" type="email"
                                       class="form-control" id="inputContactEmail" placeholder="">
                                <span id="emailError" class="help-block"
                                      ng-show="portalForma.contactEmail.$error.email">Unesite ispravnu adresu e-pošte.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputContactTel">Contact telefon</label>
                                <input name="contactPersonTel" ng-model="portal.contactTel" type="text"
                                       class="form-control" id="inputContactTel" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputDescription">Description</label>
                        <textarea class="form-control" rows="3" name="description" ng-model="portal.description"
                                  id="inputDescription" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default" ng-click="spremi()" ng-disabled="!portalForma.$valid">Spremi
                    </button>

                </form>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bower_components/angular/angular.js') }}"></script>
    <script src="{{ asset('bower_components/angular-resource/angular-resource.js') }}"></script>
    <script src="{{ asset('bower_components/toastr/toastr.min.js') }}"></script>

    <script type="text/javascript">
        var portalApp = angular.module('portalApp', []);

        portalApp.controller('PortalCtrl', ['$scope', '$http', function ($scope, $http) {

//            $scope.portal = {};
            $scope.portal = {
                'id': 0,
                'naziv': '',
                'code': '',
                'link': '',
                'contactPerson': '',
                'contactTel': '',
                'contactEmail': '',
                'description': '',
                'viewTypeConnect': '',
                'viewTypeSetup': '',
                'thumbnail': ''
            };

            $scope.groups = {{ groups }};

            $scope.sadrzaj = {};
            $scope.spremi = function () {
                $http.post('{{ path('portal_createJson' ) }}', $scope.portal).success(function (data) {
                    if (data.ok == 1) {
                        toastr.info('Portal je kreiran.');
                    }else{
                        toastr.error('Nastala je greška prilikom snimanja!');
                    }
                });

                $scope.sadrzaj = $scope.portal;

                $('.modal').modal('hide');

            };
            $http.get('{{ path('portal_portalCodesJson') }}').success(function (data) {
                $scope.codes = data;
            });
        }]);


    </script>
{% endblock %}