{% extends '::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content -%}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="row">
                    <h2>Uredi portal: </h2>

                    <h3><i>{{ entity.naziv }}</i></h3>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                        <br>
                        <a href="{{ path('portal') }}" class="btn btn-sm btn-default" type="button">
                            Pregled svih portala
                        </a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
                <br>
                <img src="{{ asset('bundles/cm/images/') }}{{ entity.thumbnail }}" alt="..." class="img-thumbnail">
                <br>
                <br>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                {{ form(edit_form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
                <div class="form-group">
                    {#{{ form_start(delete_form) }}#}
                    {#{{ form_row(delete_form) }}#}
                    {#{{ form_widget(delete_form.) }}#}
                    {#{{ form_end(delete_form) }}#}
                    {% if entity.portaliKorisnici.count == 0 %}
                        {{ form(delete_form) }}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>



{% endblock %}
