{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">#}
    {% stylesheets
    'node_modules/datatables.net-bs/css/dataTables.bootstrap.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {#<link type="text/css" href="{{ asset('node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet" media="screen">#}
    <style>
        .tooltip-inner {
            max-width: 150px;
            /* If max-width does not work, try using width instead */
            width: 150px;
        }
    </style>
{% endblock %}


{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Lista portala</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <a href="{{ path('portal_new') }}" class="btn btn-sm btn-success pull-right">
                    Izradi novi portal
                </a>
                <a href="{{ path('portalcode') }}" class="btn btn-sm btn-default">
                    Portal kodovi
                </a>
                <a href="{{ path('portalgroup') }}" class="btn btn-sm btn-default">
                    Grupe portala
                </a>

                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" {% if groupSelected is null %} class="active"{% endif %}><a
                                href="{{ path('portal') }}{% if viewType == 'grid' %}?view_type=grid{% endif %}">Svi</a></li>
                    {% for group in groups %}
                        <li role="presentation" {% if groupSelected == group.id %}class="active" {% endif %}><a
                                    href="{{ path('portal') }}?group={{ group.id }}{% if viewType == 'grid' %}&view_type=grid{% endif %}">{{ group.name }}</a></li>
                    {% endfor %}
                    <a href="{{ path('portal') }}?view_type=grid" class="btn btn-sm btn-default pull-right">
                        <i class="fa fa-th" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('portal') }}?view_type=list" class="btn btn-sm btn-default pull-right">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </ul>

                <br>
                {% if viewType == 'grid' %}
                    {% include '@tdCM/Portal/Snippets/grid.html.twig' with { 'entity': entities } %}
                {% else %}
                    {% include '@tdCM/Portal/Snippets/list.html.twig' with { 'entity': entities } %}
                {% endif %}
            </div>
        </div>


    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'node_modules/datatables.net/js/jquery.dataTables.js'
    'node_modules/datatables.net-bs/js/dataTables.bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            var table = $('#lista-portala').DataTable({
                order: [[0, 'asc'], [2, 'asc']],
                "language": {
                    "lengthMenu": "Prikazuje se _MENU_ zapisa po stranici",
                    "zeroRecords": "Nema zapisa",
                    "info": "Stranica _PAGE_ od _PAGES_",
                    "infoEmpty": "Nema zapisa",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "last": "Posljednji",
                    "paginate": {
                        "next": "Sljedeća stranica",
                        "previous": "Prethodna stranica"
                    },
                    "search": "Traži: "
                },
                "columnDefs": [
                    {"width": "4%", "targets": 0},
                    {"width": "7%", "targets": 1},
                    {"width": "23%", "targets": 2},
                    {"width": "15%", "targets": 3},
                    {"width": "14%", "targets": 4},
                    {"width": "13%", "targets": 5},
                    {"width": "13%", "targets": 6},
                    {"width": "10%", "targets": 7}
                ],
            });
            table.columns.adjust().draw();
        });


    </script>
{% endblock %}
