{# src/td/CMBundle/Resources/views/Portal/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Portal - kreiranje {% endblock %}
{% block body %}
	<h1> Kreiranje novog portala</h1>
	{{ form(form) }}
	
{% endblock %}