<table class="record_properties table table-responsive">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ entity.id }}</td>
    </tr>
    <tr>
        <th>Naziv</th>
        <td>{{ entity.naziv }}</td>
    </tr>
    <tr>
        <th>Code</th>
        <td>{{ entity.code.id }}</td>
    </tr>
    <tr>
        <th>Grupa</th>
        <td>({{ entity.portalGroup.id }}) {{ entity.portalGroup.name }}</td>
    </tr>
    <tr>
        <th>Link</th>
        <td><a href="{{ entity.link }}">{{ entity.link }}</a></td>
    </tr>
    <tr>
        <th>Kontakt osoba</th>
        <td>{{ entity.contactPerson }}</td>
    </tr>
    <tr>
        <th>Kontakt email</th>
        <td>{{ entity.contactEmail }}</td>
    </tr>
    <tr>
        <th>Kontakt telefon</th>
        <td>{{ entity.contactTel }}</td>
    </tr>
    <tr>
        <th>Opis</th>
        <td>{{ entity.description }}</td>
    </tr>
    <tr>
        <th>View type setup</th>
        <td>{{ entity.viewTypeSetup }}</td>
    </tr>
    <tr>
        <th>View type connect</th>
        <td>{{ entity.viewTypeConnect }}</td>
    </tr>
    <tr>
        <th>Link za pristup objektu na portalu</th>
        <td>{{ entity.linkPropertyOnPortal }}</td>
    </tr>
    <tr>
        <th>Link za pristup jedinici na portalu</th>
        <td>{{ entity.linkPropertyUnitOnPortal }}</td>
    </tr>
    <tr>
        <th>Povezivanje objekata</th>
        <td>{% if entity.connectProperty %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
    </tr>
    <tr>
        <th>Povezivanje jedinica</th>
        <td>{% if entity.connectPropertyUnit %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
    </tr>
    <tr>
        <th>Upravljanje aktivacijom objekta</th>
        <td>{% if entity.manageActivityProperty %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
    </tr>
    <tr>
        <th>Upravljanje aktivacijom jedinice</th>
        <td>{% if entity.manageActivityPropertyUnit %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
    </tr>
    <tr>
        <th>Mora imati webshop</th>
        <td>{% if entity.mustHaveWebshop %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
    </tr>
    </tbody>
</table>