{% extends '::base.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                <div class="row">
                    <h1>Portal {{ entity.naziv }}</h1>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('portal') }}" class="btn btn-sm btn-default" type="button">
                                    Pregled svih portala
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('portal_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-primary"
                                   type="button"><i class="fa fa-pencil" aria-hidden="true"></i> Uredi</a>
                            </li>
                            {% if entity.portaliKorisnici.count == 0 %}
                                <li>
                                    {{ form_start(delete_form) }}
                                    {{ form_widget(delete_form.submit) }}
                                    {{ form_end(delete_form) }}
                                    {#{{ form(delete_form) }}#}
                                </li>
                            {% endif %}
                        </ul>

                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-3 col-lg-2">
                <br>
                <img src="{{ asset('bundles/cm/images/') }}{{ entity.thumbnail }}" alt="..." class="img-thumbnail">
                <br>
                <br>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {% include '@tdCM/Portal/portal.detail.html.twig' with{'entity': entity} %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h4>Veze na portalu</h4>
            	<table class="table table-responsive">
                    <thead>
                    <th>Id</th>
                    <th>Korisnik</th>
                    <th>Webshop</th>
                    <th>Povezan</th>
                    <th>Na čekanju</th>
                    </thead>
                    <tbody>
                    {% for pk in entity.portaliKorisnici %}
                    <tr>

                        <td>{{ pk.id }}</td>
                        <td>[{{ pk.idCompanyKorisnik }}]
                            {#{% if pk.companyKorisnik is not null %} {{ pk.companyKorisnik.mojaTvrtka.naziv }} {% endif %}#}
                        </td>
                        <td>{% if pk.webshop is not null %}[{{ pk.webshop.id }}] {{ pk.webshop.title }} {% endif %}</td>
                        <td>{{ pk.povezan }}</td>
                        <td>{{ pk.pending }}</td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                {#<a href="{{ path('portal_edit', { 'id': entity.id }) }}"  class="btn btn-xs btn-primary btn-block" type="button"><i class="fa fa-pencil" aria-hidden="true"></i> Uredi</a>#}
                <br>
                <br>
            </div>


        </div>


    </div>




{% endblock %}
