{# src/td/CMBundle/Resources/views/Portal/show.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Portal{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bower_components/toastr/toastr.min.css') }}">#}
{% endblock %}
{% block izbornikTD %}
{% endblock %}
{% block glavniIzbornik %}
{% endblock %}
{% block content %}


    <div class="container-fluid" ng-app="portalApp">
        <div class="row" ng-controller="PortalCtrl">
            <div class="col-md-12">
                <br>

                <form name="portalForma" ng-cloak>

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="inputId">ID</label>
                                <input name="idPortal" ng-model="portal.id" type="text" class="form-control"
                                       id="inputId"
                                       placeholder="" disabled value="{{ portal.id }}">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="form-group {{ "{{ portalForma.naziv.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputNaziv">Naziv</label>
                                <input class="form-control" name="naziv" ng-model="portal.naziv" type="text"
                                       id="inputNaziv" placeholder="Naziv" value="{{ portal.naziv }}" required="">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                                      ng-show="portalForma.naziv.$error.required"></span>
                                <span id="nazivError" class="help-block" ng-show="portalForma.naziv.$error.required">Unesite naziv portala.</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="inputCode">Code</label>
                                <select id="selectCode" class="form-control" name="code" ng-model="portal.code">
                                    <option ng-repeat="code in codes" value="{{ '{{ code.id }}' }}">
                                        [{{ '{{ code.id }}' }}] {{ '{{ code.description }}' }}</option>
                                </select>
                                <span id="codeError" class="help-block" ng-show="portalForma.code.$error.required">Odaberite kod portala.</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group {{ "{{ portalForma.link.$valid ? '' : 'has-error' }}" }}">
                                <label for="input">Link</label>
                                <input name="link" ng-model="portal.link" class="form-control"
                                       id="inputLink" placeholder="http://www.example.com" value="{{ portal.link }}">

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="inputCode">Group</label>
                                <select id="selectGroup" class="form-control" name="group" ng-model="portal.group">
                                    <option ng-repeat="group in groups" value="{{ '{{ group.id }}' }}">
                                        [{{ '{{ group.id }}' }}] {{ '{{ group.name }}' }}</option>
                                </select>
                                <span id="codeError" class="help-block" ng-show="portalForma.code.$error.required">Odaberite kod portala.</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group {{ "{{ portalForma.viewTypeConnect.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputViewTypeConnect">View type connect</label>
                                <input name="viewTypeConnect" ng-model="portal.viewTypeConnect" type="text"
                                       class="form-control"
                                       id="inputViewTypeConnect" value="{{ portal.viewTypeConnect }}" required="">
                                <span id="viewTypeConnectError" class="help-block"
                                      ng-show="portalForma.viewTypeConnect.$error.required">Unesite podatak.</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group {{ "{{ portalForma.viewTypeSetup.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputViewTypeSetup">View type setup</label>
                                <input name="viewTypeSetup" ng-model="portal.viewTypeSetup" type="text"
                                       class="form-control"
                                       id="inputViewTypeSetup" value="{{ portal.viewTypeSetup }}" required="">
                                <span id="viewTypeSetupError" class="help-block"
                                      ng-show="portalForma.viewTypeSetup.$error.required">Unesite podatak.</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group {{ "{{ portalForma.settingsTemplate.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputSettingsTemplate">Settings template</label>
                                <input name="settingsTemplate" ng-model="portal.settingsTemplate" type="text"
                                       class="form-control"
                                       id="inputSettingsTemplate" value="{{ portal.settingsTemplate }}">
                                <span id="settingsTemplateError" class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="form-group {{ "{{ portalForma.thumbnail.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputThumbnail">Naziv</label>
                                <input class="form-control" name="thumbnail" ng-model="portal.thumbnail" type="text"
                                       id="inputThumbnail" placeholder="" required="">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                                      ng-show="portalForma.thumbnail.$error.required"></span>
                                <span id="nazivThumbnail" class="help-block"
                                      ng-show="portalForma.thumbnail.$error.required">Naziv datoteke slike.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputContactPerson">Contact person</label>
                                <input name="contactPersonPortal" ng-model="portal.contactPerson" type="text"
                                       class="form-control" id="inputContactPerson" placeholder=""
                                       value="{{ portal.contactPerson }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group {{ "{{ portalForma.contactEmail.$valid ? '' : 'has-error' }}" }}">
                                <label for="inputContactEmail">Contact e-mail</label>
                                <input name="contactEmail" ng-model="portal.contactEmail" type="email"
                                       class="form-control" id="inputContactEmail" placeholder=""
                                       value="{{ portal.contactEmail }}">
                                <span id="emailError" class="help-block"
                                      ng-show="portalForma.contactEmail.$error.email">Unesite ispravnu adresu e-pošte.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inputContactTel">Contact telefon</label>
                                <input name="contactPersonTel" ng-model="portal.contactTel" type="text"
                                       class="form-control" id="inputContactTel" placeholder=""
                                       value="{{ portal.contactTel }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group {{ "{{ portalForma.link.$valid ? '' : 'has-error' }}" }}">
                                <label for="input">Link objekt na portalu:</label>
                                <input name="linkPropertyOnPortal" ng-model="portal.linkPropertyOnPortal" type="url"
                                       class="form-control"
                                       id="inputLink" placeholder="http://www.example.com"
                                       value="{{ portal.linkPropertyOnPortal }}">

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group {{ "{{ portalForma.link.$valid ? '' : 'has-error' }}" }}">
                                <label for="input">Link unit na portalu:</label>
                                <input name="linkPropertyUnitOnPortal" ng-model="portal.linkPropertyUnitOnPortal"
                                       class="form-control"
                                       id="inputLink" placeholder="http://www.example.com"
                                       value="{{ portal.linkPropertyUnitOnPortal }}">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputDescription">Description</label>
                        <textarea class="form-control" rows="3" name="description" ng-model="portal.description"
                                  id="inputDescription" placeholder=""
                                  value="{{ portal.description }}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="portal.connectProperty"> Dozvoli unos ID objekta s portala
                            (spajanje objekta)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="portal.connectPropertyUnit"> Dozvoli unos ID unita s
                            portala (spajanje unita)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="portal.manageActivityProperty"> Upravljanje aktivnošću
                            objekta
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="portal.manageActivityPropertyUnit"> Upravljanje aktivnošću
                            unita
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="portal.mustHaveWebshop"> Portal mora imati postavljen
                            webshop
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="portal.processChange"> Obradi promjene i transfere za portal
                        </label>
                    </div>

                    <button class="btn btn-default" ng-click="spremi()" ng-disabled="!portalForma.$valid">Spremi
                    </button>

                </form>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script src="{{ asset('bower_components/angular/angular.js') }}"></script>#}
    {#<script src="{{ asset('bower_components/angular-resource/angular-resource.js') }}"></script>#}
    {#<script src="{{ asset('bower_components/toastr/toastr.min.js') }}"></script>#}

    {% javascripts 'node_modules/angular/angular.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var portalApp = angular.module('portalApp', []);

        portalApp.controller('PortalCtrl', ['$scope', '$http', function ($scope, $http) {

            $scope.var1 = 'Spremi1';
            $scope.portal = {
                'id': '{{ portal.id }}',
                'naziv': '{{ portal.naziv }}',
                'code': '{{ portal.code.id }}',
                'group': '{{ portal.portalGroup.id }}',
                'link': '{{ portal.link }}',
                'contactPerson': '{{ portal.contactPerson }}',
                'contactTel': '{{ portal.contactTel }}',
                'contactEmail': '{{ portal.contactEmail }}',
                'description': '{{ portal.description }}',
                'viewTypeConnect': '{{ portal.viewTypeConnect }}',
                'viewTypeSetup': '{{ portal.viewTypeSetup }}',
                'thumbnail': '{{ portal.thumbnail }}',
                'linkPropertyOnPortal': '{{ portal.linkPropertyOnPortal | raw }}',
                'linkPropertyUnitOnPortal': '{{ portal.linkPropertyUnitOnPortal | raw }}',
                'manageActivityProperty': {{ portal.manageActivityProperty ? 'true' : 'false' }},
                'manageActivityPropertyUnit': {{ portal.manageActivityPropertyUnit ? 'true' : 'false' }},
                'connectProperty':{{ portal.connectProperty ? 'true' : 'false' }},
                'connectPropertyUnit':{{ portal.connectPropertyUnit ? 'true' : 'false' }},
                'mustHaveWebshop':{{ portal.mustHaveWebshop ? 'true' : 'false' }},
                'processChange':{{ portal.processChange ? 'true' : 'false' }},
                'settingsTemplate': '{{ portal.settingsTemplate }}'
            };

            $scope.sadrzaj = {};
            $scope.spremi = function () {
                $http.post('{{ path('portal_saveJson', {'portal': portal.id } ) }}', $scope.portal).success(function (data) {
                    if (data.ok == 1) {
                        toastr.info('Promjene za portal {{ portal.naziv }} su uspješno spremljene.');
                    }
                });

                $scope.sadrzaj = $scope.portal;

            };

            $scope.groups = {{ groups|json_encode()|raw }};

            $http.get('{{ path('portal_portalCodesJson') }}').success(function (data) {
                $scope.codes = data;
            });
        }]);


    </script>
{% endblock %}