<div class="container-fluid">

    {% include '@tdCM/General/flash.html.twig' %}


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form id="losForm" action="{{ path('transfer_manual_los', {'setupPropertyUnit': setupPropertyUnit.id }) }}"
                  method="post" role="form">
                <legend>Pošalji LOS na Booking.com za smještajnu
                    jedinicu {{ setupPropertyUnit.idPropertyUnitFront }}</legend>


                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <span class="label">Datum od:</span>
                            <input type="date" name="dateFrom" id="dateFrom" class="form-control"
                                   value="{{ "now"|date("Y-m-d") }}"
                                   title="Datum od:" required="required">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <span class="label">Datum do:</span>
                            <input type="date" name="dateTo" id="dateTo" class="form-control"
                                   value="{{ "now"|date_modify("+12 month")|date("Y-m-d") }}" title="Datum od:"
                                   required="required">
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Pošalji</button>
            </form>
        </div>
    </div>


</div>

<script type="text/javascript">
    $("#losForm").submit(function (e) {

        var url = "{{ path('transfer_manual_los', {'setupPropertyUnit': setupPropertyUnit.id }) }}"; // the script where you handle the form input.

        $.ajax({
            type: "POST",
            url: url,
            data: $("#losForm").serialize(), // serializes the form's elements.
            success: function (data) {
                $('#generalModal').modal('hide')
                alert(data.message); // show response from the php script.
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>
