<div>
    {% set setupProperty = setupObrada.setupPropertyBookingCom(property, portal.codeName) %}

    {% if setupProperty is not null %}
        {% if setupProperty.portalKorisnik.webshop is not null %}
            {% if setupObrada.checkIfSetupPropertyHasWebshopProperty(setupProperty) %}
                <table>
                    <tr style="padding: 2px;">
                        <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                            <button class="btn btn-success btn-xs btn-block" data-toggle='tooltip'
                                    title="Ponovno učitaj objekt {{ property.propertyFront }}"
                                    data-container="body"
                                    onclick="reloadObjectBookingCom({{ property.id }}, '{{ portal.codeName }}')">
                                Osvježi <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
                            <button class="btn btn-xs btn-primary btn-block">
                                Uredi <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>

                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">ID:</td>
                        <td>
                            {% if setupProperty.idPropertyNaPortalu is not null and setupProperty.idPropertyNaPortalu != 0 %}
                                {{ setupProperty.idPropertyNaPortalu }}{% endif %}
                            <i class="fa fa-pencil-square-o" data-toggle='modal'
                               data-target='#generalSetupModal'
                               data-setuppropertyid='{{ setupProperty.id }}'></i>
                        </td>
                    </tr>
                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">Status:</td>
                        <td>{{ setupProperty.aktivan ? 'Aktivan' : 'Neaktivan' }} {{ setupProperty.povezan ? 'Povezan' : '' }}</td>
                        <td><input type="checkbox" value="true" {{ setupProperty.aktivan ? 'checked' : '' }}
                                   onclick="objectActivation({{ setupProperty.id }}, {{ property.id }}, '{{ portal.codeName }}')"
                                   id="AktivanSp{{ setupProperty.id }}"
                                    {% if setupProperty.idPropertyNaPortalu is null and setupProperty.idPropertyNaPortalu == 0 %} disabled {% endif %}></td>
                    </tr>
                    <tr style="padding: 2px;">
                        <td style="padding-left: 5px;">Info:</td>
                        <td><i class="fa fa-info-circle" aria-hidden="true"></i></td>
                    </tr>

                </table>
            {% else %}
                {% include '@tdCM/SetUp/Snippets/webshopProperty.html.twig' %}
            {% endif %}
        {% else %}
            {% include '@tdCM/PortalKorisnik/Snippets/webshop.html.twig' with {'property': property, 'portalNaziv':'Booking.com'} %}
        {% endif %}
    {% else %}
        {% include '@tdCM/SetUp/Snippets/connectPortal.html.twig' with {'portal': portal} %}
    {% endif %}

</div>

    {#<div class="row">#}

        {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
            {#<div class="btn-group btn-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group" aria-label="..."#}
                 {#style="padding-left: 0px; padding-right: 0px;">#}
                {#<button class="btn btn-info btn-xs col-sm-2 col-md-2 col-xs-2"#}
                        {#data-toggle='tooltip'#}
                        {#title="Ponovno učitaj objekt {{ property.propertyFront }}"#}
                        {#data-container="body"#}
                        {#onclick="reloadObjectBookingCom({{ property.id }}, '{{ portal.codeName }}')">#}
                    {#<i class="fa fa-refresh" aria-hidden="true"></i>#}
                {#</button>#}
                {#{% if setupProperty is not null %}#}
                    {#<button class="btn btn-default col-lg-6 col-md-6 col-sm-6 col-xs-6">#}
                        {#ID: {{ setupProperty.id }}</button>#}
                    {#<button class="btn btn-default btn-xs disabled  col-sm-2 col-md-2 col-xs-2"#}
                            {#id="deleteSpu{{ setupProperty.id }}"#}
                            {#data-toggle='tooltip'#}
                            {#title="Ukloni objekt {{ property.propertyFront }} iz channel managera"#}
                            {#data-container="body"#}
                            {#onclick="deleteSetupPropertyUnit('{{ path('setuppropertyunitjson_delete', {'id': setupProperty.id}) }}', {{ setupProperty.id }}, {{ property.id }},{{ property.id }})">#}
                        {#<i class="fa fa-trash fa-lg" aria-hidden="true"></i>#}
                    {#</button>#}
                    {#<button class="btn btn-{% if setupProperty.povezan %}success{% else %}danger{% endif %} btn-xs text-center vert-align col-sm-2 col-md-2 col-xs-2"#}
                            {#id="PovezanSp{{ setupProperty.id }}">#}
                        {#{% if setupProperty.povezan %}#}
                            {#<span class="label label-success"#}
                                  {#data-toggle="tooltip"#}
                                  {#data-placement="top"#}
                                  {#data-container="body"#}
                                  {#title="Jedinice objekta {{ setupProperty.idFront }} spremne za razmjenu">#}
        {#<i class="fa fa-info fa-lg" aria-hidden="true"></i>#}
        {#</span>#}
                        {#{% else %}#}
                            {#<span class="label label-danger"#}
                                  {#data-toggle="tooltip"#}
                                  {#data-placement="top"#}
                                  {#data-container="body"#}
                                  {#title="Nema nijedne jedinice objekta {{ setupProperty.idFront }} za razmjenu">#}
        {#<i class="fa fa-info fa-lg" aria-hidden="true"></i>#}
        {#</span>#}
                        {#{% endif %}#}
                    {#</button>#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}


        {#&#123;&#35;<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">&#35;&#125;#}
        {#&#123;&#35;<button class="btn btn-info btn-xs btn-block"&#35;&#125;#}
        {#&#123;&#35;data-toggle='tooltip'&#35;&#125;#}
        {#&#123;&#35;title="Ponovno učitaj objekt {{ property.propertyFront }}"&#35;&#125;#}
        {#&#123;&#35;data-container="body"&#35;&#125;#}
        {#&#123;&#35;onclick="reloadObjectBookingCom({{ property.id }})">&#35;&#125;#}
        {#&#123;&#35;<i class="fa fa-refresh" aria-hidden="true"></i>&#35;&#125;#}
        {#&#123;&#35;</button>&#35;&#125;#}
        {#&#123;&#35;</div>&#35;&#125;#}
        {#&#123;&#35;{% if setupProperty is not null %}&#35;&#125;#}
        {#&#123;&#35;<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">&#35;&#125;#}
        {#&#123;&#35;<button class="btn btn-default btn-xs btn-block disabled"&#35;&#125;#}
        {#&#123;&#35;id="deleteSpu{{ setupProperty.id }}"&#35;&#125;#}
        {#&#123;&#35;data-toggle='tooltip'&#35;&#125;#}
        {#&#123;&#35;title="Ukloni jedinicu {{ property.propertyFront }} iz channel managera"&#35;&#125;#}
        {#&#123;&#35;data-container="body"&#35;&#125;#}
        {#&#123;&#35;onclick="deleteSetupPropertyUnit('{{ path('setuppropertyunitjson_delete', {'id': setupProperty.id}) }}', {{ setupProperty.id }}, {{ property.id }},{{ property.id }})">&#35;&#125;#}
        {#&#123;&#35;<i class="fa fa-trash" aria-hidden="true"></i>&#35;&#125;#}
        {#&#123;&#35;</button>&#35;&#125;#}
        {#&#123;&#35;</div>&#35;&#125;#}
        {#&#123;&#35;<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">&#35;&#125;#}
        {#&#123;&#35;<div class="btn btn-xs text-center vert-align"&#35;&#125;#}
        {#&#123;&#35;id="PovezanSp{{ setupProperty.id }}">&#35;&#125;#}
        {#&#123;&#35;{% if setupProperty.povezan %}&#35;&#125;#}
        {#&#123;&#35;<span class="label label-success"&#35;&#125;#}
        {#&#123;&#35;data-toggle="tooltip"&#35;&#125;#}
        {#&#123;&#35;data-placement="top"&#35;&#125;#}
        {#&#123;&#35;data-container="body"&#35;&#125;#}
        {#&#123;&#35;title="Jedinice objekta {{ setupProperty.idFront }} spremne za razmjenu">&#35;&#125;#}
        {#&#123;&#35;<i class="fa fa-check fa-lg" aria-hidden="true"></i>&#35;&#125;#}
        {#&#123;&#35;</span>&#35;&#125;#}
        {#&#123;&#35;{% else %}&#35;&#125;#}
        {#&#123;&#35;<span class="label label-danger"&#35;&#125;#}
        {#&#123;&#35;data-toggle="tooltip"&#35;&#125;#}
        {#&#123;&#35;data-placement="top"&#35;&#125;#}
        {#&#123;&#35;data-container="body"&#35;&#125;#}
        {#&#123;&#35;title="Nema nijedne jedinice objekta {{ setupProperty.idFront }} za razmjenu">&#35;&#125;#}
        {#&#123;&#35;<i class="fa fa-times fa-lg" aria-hidden="true"></i>&#35;&#125;#}
        {#&#123;&#35;</span>&#35;&#125;#}

        {#&#123;&#35;{% endif %}&#35;&#125;#}
        {#&#123;&#35;</div>&#35;&#125;#}
        {#&#123;&#35;</div>&#35;&#125;#}
        {#&#123;&#35;{% endif %}&#35;&#125;#}
    {#</div>#}

    {#{% if setupProperty is not null %}#}
        {#<div class="row">#}
            {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                {#<br>#}
            {#</div>#}
        {#</div>#}
        {#{% if setupProperty.portalKorisnik.webshop is not null %}#}

            {#{% if setupObrada.checkIfSetupPropertyHasWebshopProperty(setupProperty) %}#}
                {#&#123;&#35;<div class="form-group">&#35;&#125;#}
                {#<div class="row">#}
                    {#&#123;&#35;<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">&#35;&#125;#}
                    {#&#123;&#35;ID: {{ setupProperty.id }}&#35;&#125;#}
                    {#&#123;&#35;</div>&#35;&#125;#}
                    {#<div class="col-sm-6">#}
                        {#<div class="checkbox">#}
                            {#<label>#}
                                {#<input type="checkbox" value="true" {{ setupProperty.aktivan ? 'checked' : '' }}#}
                                       {#onclick="objectActivation({{ setupProperty.id }}, {{ property.id }}, '{{ portal.codeName }}')"#}
                                       {#id="AktivanSp{{ setupProperty.id }}"#}
                                        {#{% if setupProperty.idPropertyNaPortalu is null and setupProperty.idPropertyNaPortalu == 0 %} disabled {% endif %}>#}
                                {#Aktivan#}
                            {#</label>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-sm-6 pull-right">#}
                        {#&#123;&#35;<button class="btn btn-default btn-xs" onclick="azuriraj({{ setupProperty.id }})">{{ setupProperty.idPropertyNaPortalu }}</button>&#35;&#125;#}
                        {#ID obj. na portalu:#}
                        {#{% if setupProperty.idPropertyNaPortalu is not null and setupProperty.idPropertyNaPortalu != 0 %}#}
                            {#<button class="btn btn-primary btn-xs btn-block"#}
                                    {#data-toggle='modal'#}
                                    {#data-target='#generalSetupModal'#}
                                    {#data-setuppropertyid='{{ setupProperty.id }}'>{{ setupProperty.idPropertyNaPortalu }}</button>#}
                        {#{% else %}#}
                            {#<button class="btn btn-danger btn-xs btn-block"#}
                                    {#data-toggle='modal'#}
                                    {#data-target='#generalSetupModal'#}
                                    {#data-setuppropertyid='{{ setupProperty.id }}'>Spoji#}
                            {#</button>#}
                        {#{% endif %}#}

                    {#</div>#}

                {#</div>#}

                {#&#123;&#35;</div>&#35;&#125;#}

                {#&#123;&#35;<div class="form-group">&#35;&#125;#}
                {#<div class="row">#}
                    {#&#123;&#35;<div class="col-sm-6">&#35;&#125;#}
                    {#&#123;&#35;<div class="checkbox">&#35;&#125;#}
                    {#&#123;&#35;<label>&#35;&#125;#}
                    {#&#123;&#35;<input type="checkbox" value="true" {{ setupProperty.aktivan ? 'checked' : '' }}&#35;&#125;#}
                    {#&#123;&#35;onclick="objectActivation({{ setupProperty.id }}, {{ property.id }})"&#35;&#125;#}
                    {#&#123;&#35;id="AktivanSp{{ setupProperty.id }}"&#35;&#125;#}
                    {#&#123;&#35;{% if setupProperty.idPropertyNaPortalu is null and setupProperty.idPropertyNaPortalu == 0 %} disabled {% endif %}>&#35;&#125;#}
                    {#&#123;&#35;Aktivan&#35;&#125;#}
                    {#&#123;&#35;</label>&#35;&#125;#}
                    {#&#123;&#35;</div>&#35;&#125;#}
                    {#&#123;&#35;</div>&#35;&#125;#}
                    {#<div class="col-sm-6">#}


                    {#</div>#}
                {#</div>#}

                {#&#123;&#35;</div>&#35;&#125;#}

            {#{% else %}#}
                {#{% include '@tdCM/SetUp/Snippets/webshopProperty.html.twig' %}#}
            {#{% endif %}#}
        {#{% else %}#}
            {#{% include '@tdCM/PortalKorisnik/Snippets/webshop.html.twig' with {'property': property, 'portalNaziv':'Booking.com'} %}#}
        {#{% endif %}#}

    {#{% else %}#}
        {#{% include '@tdCM/SetUp/Snippets/connectPortal.html.twig' with {'portal': 1} %}#}
    {#{% endif %}#}

{#</div>#}

