
<table>
    <tr style="padding: 2px;">
        <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">
            <button class="btn btn-success btn-xs btn-block" data-toggle='tooltip'
                    title="Ponovno učitaj objekt {{ property.propertyFront }}"
                    data-container="body"
                    onclick="reloadObjectBookingCom({{ property.id }}, '{{ portal.codeName }}')">
                Osvježi <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </td>
        <td width="50%" style="padding-left: 5px; padding-bottom: 5px;">

        </td>
    </tr>

    <tr style="padding: 2px;">
        <td style="padding-left: 5px;">
            Objekt ne postoji u webshopu:
            <b>[{{ setupProperty.portalKorisnik.idWebshopRates }}] {{ setupProperty.portalKorisnik.webshop.title }}</b>
        </td>
    </tr>
</table>
