{% extends '::base.html.twig' %}

{% block content -%}
    <h1>SetupPropertyUnitLog list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idsetuppropertyunit</th>
                <th>Idwebshop</th>
                <th>Idpropertyunit</th>
                <th>Idpropertyunitnaportalu</th>
                <th>Aktivan</th>
                <th>Idskrbnik</th>
                <th>Datumvrijemepromjene</th>
                <th>Akcija</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('setuppropertyunitlog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idSetupPropertyUnit }}</td>
                <td>{{ entity.idWebshop }}</td>
                <td>{{ entity.idPropertyUnit }}</td>
                <td>{{ entity.idPropertyUnitNaPortalu }}</td>
                <td>{{ entity.aktivan }}</td>
                <td>{{ entity.idSkrbnik }}</td>
                <td>{% if entity.datumVrijemePromjene %}{{ entity.datumVrijemePromjene|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.akcija }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('setuppropertyunitlog_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
