{% extends '::base.html.twig' %}

{% block content -%}
    <h1>SetupPropertyUnitLog</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idsetuppropertyunit</th>
                <td>{{ entity.idSetupPropertyUnit }}</td>
            </tr>
            <tr>
                <th>Idwebshop</th>
                <td>{{ entity.idWebshop }}</td>
            </tr>
            <tr>
                <th>Idpropertyunit</th>
                <td>{{ entity.idPropertyUnit }}</td>
            </tr>
            <tr>
                <th>Idpropertyunitnaportalu</th>
                <td>{{ entity.idPropertyUnitNaPortalu }}</td>
            </tr>
            <tr>
                <th>Aktivan</th>
                <td>{{ entity.aktivan }}</td>
            </tr>
            <tr>
                <th>Idskrbnik</th>
                <td>{{ entity.idSkrbnik }}</td>
            </tr>
            <tr>
                <th>Datumvrijemepromjene</th>
                <td>{{ entity.datumVrijemePromjene|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Akcija</th>
                <td>{{ entity.akcija }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('setuppropertyunitlog') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
