{% extends '::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Postavke prikaza za pregled objekata i jedinica</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-2">

                {#<a href="{{ path('propertiesunitsviewsetup') }}" class="btn btn-default btn-sm">#}
                    {#Povratak na listu#}
                {#</a>#}
                <a href="{{ path('spu_all_2') }}" class="btn btn-default btn-sm">Prikaz objekata i jedinica</a>
                <br>
                <br>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form(edit_form) }}

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                {{ form(delete_form) }}
            </div>
        </div>
    </div>





{% endblock %}
