{% extends '::base.html.twig' %}

{% block content -%}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>PropertiesUnitsViewSetup list</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="records_list table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Idp1</th>
                        <th>Idp2</th>
                        <th>Idp3</th>
                        <th>Idp4</th>
                        <th>Idp5</th>
                        <th>Idp6</th>
                        <th>Idp7</th>
                        <th>Idp8</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <a href="{{ path('propertiesunitsviewsetup_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                            </td>
                            <td>{{ entity.username }}</td>
                            <td>{{ entity.idP1 }}</td>
                            <td>{{ entity.idP2 }}</td>
                            <td>{{ entity.idP3 }}</td>
                            <td>{{ entity.idP4 }}</td>
                            <td>{{ entity.idP5 }}</td>
                            <td>{{ entity.idP6 }}</td>
                            <td>{{ entity.idP7 }}</td>
                            <td>{{ entity.idP8 }}</td>
                            <td>
                                <a href="{{ path('propertiesunitsviewsetup_show', { 'id': entity.id }) }}"
                                   class="btn btn-xs btn-default"><i class="fa fa-file-text-o"
                                                                     aria-hidden="true"></i>
                                    Prikaži</a>
                                <a href="{{ path('propertiesunitsviewsetup_edit', { 'id': entity.id }) }}"
                                   class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>
                                    Uredi</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{{ path('propertiesunitsviewsetup_new') }}" class="btn btn-success btn-sm"
                   type="button">
                    Novi zapis
                </a>
            </div>
        </div>


    </div>





{% endblock %}
