{% extends '::base.html.twig' %}

{% block content -%}

    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>PropertiesUnitsViewSetup creation</h1>

            </div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form(form) }}
    	</div>
    </div>

    <div class="row">
    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="record_actions list-unstyled">
                <li>
                    <a href="{{ path('propertiesunitsviewsetup') }}" class="btn btn-default btn-sm">
                        Povratak na listu
                    </a>
                </li>
            </ul>
    	</div>
    </div>

{% endblock %}
