{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>PropertiesUnitsViewSetup</h1>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="record_properties table table-bordered">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ entity.username }}</td>
                </tr>
                <tr>
                    <th>Idp1</th>
                    <td>{{ entity.idP1 }}</td>
                </tr>
                <tr>
                    <th>Idp2</th>
                    <td>{{ entity.idP2 }}</td>
                </tr>
                <tr>
                    <th>Idp3</th>
                    <td>{{ entity.idP3 }}</td>
                </tr>
                <tr>
                    <th>Idp4</th>
                    <td>{{ entity.idP4 }}</td>
                </tr>
                <tr>
                    <th>Idp5</th>
                    <td>{{ entity.idP5 }}</td>
                </tr>
                <tr>
                    <th>Idp6</th>
                    <td>{{ entity.idP6 }}</td>
                </tr>
                <tr>
                    <th>Idp7</th>
                    <td>{{ entity.idP7 }}</td>
                </tr>
                <tr>
                    <th>Idp8</th>
                    <td>{{ entity.idP8 }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <ul class="record_actions list-unstyled">
                <li>
                    <a href="{{ path('propertiesunitsviewsetup') }}" class="btn btn-default btn-sm">
                        Povratak na listu
                    </a>
                </li>
                <li>
                    <a href="{{ path('propertiesunitsviewsetup_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
    	</div>
    </div>


{% endblock %}
