{% extends '::baseBookerTech.html.twig' %}

{% block content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Log obrade promjena</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <h4>
                            <small>Datum i vrijeme obrade</small> </h4>
                    </li>
                    <li>
                        <h4>
                            <small>Broj promjena</small> </h4>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="noviTransferi"></table>
                <div id="noviTransferiPager"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var podaci = {{ noviTransferi|raw }};
        var rowsToColor = [];

        $('#porukaModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data('raw'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-body p').text(JSON.stringify(recipient));
        });

        $('#transferModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var spuTransferiUrl = button.data('transfer'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-body').load(spuTransferiUrl, function () {
//                test2();
                if (naslov)
                    $('#transferModalLabel').text(naslov);
                else $('#transferModalLabel').text('Popis transfera');
            });
            
//            spuTransferi(spuTransferiUrl);

        });


        $(document).ready(function () {
            // | ------------------------------------------------- |
            // | ************ Tablica noviTransferi ************** |
            // | TAB 1: Ova tablica sadrži popis transfera za      |
            // | setupPropertyUnit                                 |
            // | ------------------------------------------------- |
            $("#noviTransferi").jqGrid({
                datatype: "local",
                data: podaci,
                page: 1,
                rownumbers: true,
                hoverrows: false,
                colModel: [
                    {name: 'id', label: 'ID Transfer', width: 70, align: 'center', key: true},
                    {name: 'setup_property_unit.portal_korisnik.portal.naziv', label: 'Portal', width: 100, align: 'center'},
                    {name: 'setup_property_unit.id_property_unit_front', label: 'ID Unit', width: 100, align: 'center'},
                    {name: 'promjena.id', label: 'ID Promjene', width: 100, align: 'center'},
                    {name: 'promjena.grupa_promjene', label: 'Grupa promjene', width: 130, align: 'center'},
                    {name: 'promjena.tip_promjene', label: 'Tip promjene', width: 130, align: 'center'},
                    {
                        name: 'promjena.date_from',
                        label: 'Datum od',
                        width: 75,
                        align: 'center',
                        formatter: "date",
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y"}
                    },
                    {
                        name: 'promjena.date_to',
                        label: 'Datum do',
                        width: 75,
                        align: 'center',
                        formatter: "date",
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y"}
                    },
                    {
                        name: 'promjena.datumvrijeme',
                        label: 'Dat. Vri. promjene',
                        width: 120,
                        align: 'center',
                        formatter: "date",
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"}
                    },
                    {
                        name: 'ok',
                        label: 'OK',
                        width: 85,
                        align: 'center',
                        formatter: rowColorFormatter,
                        stype: 'select',
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ':[Sve];true:Uspješni;false:Neuspješni'}
                    },
                    {name: 'AKT', width: 50, align: 'center', sortable: false, search: false}
                ],
                loadonce: false,
                //navOptions: {reloadGridOptions: {fromServer: true}},
                //autowidth: true,
                height: '100%',
                rowNum: 20,
                rowList: [20, 50, 100],
                viewrecords: true,
                pager: "#noviTransferiPager",
                gridComplete: function () {
                    //Ovdje ću stavit kvačicu ako je transfer uspješan
                    var grid = jQuery("#noviTransferi");
                    var ids = grid.jqGrid('getDataIDs');
                    grid.setGridParam({datatype: 'local', page: 1});

                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var selector = '#' + cl;
                        var rowData = grid.getRowData(cl);
                        var se = "<a class='ui-button ui-button-icon-only' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='ui-icon ui-icon-circle-plus'></span></a>";
                        {#var de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Obradi promjene za " + rowData.idPropertyFront + "' target='_blank' href='{{ path('promjena_obradi1promjenu') }}" + "?idSetupProperty=" + cl + "'><span class='glyphicon glyphicon-share'></span></a>";#}
                        var de = "<button type='button' class='btn btn-default btn-xs'  data-toggle='tooltip' data-placement='top' title='Ponovo pokreni transfer " + rowData.id + "' data-delay='500' onclick='obradiTransfer(" + rowData.id + ");' ><span class='glyphicon glyphicon-transfer'></span></button>";
                        if ("<span class=\"glyphicon glyphicon-remove\"></span>" == rowData.ok) grid.jqGrid('setRowData', cl, {AKT: de});
                    }
                    for (var i = 0; i < rowsToColor.length; i++) {
//                var status = $("#" + rowsToColor[i]).find("td").eq(7).html();
//                if (status == "Complete") {
                        if (1) {
//                    $("#" + rowsToColor[i]).find("td").css("background-color", "red");
//                    $("#" + rowsToColor[i]).find("td").css("color", "silver");
                            $("#" + rowsToColor[i]).find("td").addClass('bg-danger');
                        }

                    }

                }

            });

            $('#noviTransferi').jqGrid('filterToolbar', {
                // JSON stringify all data from search, including search toolbar operators
                stringResult: true,
                // instuct the grid toolbar to show the search options
                searchOperators: false
            });

            $('#noviTransferi').jqGrid('navGrid', '#noviTransferiPager', {
                        search: false, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: false
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );
        });

        function obradiTransfer(id) {
            var url = "{{ path('transfer_obradiTransfer', {'transfer':0}) }}" + id;
            $.ajax({
                method: "POST",
                url: url
            }).done(function (msg) {
                alert(msg);
            });
        }

        function rowColorFormatter(cellValue, options, rowObject) {
            if (cellValue == false) {
                rowsToColor[rowsToColor.length] = options.rowId;
                return "<span class='glyphicon glyphicon-remove'></span>";
            } else {
                return "<span class='glyphicon glyphicon-ok'></span>"
//        return cellValue;
            }
        }
    </script>

{% endblock %}