{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Transfer</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idcmpromjena</th>
                <td>{{ entity.idCMPromjena }}</td>
            </tr>
            <tr>
                <th>Ok</th>
                <td>{{ entity.ok }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('transfer') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
