{% extends '::base.html.twig' %}

{% block stylesheets %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="{{ asset('angular/dist/ng-table.js') }}"></script>
    <script src="{{ asset('angular/js/ng-table-resizable-columns.js') }}"></script>

    <link type="text/css" href="{{ asset('angular/dist/ng-table.css') }}" rel="stylesheet" media="screen">

{% endblock %}

{% block content -%}

    <div class="container-fluid" ng-app="main">
        <div class="row">
            <div class="col-md-12">
                <h1>Promjena list</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>
                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': offset, 'sort':'id', 'smjer': (sort == 'id' and smjer == 'ASC' ? 'DESC' : 'ASC') }) }}">Id{% if sort == 'id' and smjer == 'ASC' %}
                                <span class="glyphicon glyphicon-chevron-up"></span>{% elseif sort == 'id' and smjer == 'DESC' %}
                                <span
                                        class="glyphicon glyphicon-chevron-down"></span>{% endif %}</a></th>
                        <th>
                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': offset, 'sort':'grupaPromjene', 'smjer': (sort == 'grupaPromjene' and smjer == 'ASC' ? 'DESC' : 'ASC') }) }}">Grupa
                                promjene{% if sort == 'grupaPromjene' and smjer == 'ASC' %} <span
                                        class="glyphicon glyphicon-chevron-up"></span>{% elseif sort == 'grupaPromjene' and smjer == 'DESC' %}
                                <span
                                        class="glyphicon glyphicon-chevron-down"></span>{% endif %}</a></th>
                        <th>
                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': offset, 'sort':'tipPromjene', 'smjer': (sort == 'tipPromjene' and smjer == 'ASC' ? 'DESC' : 'ASC') }) }}">Tip
                                promjene{% if sort == 'tipPromjene' and smjer == 'ASC' %} <span
                                        class="glyphicon glyphicon-chevron-up"></span>{% elseif sort == 'tipPromjene' and smjer == 'DESC' %}
                                <span
                                        class="glyphicon glyphicon-chevron-down"></span>{% endif %}</a></th>
                        <th>Idcompany</th>
                        <th>
                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': offset, 'sort':'unitCode', 'smjer': (sort == 'unitCode' and smjer == 'ASC' ? 'DESC' : 'ASC') }) }}">Unitcode{% if sort == 'unitCode' and smjer == 'ASC' %}
                                <span
                                        class="glyphicon glyphicon-chevron-up"></span>{% elseif sort == 'unitCode' and smjer == 'DESC' %}
                                <span
                                        class="glyphicon glyphicon-chevron-down"></span>{% endif %}</a></th>
                        <th>Datefrom</th>
                        <th>Dateto</th>
                        <th>Idreservation</th>
                        <th>Idpricelist</th>
                        <th>Datumvrijeme</th>
                        <th>Iduserclient</th>
                        <th>Mjestonastanka</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" id="id" aria-describedby="sizing-addon3">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <select class="form-control" aria-describedby="sizing-addon3">
                                    <option>Availability</option>
                                    <option>Reservation</option>
                                </select>
                            </div>
                        </td>
                        <td><select class="form-control">
                                <option>set</option>
                                <option>xx</option>
                            </select>
                        </td>
                        <td><input class="form-control" type="text" id="idCompany"></td>
                        <td><input class="form-control" type="text" id="Unitcode"></td>
                        <td><input class="form-control" type="date" id="datefrom"></td>
                        <td><input class="form-control" type="date" id="dateto"></td>
                        <td></td>
                        <td></td>
                        <td><input class="form-control" type="date" id="datumvrijeme"></td>
                        <td>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">@</span>
                                <input type="text" class="form-control" placeholder="Username"
                                       aria-describedby="sizing-addon3">
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('promjena_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.grupaPromjene }}</td>
                            <td>{{ entity.tipPromjene }}</td>
                            <td>{{ entity.idCompany }}</td>
                            <td>{{ entity.unitCode }}</td>
                            <td>{% if entity.dateFrom %}{{ entity.dateFrom|date('d.m.Y') }}{% endif %}</td>
                            <td>{% if entity.dateTo %}{{ entity.dateTo|date('d.m.Y') }}{% endif %}</td>
                            <td>{{ entity.idReservation }}</td>
                            <td>{{ entity.idPricelist }}</td>
                            <td>{% if entity.datumvrijeme %}{{ entity.datumvrijeme|date('d.m.Y') }}{% endif %}</td>
                            <td>{{ entity.idUserClient }}</td>
                            <td>{{ entity.mjestoNastanka }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{{ path('promjena_show', { 'id': entity.id }) }}">Detalj</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left">
                    <nav>

                        <ul class="pagination">
                            <li>
                                <a href="{{ path('promjena_page', { 'limit': limit, 'offset': offset-limit, 'sort': sort }) }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% if brStr < 20 %}
                                {% for i in 0..brStr %}
                                    {% if offset == limit * i %}
                                        <li class="active">
                                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': limit *  i, 'sort': sort }) }}">{{ (i+1)|number_format(0, '', '') }}
                                                <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': limit *  i, 'sort': sort }) }}">{{ (i+1)|number_format(0, '', '') }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for i in 0..5 %}
                                    {% if offset == limit * i %}
                                        <li class="active">
                                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': limit *  i, 'sort': sort }) }}">{{ (i+1)|number_format(0, '', '') }}
                                                <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': limit *  i, 'sort': sort }) }}">{{ (i+1)|number_format(0, '', '') }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href="#"> ... </a></li>
                                {% for i in (brStr-5)..brStr %}
                                    {% if offset == limit * i %}
                                        <li class="active">
                                            <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('promjena_page', { 'limit': limit, 'offset': limit *  i, 'sort': sort }) }}">{{ (i+1)|number_format(0, '', '') }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <li>
                                <a href="{{ path('promjena_page', { 'limit': limit, 'offset': offset+limit, 'sort': sort }) }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ path('promjena_page', { 'limit': 10, 'offset': offset, 'sort': sort }) }}"
                           class="btn btn-default {% if limit == 10 %}active{% endif %}">10</a>
                        <a href="{{ path('promjena_page', { 'limit': 25, 'offset': offset, 'sort': sort }) }}"
                           class="btn btn-default {% if limit == 25 %}active{% endif %}">25</a>
                        <a href="{{ path('promjena_page', { 'limit': 50, 'offset': offset, 'sort': sort }) }}"
                           class="btn btn-default {% if limit == 50 %}active{% endif %}">50</a>
                        <a href="{{ path('promjena_page', { 'limit': 100, 'offset': offset, 'sort': sort }) }}"
                           class="btn btn-default {% if limit == 100 %}active{% endif %}">100</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div ng-controller="DemoCtrl">

                    <table ng-table="tableParams" show-filter="true" class="table ng-table-resizable-columns">
                        <tr ng-repeat="user in $data">
                            <td data-title="'Name'" header-class="'text-left'" sortable="'name'"
                                filter="{ 'name': 'text' }">
                               {{ '{{ user.name }}' }}
                            </td>
                            <td data-title="'Age'" header-class="'text-right'" sortable="'age'"
                                filter="{ 'age': 'text' }">
                                {{ '{{ user.age }}' }}
                            </td>
                        </tr>
                    </table>

                    <script>
                        var app = angular.module('main', ['ngTable', 'ngTableResizableColumns']).
                                controller('DemoCtrl', function ($scope, $filter, NgTableParams) {
                                    var data = [
                                        {name: "Moroni", age: 50},
                                        {name: "Tiancum", age: 43},
                                        {name: "Jacob", age: 27},
                                        {name: "Nephi", age: 29},
                                        {name: "Enos", age: 34},
                                        {name: "Tiancum", age: 43},
                                        {name: "Jacob", age: 27},
                                        {name: "Nephi", age: 29},
                                        {name: "Enos", age: 34},
                                        {name: "Tiancum", age: 43},
                                        {name: "Jacob", age: 27},
                                        {name: "Nephi", age: 29},
                                        {name: "Enos", age: 34},
                                        {name: "Tiancum", age: 43},
                                        {name: "Jacob", age: 27},
                                        {name: "Nephi", age: 29},
                                        {name: "Enos", age: 34}
                                    ];
                                    $scope.data = data;

                                    $scope.tableParams = new NgTableParams({
                                        page: 1,            // show first page
                                        count: 10           // count per page
                                    }, {
                                        total: data.length, // length of data
                                        getData: function ($defer, params) {
                                            // use built-in angular filter
                                            var filteredData = params.filter() ?
                                                    $filter('filter')(data, params.filter()) :
                                                    data;
                                            var orderedData = params.sorting() ?
                                                    $filter('orderBy')(filteredData, params.orderBy()) :
                                                    data;

                                            params.total(orderedData.length); // set total for recalc pagination
                                            $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                                        }
                                    });
                                })


                    </script>

                    <style>
                        .rc-handle-container {
                            position: relative;
                        }

                        .rc-handle {
                            position: absolute;
                            width: 7px;
                            cursor: ew-resize;
                            margin-left: -3px;
                            z-index: 2;
                        }

                        table.rc-table-resizing {
                            cursor: ew-resize;
                        }

                        table.rc-table-resizing thead, table.rc-table-resizing thead > th, table.rc-table-resizing thead > th > a {
                            cursor: ew-resize;
                        }
                    </style>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}


{% endblock %}
