{# src/td/CMBundle/Resources/views/SetUp/index.html.twig #}

{#{% extends '::baseBookerTech.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}Pregled promjena{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/cm/css/jquery-ui-1.10.0.custom.css'
    'bundles/cm/css/ui.jqgrid.css'
    'bundles/cm/css/ui.jqgrid-bootstarp.css'
    'bundles/cm/css/prettify.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}
{% block glavniIzbornik %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            	<div class="row">
            		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>Promjene na smještajnim jedinicama</h2>
            		</div>
            	</div>
                <div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="{{ path('promjena_obradisvepromjene') }}" class="btn btn-default" role="button">Obradi sve
                            promjene</a>
                	</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Prikaz promjena <i class="fa fa-info-circle fa-lg pull-right"></i> </h3>
                    </div>
                    <div class="panel-body">
                        Prikazuju se samo promjene kojima je datum do > današnjeg dana i za koje postoje jedinice
                        u Channel manageru.
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <br>
            <? echo "test"; ?>
        </div>
        <div class="row">
            <div class="col-md-12">

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Promjene" aria-controls="Promjene" role="tab"
                                                                  data-toggle="tab">Promjene</a></li>
                        <li role="presentation"><a href="#Transferi" aria-controls="Transferi"
                                                   role="tab" data-toggle="tab">Transferi</a></li>
                    </ul>

                    <!-- Tab panes -->

                    <div class="tab-content">

                        {# WSaktivni #}
                        <div role="tabpanel" class="tab-pane active" id="Promjene">

                            <br/>
                            <table id="t1Promjene"></table>
                            <div id="t1PromjenePager"></div>

                        </div>

                        {# WSCMneprijavljeni #}
                        <div role="tabpanel" class="tab-pane" id="Transferi">
                            <br/>

                            <div class="row">
                                <div class="col-md-1">
                                    <h5 class="text-right">Grupiraj po:</h5>
                                </div>
                                <div class="col-md-2">
                                    <select id="chngroup" class="form-control input-sm">
                                        <option value="mjesto">Mjesto</option>
                                        <option value="skrbnik">Skrbnik</option>
                                        <option value="vlasnik">Vlasnik</option>
                                        <option value="clear" selected="selected">Bez grupiranja</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-md-12">
                                    <table id="t2Objekti"></table>
                                    <div id="jqGridPager"></div>

                                </div>
                            </div>
                        </div>

                        {# WS neprijavljeni #}
                        <div role="tabpanel" class="tab-pane" id="WSneprijavljeni">
                            <br/>

                            <div class="row">
                                <div class="col-md-1">
                                    <h5 class="text-right">Grupiraj po:</h5>
                                </div>
                                <div class="col-md-2">
                                    <select id="chngroupTab3" class="form-control input-sm">
                                        <option value="nazivProperty">Naziv objekta</option>
                                        <option value="mjestoProperty">Mjesto</option>
                                        <option value="nazivSkrbnik">Skrbnik</option>
                                        <option value="nazivVlasnik">Vlasnik</option>
                                        <option value="clear" selected="selected">Bez grupiranja</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                </div>
                            </div>
                            <br/>

                            <table id="jqGridTab3"></table>
                            <div id="jqGridPagerTab3"></div>
                            <br/>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'bundles/cm/js/jquery-ui-1.10.0.custom.min.js'
    'bundles/cm/js/grid.locale-hr.js'
    'bundles/cm/jqgrid/js/jquery.jqGrid.min.js'
    'bundles/cm/js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function () {

            // | ------------------------------------------------- |
            // | ************ Tablica t1Promjene ************* |
            // | TAB 1: Ova tablica sadrži popis promjena općenito |
            // | ------------------------------------------------- |
            $("#t1Promjene").jqGrid({
                url: "{{ path('promjena_jqgrid_json') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
                rownumbers: true,
                hoverrows: false,
                colModel: [
                    {name: 'id', label: 'ID Promjene', width: 100, align: 'center', key: true, hidden: true},
                    {
                        name: 'grupaPromjene',
                        label: 'Grupa',
                        width: 85,
                        align: 'center',
                        stype: 'select',
                        searchoptions: {value: '{{ grupePromjenaStr }}'}
                    },
                    {
                        name: 'tipPromjene',
                        label: 'Tip',
                        width: 85,
                        align: 'center',
                        stype: 'select',
                        searchoptions: {value: '{{ tipoviPromjenaStr }}'}
                    },
                    {name: 'idCompany', label: 'ID Company', width: 140, align: 'left', hidden: true},
                    {name: 'unitCode', label: 'Unit Code', width: 100, align: 'center', searchoptions: {sopt: ['cn', 'bw']}},
                    {name: 'propertyUnit', label: 'Property Unit', width: 100, align: 'left', hidden: true},
                    {name: 'webshop', label: 'Webshop', width: 100, align: 'left', hidden: true},
                    {
                        name: 'dateFrom.date', label: 'Datum od', width: 100, align: 'center',
                        index: 'dateFrom.date',
                        formatter: "date",
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y"},
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'dateTo.date', label: 'Datum do', width: 100, align: 'center',
                        index: 'dateTo.date',
                        formatter: "date",
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y"},
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'idReservation',
                        label: 'ID Rezervacije',
                        width: 100,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']}
                    },
                    {
                        name: 'idPricelist',
                        label: 'ID Pricelist',
                        width: 80,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']}
                    },
                    {
                        name: 'datumvrijeme.date', label: 'Datum Vrijeme', width: 130, align: 'center',
                        index: 'datumvrijeme.date',
                        formatter: "date",
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"},
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'idUserClient',
                        label: 'ID User Client',
                        width: 100,
                        align: 'center',
                        searchoptions: {sopt: ['cn', 'eq', 'lt', 'ge', 'le', 'ne']}
                    },
                    {
                        name: 'nazivClient',
                        label: 'Naziv Client',
                        width: 100,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']}
                    },
                    {
                        name: 'mjestoNastanka',
                        label: 'Mjesto nastanka',
                        width: 110,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                    },
                    {
                        name: 'AKT',
                        width: 50,
                        align: 'center',
                        sortable: false,
                        search: false
                    }
                ],
                loadonce: true,
                navOptions: {reloadGridOptions: {fromServer: true}},
                autowidth: false,
                height: '100%',
                rowNum: 20,
                rowList: [20, 50, 100],
                viewrecords: true,
                pager: "#t1PromjenePager",
                subGrid: false, // set the subGrid property to true to show expand buttons for each row
                subGridRowExpanded: showChildGrid, // javascript function that will take care of showing the child grid
                subGridOptions: {
                    "plusicon": "ui-icon-triangle-1-e",
                    "minusicon": "ui-icon-triangle-1-s",
                    "openicon": "ui-icon-arrowreturn-1-e",
                    "expandOnLoad": false,
                    reloadOnExpand: true
                },
                gridComplete: function () {
                    var grid = jQuery("#t1Promjene");
                    var ids = grid.jqGrid('getDataIDs');
//                    grid.setGridParam({datatype: 'local', page: 1});
//                    for (var i = 0; i < ids.length; i++) {
//                        var cl = ids[i];
//                        var selector = '#' + cl;
//                        var rowData = grid.getRowData(cl);
//                        var be = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='glyphicon glyphicon-plus'></span></a>";
//                        var se = "<a class='ui-button ui-button-icon-only' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='ui-icon ui-icon-circle-plus'></span></a>";
//                        jQuery("#t1Promjene").jqGrid('setRowData', cl, {AKT: de});
//                    }
                }
            });

            $('#t1Promjene').jqGrid('filterToolbar', {
                // JSON stringify all data from search, including search toolbar operators
                stringResult: true,
                // instuct the grid toolbar to show the search options
                searchOperators: false
            });

            $('#t1Promjene').jqGrid('navGrid', '#t1PromjenePager', {
                        search: true, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: true //show refresh button on the toolbar
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );
        });


        // the event handler on expanding parent row receives two parameters
        // the ID of the grid tow  and the primary key of the row
        var aktualniParentGrid = 0;
        var aktualniParentRow;
        var aktualniSubgrid;
        function showChildGrid(parentRowID, parentRowKey) {
            var childGridID = parentRowID + "_table";

            if (aktualniParentGrid != childGridID && aktualniParentGrid != 0) {
                $('#' + aktualniParentGrid).jqGrid('toggleSubGridRow', aktualniParentRow);
            }
            aktualniParentGrid = parentRowID.substr(0, parentRowID.indexOf('_'));
            aktualniSubgrid = parentRowID + "_table";

            //var childGridPagerID = parentRowID + "_pager";

            // send the parent row primary key to the server so that we know which grid to show
            //var childGridURL = parentRowKey+".json";

            //Ako je nadređeni parent grid povezani onda subgrid šalje upit na back tip="povezani" inače tip="nepovezani"
//            var ret = $('#' + aktualniParentGrid).jqGrid('getRowData', parentRowKey);
            var tip = "povezani";
            if (aktualniParentGrid == "t2Objekti") tip = "nepovezani";

            var childGridURL = "{{ path('td_cm_setUp_vSetupPropertyUnitGridJson') }}" + "?idSetupProperty=" + parentRowKey + "&tip=" + tip;
            //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

            // add a table and pager HTML elements to the parent grid row - we will render the child grid here
            //$('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
            $('#' + parentRowID).append('<table id=' + childGridID + '></table> ');

            $("#" + childGridID).jqGrid({
                url: childGridURL,
                editurl: "{{ path('td_cm_setUp_setupPropertyUnitPersistRowGrid') }}",
                mtype: "GET",
                datatype: "json",
                page: 1,
//            rownumbers: true,
                headertitles: true,
                ajaxSelectOptions:      //use this for combination with dataUrl for formatter:select
                {
                    dataType: 'json',
                    type: "POST", // data:"{'CountryId':'1' }"
                    data: {
                        idSetupPropertyUnit: function () {
                            var selectedRowId = jQuery("#" + childGridID).jqGrid('getGridParam', 'selrow');
                            var ret = jQuery("#" + childGridID).jqGrid('getRowData', selectedRowId);
                            if (selectedRowId == null) {
                                return 0;
                            }
                            return ret.id;
                        }
                    }
                },
                colModel: [
                    {
                        label: " ",
                        name: "actions",
                        width: 70,
                        formatter: "actions",
                        formatoptions: {
                            keys: true,
                            editButton: true,
                            delbutton: false,
                            afterSave: function (rowId, response) {
                                var gridUniti = $('#' + aktualniSubgrid);
                                var gridNepovezani = $('#' + aktualniParentGrid);
                                var gridPovezani = $("#t1Promjene");
                                var selector = "#" + parentRowKey;
                                var rowDataUnit = gridUniti.getRowData(rowId);
//                                alert(parentRowKey);
                                var rowDataParent = gridNepovezani.getRowData(parentRowKey);
//
                                if (aktualniParentGrid.toLocaleString() === 't1Promjene') {
                                    if (rowDataUnit.idPropertyUnitNaPortalu == "" || rowDataUnit.aktivan != "Yes") {
                                        //Obriši redak unita
                                        gridUniti.delRowData(rowId);
                                        //Obriši ako je zadnji unit u objektu povezanih
                                        if (rowDataParent.brojNeprijavljenih == (rowDataParent.brojUnita - 1)) {
                                            gridPovezani.delRowData(parentRowKey);
                                            location.reload();
                                        }
                                        //Reloadaj stranicu
                                    }
                                } else {
                                    if (rowDataUnit.idPropertyUnitNaPortalu != "" && rowDataUnit.aktivan == "Yes") {
                                        //Obrši redak unita
//                                        alert("tu san");
                                        gridUniti.delRowData(rowId);
                                        if (rowDataParent.brojNeprijavljenih == 1) {
                                            gridNepovezani.delRowData(parentRowKey);
                                        }
                                        gridPovezani.trigger('reloadGrid');
//                                        gridPovezani.trigger("reloadGrid", { fromServer: true, page: 1 });
                                    }
                                }
                                alert(response.responseText);
                            },
                            editOptions: {}
                        }
                    },
                    {label: 'ID Setup Property Unit', name: 'id', key: true, width: 100, hidden: true},
                    {label: 'ID Unit', name: 'idPropertyUnitFront', width: 90, align: 'center'},
                    {
                        name: 'aktivan',
                        label: 'Aktivan',
                        width: 1160,
                        editable: true,
                        formatter: "checkbox",
                        edittype: "checkbox",
                        align: 'center',
                        stype: "select",
                        // searchoptions value - name values pairs for the dropdown - they will appear as options
                        searchoptions: {value: ":Svi;true:Aktivni;No:Neaktivni"}
                    }
                ],
                loadonce: true,
                autowidth: true,
                hoverrows: false,
                //width: 325,
                height: '100%',
                //Ovo se izvršava samo pod uvjeton da je portal Booking.com
                gridComplete: function () {
                    var idGrid = "#" + childGridID;
                    var grid = jQuery(idGrid)
                    var ids = grid.jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var selector = '#' + cl;
                        var idSetupPropertyUnit = grid.jqGrid('getCell', cl, 'id')
                        //de = "<button id='botun' class='ui-button' href='{{ path('td_cm_setUp_t3prijavi1') }}" + "?idSetupPropertyUnit="+ idSetupPropertyUnit + "&idPortalKorisnik=" + 21 + "'><span class='glyphicon glyphicon-download'></span></button>";
                        de = "";
                        //jQuery("#" + childGridID).jqGrid('setRowData', ids[i], {AKT: de});
                    }
                }

            });

            $("#" + childGridID).closest("div.ui-jqgrid-view")
                    .children("div.ui-jqgrid-hdiv")
                    .hide();
        }

        function autocomplete2(element, polje) {
            $(element).autocomplete({
                minLength: 2,
                autoFocus: true,

                source: function (request, response) {
                    $.ajax({
                        url: "{{ path('td_cm_setUp_autocompleteSetupPropertyGrid') }}" + "?" + polje + "=" + request.term + "&idPortalKorisnik=" + 21,
                        dataType: "json",
                        data: {'term': request.term},
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item[polje],
                                    value: item[polje]
                                }
                            }))
                        }
                    })
                },
            });
        }

        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        datePick = function (elem) {
            jQuery(elem).datepicker({dateFormat: 'dd.mm.yy'});
        }

    </script>

{% endblock %}