{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Obrada promjena za objekt: {{ property }}</h1>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <dl>
                    {% for stavka in log %}
                        <dt>{{ stavka.naslov }}</dt>
                        {% if stavka.promjena %}
                            <dd>Promjena: [{{ stavka.promjena }}]</dd>
                        {% endif %}
                        <dd>{{ stavka.tekst }}</dd>
                        {% if stavka.povratnaPoruka %}
                            <dd>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                        data-target="#{{ stavka.idSetupPropertyUnit }}" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    Povratna poruka
                                </button>
                                <div class="collapse" id="{{ stavka.idSetupPropertyUnit }}">
                                    <div class="well">
                                        {{ stavka.povratnaPoruka }}
                                    </div>
                                </div>
                            </dd>
                        {% endif %}
                    {% endfor %}
                </dl>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('promjena') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
