{% extends '::base.html.twig' %}

{% block content -%}

    <div class="container-fluid" ng-app="main">
        <div class="row">
            <div class="col-md-12">
                <h1>Log obrade promjena</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <h4>
                            <small>Datum i vrijeme obrade</small>{{ logZaFront.zaglavlje.datumVrijemeObrade }} </h4>
                    </li>
                    <li>
                        <h4>
                            <small>Broj promjena</small>{{ logZaFront.zaglavlje.brojPromjena }} </h4>
                    </li>
                </ul>

                {% for promjena in logZaFront.tijelo %}

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><strong>Promjena:</strong> {{ promjena.idPromjena }}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <dl class="dl-horizontal">
                                        <dt>Smještajna jedinica</dt>
                                        <dd>{{ promjena.idPropertyUnitFront }}</dd>
                                        <dt>Datum i vrijeme nastanka</dt>
                                        <dd>{{ promjena.datumVrijeme }}</dd>
                                        <dt>Datum od</dt>
                                        <dd>{{ promjena.dateFrom }}</dd>
                                        <dt>Datum do</dt>
                                        <dd>{{ promjena.dateTo }}</dd>
                                        <dt>Mjesto nastanka</dt>
                                        <dd>{{ promjena.mjestoNastanka }}</dd>
                                    </dl>
                                </div>

                                <div class="col-md-9"><!-- Table -->
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th> Portal</th>
                                            <th> ID Unit CM</th>
                                            <th>ID Unit Portal</th>
                                            <th>ID Transfer</th>
                                            <th> Poruka</th>
                                            <th>Uspješnost</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for spu in promjena.setupPropertyUnits %}
                                            <tr>
                                                {% if spu.postojeNedovrsenePromjene == 0 %}
                                                    <td>{{ spu.poruka.portalNaziv }}</td>
                                                    <td>{{ spu.poruka.idSetupPropertyUnit }} <button type="button"
                                                                                                     class="btn btn-default btn-xs"
                                                                                                     data-toggle="modal"
                                                                                                     data-target="#transferModal"
                                                                                                     data-transfer="{{ path('transfer_spuTransferi', {'setupPropertyUnit': spu.poruka.idSetupPropertyUnit}) }}">
                                                            Svi transferi
                                                        </button></td>
                                                    <td>{{ spu.poruka.idSetupPropertyUnitNaPortalu }}</td>
                                                    <td>{{ spu.poruka.idTransfer }}</td>
                                                    <td>
                                                        <button type="button"
                                                                class="btn {% if spu.poruka.uspjeh == 1 %}btn-primary {% else %} btn-warning {% endif %} btn-xs"
                                                                data-toggle="modal"
                                                                data-target="#porukaModal"
                                                                data-raw='{{ spu.poruka.raw }}'>
                                                            Poruka
                                                        </button>
                                                    </td>
                                                    <td>
                                                        {% if spu.poruka.uspjeh == 1 %}
                                                            <span class="glyphicon glyphicon-ok"
                                                                  aria-hidden="true"></span>
                                                        {% else %}
                                                            <span class="glyphicon glyphicon-remove"
                                                                  aria-hidden="true"></span>
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td colspan="5">{{ spu.poruka|first }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="porukaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Poruka</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="transferModalLabel">Poruka</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#porukaModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data('raw'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-body p').text(JSON.stringify(recipient));
        });

        $('#transferModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var spuTransferiUrl = button.data('transfer'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-body').load(spuTransferiUrl, function () {
//                test2();
            });
            if(naslov)
            $('#transferModalLabel').text(naslov);
            else $('#transferModalLabel').text('Popis transfera');
//            spuTransferi(spuTransferiUrl);

        });



        function spuTransferi(spuTransferiUrl){
            alert(spuTransferiUrl);
//                        $(document).ready(function () {
            // | ------------------------------------------------- |
            // | ************ Tablica tSpuTransferi ************** |
            // | TAB 1: Ova tablica sadrži popis transfera za      |
            // | setupPropertyUnit                                 |
            // | ------------------------------------------------- |
            $("#tSpuTransferi").empty();
            $("#jqGridPager1").empty();
            $.jgrid.GridDestroy('#tSpuTransferi');
            $("#tSpuTransferi").jqGrid({
                url: spuTransferiUrl,
                mtype: "GET",
                datatype: "json",
                page: 1,
                rownumbers: true,
                hoverrows: false,
                colModel: [

                    {name: 'id', label: 'ID Transfer', width: 100, align: 'center', key: true, hidden: true},
                    {name: 'idPropertyUnitFront', label: 'ID Unit', width: 100, align: 'center', classes: 'bg-info'},
                    {name: 'idPromjene', label: 'ID Promjene', width: 150, align: 'center', classes: 'bg-info'},
                    {name: 'grupaPromjene', label: 'Grupa Promjene', width: 140, align: 'left', classes: 'bg-info'},
                    {name: 'tipPromjene', label: 'Tip promjene', width: 140, align: 'left', classes: 'bg-info'},
                    {name: 'dateFrom.date', label: 'Datum od', width: 150, align: 'left', classes: 'bg-info'},
                    {name: 'dateTo.date', label: 'Datum do', width: 150, align: 'left', classes: 'bg-info'},
                    {
                        name: 'datumVrijemePromjene.date',
                        label: 'Dat. Vri promjene',
                        width: 150,
                        align: 'left',
                        classes: 'bg-info'
                    },
                    {
                        name: 'datumVrijemeUspjesnogTrasnfera',
                        label: 'Dat. Vri. transfera',
                        width: 180,
                        align: 'center',
                        formatter: "date",
                        classes: 'bg-info',
                        formatoptions: {srcformat: "ISO8601Long", newformat: "d.m.Y [H:i:s]"},
                        searchoptions: {sopt: ['cn', 'bw']}
                    },
                    {
                        name: 'brojPokusaja',
                        label: 'Br. pokusaja',
                        width: 70,
                        align: 'center',
                        searchoptions: {sopt: ['gt', 'eq', 'lt', 'ge', 'le', 'ne']},
                        classes: 'bg-info'
                    },
                    {name: 'AKT', width: 50, align: 'center', sortable: false, search: false, classes: 'bg-info'}
                ],
                loadonce: false,
                //navOptions: {reloadGridOptions: {fromServer: true}},
                //autowidth: true,
                height: '100%',
                rowNum: 20,
                rowList: [20, 50, 100],
                viewrecords: true,
                pager: "#jqGridPager1",
                gridComplete: function () {
                    //Ovdje ću stavit kvačicu ako je transfer uspješan
                    var grid = jQuery("#tSpuTransferi");
                    var ids = grid.jqGrid('getDataIDs');
                    grid.setGridParam({datatype: 'local', page: 1});
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var selector = '#' + cl;
                        var rowData = grid.getRowData(cl);
                        var be = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='glyphicon glyphicon-plus'></span></a>";
                        var se = "<a class='ui-button ui-button-icon-only' data-toggle='tooltip' data-placement='top' title='Dodavanje stavke' data-delay='500' onclick=\"dodaj('" + cl + "');\"><span class='ui-icon ui-icon-circle-plus'></span></a>";
                        var de = "<a class='btn btn-default btn-xs' data-toggle='tooltip' data-placement='top' title='Obradi promjene za " + rowData.idPropertyFront + "' target='_blank' href='{{ path('promjena_obradi1promjenu') }}" + "?idSetupProperty=" + cl + "'><span class='glyphicon glyphicon-share'></span></a>";
                        jQuery("#tSpuTransferi").jqGrid('setRowData', cl, {AKT: de});

                        //Gasim subgrid za one objekte koji nemaju smještajne jedinice

                        if (rowData.brojUnita == 0 || (rowData.brojUnita == rowData.brojNeprijavljenih)) {
                            $(selector).find("td.ui-sgcollapsed>a").hide();
                            $(selector).find("td.ui-sgcollapsed").removeClass("sgcollapsed");
                        }
                    }
                }
            });

            $('#tSpuTransferi').jqGrid('filterToolbar', {
                // JSON stringify all data from search, including search toolbar operators
                stringResult: true,
                // instuct the grid toolbar to show the search options
                searchOperators: true
            });

            $('#tSpuTransferi').jqGrid('navGrid', '#jqGridPager1', {
                        search: true, // show search button on the toolbar
                        add: false,
                        edit: false,
                        del: false,
                        refresh: false
                    },
                    {},
                    {},
                    {},
                    {multipleSearch: true, multipleGroup: false}
            );
        }

        function destroy(){
            alert('obrisat ću grid');
            $('#tSpuTransferi').remove();
        }

    </script>

{% endblock %}
