{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Promjena</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idcompany</th>
                <td>{{ entity.idCompany }}</td>
            </tr>
            <tr>
                <th>Unitcode</th>
                <td>{{ entity.unitCode }}</td>
            </tr>
            <tr>
                <th>Datefrom</th>
                <td>{{ entity.dateFrom|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateto</th>
                <td>{{ entity.dateTo|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Idreservation</th>
                <td>{{ entity.idReservation }}</td>
            </tr>
            <tr>
                <th>Idpricelist</th>
                <td>{{ entity.idPricelist }}</td>
            </tr>
            <tr>
                <th>Datumvrijeme</th>
                <td>{{ entity.datumvrijeme|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Iduserclient</th>
                <td>{{ entity.idUserClient }}</td>
            </tr>
            <tr>
                <th>Mjestonastanka</th>
                <td>{{ entity.mjestoNastanka }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('promjena') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
