{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'node_modules/jquery-ui-dist/jquery-ui.min.css'
    'node_modules/free-jqgrid/dist/css/ui.jqgrid.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="grid">

                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'node_modules/jquery-ui-dist/jquery-ui.min.js'
    'node_modules/free-jqgrid/dist/jquery.jqgrid.min.js'
    'node_modules/free-jqgrid/dist/i18n/min/grid.locale-hr.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        //<![CDATA[
        $(function () {
            "use strict";
            $("#grid").jqGrid({
                colModel: [
                    {name: "firstName", label: "Ime"},
                    {name: "lastName", label: "Prezime"}
                ],
                data: [
                    {id: 10, firstName: "Angela", lastName: "Merkel"},
                    {id: 20, firstName: "Vladimir", lastName: "Putin"},
                    {id: 30, firstName: "David", lastName: "Cameron"},
                    {id: 40, firstName: "Barack", lastName: "Obama"},
                    {id: 50, firstName: "François", lastName: "Hollande"},
                    {id: 60, firstName: "Angela", lastName: "Merkel"},
                    {id: 70, firstName: "Vladimir", lastName: "Putin"},
                    {id: 80, firstName: "David", lastName: "Cameron"},
                    {id: 90, firstName: "Barack", lastName: "Obama"},
                    {id: 100, firstName: "François", lastName: "Hollande"}
                ],
                iconSet: "fontAwesome",
                guiStyle: "bootstrap",
                headertitles: true,
                pager: true,
                rowNum: 5,
                viewrecords: true,
                rownumbers:true
            }).jqGrid("filterToolbar");
        });
        //]]>
    </script>
{% endblock %}